{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true
  },
  "plugins": [
    "node"
  ],
  "rules": {
    "no-console": "off",
    "strict": ["error", "global"],

    "node/no-unsupported-features": ["error", {"version": 4}],
    "node/no-missing-require": "error"
  }
}
