/* Fills
-------------------------------------------------------- */
.fill-dark        { background-color:#404040; }
.fill-white       { background:#fff; }
.fill-light       { background:#f8f8f8; }

.fill-cyan        { background:#3bb2d0; }
.fill-midnight    { background:#142736; }

.fill-blue        { background:#3887be; }
.fill-denim       { background:#50667f; }
.fill-navy        { background:#28353d; }
.fill-navy-dark   { background:#222B30; }
.fill-purple      { background:#8a8acb; }
.fill-green       { background:#56b881; }
.fill-yellow      { background:#f1f075; }
.fill-orange      { background:#f9886c; }

.fill-darkblue    { background-color:#223b53; }
.fill-red         { background-color:#e55e5e; }
.fill-teal        { background-color:#41afa5; }
.fill-pink        { background-color:#ed6498; }
.fill-mustard     { background-color:#fbb03b; }

.fill-darken-5  { background:rgba(0,0,0,0.05); }
.fill-darken-25 { background:rgba(0,0,0,0.25); }
.fill-darken-50 { background:rgba(0,0,0,0.50); }
.fill-darken-75 { background:rgba(0,0,0,0.75); }

.fill-lighten-10 { background:rgba(255,255,255,0.10); }
.fill-lighten-25 { background:rgba(255,255,255,0.25); }
.fill-lighten-50 { background:rgba(255,255,255,0.50); }
.fill-lighten-75 { background:rgba(255,255,255,0.75); }
