html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
html {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  margin: 0;
  border: 0;
}
html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
button {
  background: transparent;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  width: auto;
  text-align: left;
  appearance: none;
  user-select: none;
  cursor: pointer;
  border-radius: 0;
}
button:disabled {
  cursor: default;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
abbr {
  text-decoration: none;
}
svg {
  display: inline-block;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: top;
}
video {
  width: 100%;
  height: auto;
}
q::before,
q::after {
  content: '';
}
pre {
  display: block;
  white-space: pre-wrap;
  tab-size: 2;
}
legend {
  display: block;
  width: 100%;
}
[data-assembly-focus-control] *:focus {
  outline: 0;
}
[data-assembly-focus-control='visible'] *:focus {
  box-shadow: var(--focus-shadow);
  transition: box-shadow var(--transition);
}
[data-assembly-focus-control='visible'] input:focus + .checkbox,
[data-assembly-focus-control='visible'] input:focus + .radio,
[data-assembly-focus-control='visible'] input:focus + .switch,
[data-assembly-focus-control='visible'] input:focus + .toggle {
  box-shadow: var(--focus-shadow);
}
:is(
    input:focus-visible + .switch,
    .switch-container:has(> input:focus-visible) .switch
  ) {
  box-shadow: var(--focus-shadow);
}
[data-assembly-focus-control='visible'] .range input[type='range'] {
  box-shadow: none;
}
[data-assembly-focus-control='visible']
  .range
  input[type='range']:focus::-webkit-slider-thumb {
  box-shadow: var(--focus-shadow);
}
[data-assembly-focus-control='visible']
  .range
  input[type='range']:focus::-ms-fill-upper {
  box-shadow: var(--focus-shadow);
}
[data-assembly-focus-control='visible']
  .range
  input[type='range']:focus::-ms-fill-lower {
  box-shadow: var(--focus-shadow);
}
[data-assembly-focus-control='visible']
  .range
  input[type='range']:focus::-ms-thumb {
  box-shadow: var(--focus-shadow);
}
[data-assembly-focus-control='visible']
  .range
  input[type='range']:focus::-moz-range-thumb {
  box-shadow: var(--focus-shadow);
}
[data-assembly-focus-control] .range::-moz-focus-outer {
  border: 0;
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-display: swap;
  src: url('https://api.mapbox.com/mapbox-assembly/fonts/opensans-regular.v1.woff2')
      format('woff2'),
    url('https://api.mapbox.com/mapbox-assembly/fonts/opensans-regular.v1.woff')
      format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-display: swap;
  src: url('https://api.mapbox.com/mapbox-assembly/fonts/opensans-light.v1.woff2')
      format('woff2'),
    url('https://api.mapbox.com/mapbox-assembly/fonts/opensans-light.v1.woff')
      format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-display: swap;
  src: url('https://api.mapbox.com/mapbox-assembly/fonts/opensans-italic.v1.woff2')
      format('woff2'),
    url('https://api.mapbox.com/mapbox-assembly/fonts/opensans-italic.v1.woff')
      format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  font-display: swap;
  src: url('https://api.mapbox.com/mapbox-assembly/fonts/opensans-bold.v1.woff2')
      format('woff2'),
    url('https://api.mapbox.com/mapbox-assembly/fonts/opensans-bold.v1.woff')
      format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  src: url('https://api.mapbox.com/mapbox-assembly/fonts/opensans-bolditalic.v1.woff2')
      format('woff2'),
    url('https://api.mapbox.com/mapbox-assembly/fonts/opensans-bolditalic.v1.woff')
      format('woff');
}
.table,
.prose table:not(.unprose) {
  width: 100%;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: separate;
  border: 1px solid var(--gray-light);
  border-radius: var(--border-radius);
}
.prose table:not(.unprose) {
  margin-bottom: 18px;
}
.table th,
.table td,
.prose table th:not(.unprose),
.prose table td:not(.unprose) {
  text-align: left;
  vertical-align: top;
  padding: 12px;
  border-style: solid;
  border-color: var(--gray-light);
  border-left-width: 1px;
  border-bottom-width: 1px;
}
.table th:first-child,
.table td:first-child,
.prose table th:first-child:not(.unprose),
.prose table td:first-child:not(.unprose) {
  border-left-width: 0;
}
.table :not(thead) tr:last-of-type th,
.table :not(thead) tr:last-of-type td,
.prose table :not(thead) tr:last-of-type th:not(.unprose),
.prose table :not(thead) tr:last-of-type td:not(.unprose) {
  border-bottom-width: 0;
}
.table--dark,
.prose--dark table:not(.unprose) {
  background: transparent;
  border-color: var(--white);
  color: var(--white);
}
.table--dark th,
.table--dark td,
.prose--dark th:not(.unprose),
.prose--dark td:not(.unprose) {
  border-bottom-color: var(--white);
}
.table--dark th + td {
  border-left-color: var(--white);
}
.btn:hover,
.btn.is-active {
  background-color: var(--blue-deep);
}
.btn--stroke:hover,
.btn--stroke.is-active {
  background-color: transparent;
  color: var(--blue-deep);
}
.btn:disabled {
  pointer-events: none;
  color: var(--disabled75);
  background-color: var(--disabled25);
  box-shadow: none;
}
.btn.btn--stroke:disabled {
  pointer-events: none;
  background-color: transparent;
  box-shadow: inset 0 0 0 1px var(--disabled75);
  color: var(--disabled75);
}
.btn--pill-stroke:hover,
.btn--pill-stroke.is-active {
  z-index: 2;
}
.btn.btn--pill-hc {
  border-radius: 0 !important;
}
.btn.btn--pill-hl {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.btn.btn--pill-hr {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.btn.btn--pill-hc:not(.btn--pill-stroke),
.btn.btn--pill-hr:not(.btn--pill-stroke) {
  margin-left: 1px;
}
.btn.btn--pill-vc {
  border-radius: 0 !important;
  display: block;
  width: 100%;
}
.btn.btn--pill-vt {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  display: block;
  width: 100%;
}
.btn.btn--pill-vb {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  display: block;
  width: 100%;
}
.btn.btn--pill-vc:not(.btn--pill-stroke),
.btn.btn--pill-vb:not(.btn--pill-stroke) {
  margin-top: 1px;
}
.btn--pill-stroke.btn--pill-hc {
  margin-left: -1px;
  margin-right: 0;
}
.btn--pill-stroke.btn--pill-hr {
  margin-left: -1px;
}
.btn--pill-stroke.btn--pill-vc {
  margin-top: -1px;
  margin-bottom: 0;
}
.btn--pill-stroke.btn--pill-vb {
  margin-top: -1px;
}
.link:hover,
.link.is-active {
  color: var(--blue-dark);
}
.link:disabled {
  pointer-events: none;
  cursor: default;
  color: var(--disabled75);
}
.fieldset,
.input,
.select,
.textarea {
  appearance: none;
  font-family: inherit;
  background: var(--transparent);
  border: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
}
.input,
.textarea,
.select {
  box-shadow: inset 0 0 0 1px var(--gray-light);
  padding: 6px 12px;
  border-radius: var(--border-radius);
  transition: background-color var(--transition), box-shadow var(--transition);
  display: block;
  width: 100%;
}
.input:focus,
.textarea:focus {
  box-shadow: inset 0 0 0 1px var(--gray);
}
[data-assembly-focus-control='visible'] .select.select--stroke:focus {
  box-shadow: inset 0 0 0 1px var(--gray), var(--focus-shadow);
}
.input::placeholder,
.textarea::placeholder {
  color: var(--disabled75);
}
.input::-ms-clear,
.input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
.input[type='search'] {
  appearance: none;
}
.input[type='search']::-webkit-search-decoration,
.input[type='search']::-webkit-search-cancel-button {
  appearance: none;
}
.input:disabled,
.textarea:disabled,
.select--stroke:disabled {
  pointer-events: none;
  color: var(--darken50);
  background-color: var(--disabled10);
  box-shadow: inset 0 0 0 1px var(--disabled25) !important;
}
.input[readonly],
.textarea[readonly] {
  background-color: var(--disabled10);
}
.select:hover {
  color: var(--gray-deep);
}
.select:focus + .select-arrow {
  border-top-color: var(--gray);
}
.select option {
  background-color: var(--white);
  color: var(--gray-deep);
}
.select option:disabled {
  color: var(--darken25);
}
.select::-ms-expand {
  display: none;
}
.select option {
  color: var(--gray-deep);
}
@media all and (-ms-high-contrast: active) {
  .select:focus::-ms-value {
    background-color: var(--transparent);
    color: inherit;
  }
}
@media all and (-ms-high-contrast: none) {
  .select:focus::-ms-value {
    background-color: var(--transparent);
    color: inherit;
  }
}
.select--s + .select-arrow {
  right: 8px;
}
.select--stroke .select--s {
  padding: 3px 24px 3px 6px;
}
.select:disabled {
  pointer-events: none;
  color: var(--disabled75);
}
.select:disabled + .select-arrow {
  border-top-color: var(--darken25);
}
.range > input {
  appearance: none;
  width: 100%;
  margin: 0;
  border: 0;
  background: var(--transparent);
  cursor: pointer;
  padding: 8px 0;
}
.range > input::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  padding: 0;
  border: 0;
  border-radius: 2px;
  background: currentColor;
  vertical-align: middle;
  cursor: pointer;
  box-shadow: none;
}
.range > input::-moz-range-track {
  width: 100%;
  height: 4px;
  padding: 0;
  border: 0;
  border-radius: 2px;
  background: currentColor;
  vertical-align: middle;
  cursor: pointer;
  box-shadow: none;
}
.range > input::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: var(--transparent);
  border-color: var(--transparent);
  border-width: 12px 0;
  color: var(--transparent);
}
.range > input::-ms-fill-lower {
  background: currentColor;
  border: 0;
  box-shadow: none;
  border-radius: 2px;
}
.range > input::-ms-fill-upper {
  background: currentColor;
  border: 0;
  box-shadow: none;
  border-radius: 2px;
}
.range > input::-webkit-slider-thumb {
  box-sizing: border-box;
  transition: background var(--transition);
  appearance: none;
  box-shadow: none;
  width: 20px;
  height: 20px;
  margin-top: -8px;
  border-radius: 50%;
  border: 1px solid currentColor;
  background: var(--white);
  cursor: grab;
}
.range > input::-moz-range-thumb {
  box-sizing: border-box;
  transition: background var(--transition);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid currentColor;
  background: var(--white);
  cursor: grab;
}
.range > input::-ms-thumb {
  box-sizing: border-box;
  transition: background var(--transition);
  width: 20px;
  height: 20px;
  margin-top: 0;
  border-radius: 50%;
  border: 1px solid currentColor;
  background: var(--white);
  cursor: grab;
}
.range > input::-webkit-slider-thumb:active {
  cursor: grabbing;
}
.range > input::-moz-range-thumb:active {
  cursor: grabbing;
}
.range > input::-ms-thumb:active {
  cursor: grabbing;
}
.range--s > input {
  padding: 4px 0;
}
.range--s > input::-webkit-slider-runnable-track {
  height: 2px;
}
.range.range--s > input::-moz-range-track {
  height: 2px;
}
.range.range--s > input::-ms-track {
  border-width: 9px 0;
  height: 2px;
}
.range--s > input::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  margin-top: -5px;
}
.range--s > input::-moz-range-thumb {
  width: 12px;
  height: 12px;
  margin-top: -5px;
}
.range--s > input::-ms-thumb {
  width: 12px;
  height: 12px;
  margin-top: 0;
}
.range > input:disabled::-webkit-slider-runnable-track {
  background: var(--disabled25);
}
.range > input:disabled::-moz-range-track {
  background: var(--disabled25);
}
.range > input:disabled::-ms-fill-upper {
  background: var(--disabled25);
}
.range > input:disabled::-ms-fill-lower {
  background: var(--disabled25);
}
.range > input:disabled::-webkit-slider-thumb {
  border-color: var(--disabled25);
  background: var(--gray-faint);
}
.range > input:disabled::-ms-thumb {
  border-color: var(--disabled25);
  background: var(--gray-faint);
}
.range > input:disabled::-moz-range-thumb {
  border-color: var(--disabled25);
  background: var(--gray-faint);
}
.checkbox-container,
.switch-container,
.radio-container {
  user-select: none;
  display: inline-flex;
}
.switch-container {
  align-items: center;
}
.toggle-container > input,
.checkbox-container > input,
.switch-container > input,
.radio-container > input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.checkbox,
.radio {
  cursor: pointer;
  top: 3px;
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  border-radius: var(--border-radius);
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: var(--transparent);
  transition: color var(--transition), border var(--transition),
    background-color var(--transition);
}
.btn:not(.btn--stroke) > .checkbox {
  border-color: var(--transparent);
  top: 0;
}
.checkbox > .icon {
  position: absolute;
  width: 18px;
  height: 18px;
  inset: -1px;
  display: none;
}
.radio::before {
  content: '';
  background-color: currentColor;
  border-radius: 50%;
  position: absolute;
  inset: 2px;
  display: none;
}
.switch::after {
  content: '';
  background-color: var(--white);
  position: absolute;
  display: block;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  transition: translate var(--transition), background-color var(--transition);
}
.switch--l::after {
  width: 30px;
  height: 30px;
}
@media (prefers-reduced-motion: reduce) {
  .switch::after {
    transition: background-color var(--transition);
  }
}
.checkbox--s-label,
.radio--s-label {
  top: 0;
}
input:disabled {
  pointer-events: none;
}
input:disabled + :is(.checkbox, .radio),
input:checked:disabled + :is(.checkbox, .radio) {
  pointer-events: none;
  color: var(--darken25);
}
:is(
    input:disabled + .switch,
    .switch-container:has(> input:disabled) .switch
  ) {
  pointer-events: none;
  background-color: var(--disabled25);
}
input:disabled + :is(.radio, .checkbox) {
  background-color: var(--disabled25);
  border-color: var(--transparent);
}
input:checked:disabled + :is(.checkbox, .radio),
:is(
    input:checked:disabled + .switch,
    .switch-container:has(> input:checked:disabled) .switch
  ) {
  background-color: var(--disabled25);
}
:is(
    input:disabled + .switch,
    .switch-container:has(> input:disabled) .switch
  )::after,
:is(
    input:checked:disabled + .switch,
    .switch-container:has(> input:checked:disabled) .switch
  )::after {
  background-color: var(--darken25);
}
input:checked + .checkbox > .icon,
input:checked + .radio::before {
  display: block;
}
input:checked + .radio {
  color: var(--gray);
}
input:checked + .checkbox {
  border: 1px solid var(--transparent);
  background-color: var(--gray);
}
:is(
    input:checked + .switch,
    .switch-container:has(> input:checked) .switch
  )::after {
  translate: 12px;
}
:is(
    input:checked + .switch--l,
    .switch-container:has(> input:checked) .switch--l
  )::after {
  translate: 18px;
}
:is(
    input:checked + .switch,
    .switch-container:has(> input:checked) .switch
  ) {
  background-color: var(--gray-deep);
}
input:checked + .toggle {
  background: var(--gray);
  color: var(--white);
}
input:disabled + .toggle {
  pointer-events: none;
  color: var(--darken25);
  border-color: var(--transparent);
}
input:checked:disabled + .toggle {
  background-color: var(--disabled25);
  color: var(--darken25);
}
body,
input,
textarea {
  color: var(--gray-dark);
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  font-family: var(--font-stack-base);
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
.txt-kbd,
.prose:not(.unprose) kbd {
  font-family: var(--font-stack-mono);
  border: 1px solid var(--darken25);
  line-height: var(--line-height-s);
  border-radius: 3px;
  padding: 2px 3px;
  box-shadow: 0 1px 0 0 var(--darken10);
  font-size: 90%;
  font-weight: normal;
}
.txt-kbd--dark,
.prose--dark kbd:not(.unprose) {
  border: 1px solid var(--lighten25);
  box-shadow: 0 1px 0 0 var(--lighten25);
}
.txt-sub,
.prose sub:not(.unprose) {
  top: 0.5ex;
}
.txt-code,
.pre,
.prose code:not(.unprose),
.prose pre:not(.unprose) {
  font-family: var(--font-stack-mono);
  white-space: pre-wrap;
  font-size: 90%;
  line-height: 1.5em;
  background: var(--darken5);
  border-radius: 3px;
}
.txt-code--dark,
.pre--dark,
.prose--dark code:not(.unprose),
.prose--dark pre:not(.unprose) {
  background: var(--lighten5);
}
.pre,
.prose pre:not(.unprose) {
  padding: 12px;
  overflow: auto;
}
.prose pre:not(.unprose) {
  margin-bottom: 12px;
}
.prose pre code:not(.unprose) {
  background: transparent;
  padding: 0;
}
.txt-code,
.prose code:not(.unprose) {
  padding: 2px 4px;
}
.txt-abbr,
.prose abbr:not(.unprose) {
  border-bottom: 1px dotted currentColor;
  cursor: help;
}
.txt-hr,
.prose hr:not(.unprose) {
  margin: 17px 0;
  border: 0;
  height: 1px;
  background: var(--darken10);
}
.txt-hr--dark,
.prose--dark hr:not(.unprose) {
  background: var(--lighten10);
}
.prose ol:not(.unprose),
.prose ul:not(.unprose),
.txt-ol,
.txt-ul {
  margin-left: 24px;
}
.prose ol:not(.unprose),
.prose ul:not(.unprose) {
  margin-bottom: 12px;
}
.prose ol ol:not(.unprose),
.prose ul ul:not(.unprose),
.prose ol ol ol:not(.unprose),
.prose ul ul ul:not(.unprose) {
  margin-bottom: 6px;
}
.txt-ul,
.prose ul:not(.unprose) {
  list-style: disc;
}
.txt-ol,
.prose ol:not(.unprose) {
  list-style: decimal;
}
.txt-li,
.prose li:not(.unprose) {
  display: list-item;
}
.prose li:not(.unprose) {
  margin-bottom: 6px;
}
.txt-blockquote,
.prose blockquote:not(.unprose) {
  quotes: none;
  font-style: normal;
  padding-left: 18px;
}
.prose blockquote:not(.unprose) {
  margin-bottom: 18px;
}
.txt-sup,
.txt-sub,
.prose sup:not(.unprose),
.prose sub:not(.unprose) {
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  position: relative;
  font-size: 75%;
}
.txt-sup,
.prose sup:not(.unprose) {
  bottom: 1ex;
}
.txt-capitalize-first::first-letter {
  text-transform: capitalize !important;
}
.txt-underline-on-hover:hover {
  text-decoration: underline !important;
}
.prose del:not(.unprose),
.prose s:not(.unprose),
.txt-strike {
  text-decoration: line-through !important;
}
.prose h1:not(.unprose) {
  font-weight: bold;
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  margin-bottom: 12px;
  padding-top: 36px;
}
.prose h2:not(.unprose) {
  font-weight: bold;
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  margin-bottom: 12px;
  padding-top: 24px;
}
.prose h3:not(.unprose) {
  font-weight: bold;
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  margin-bottom: 12px;
  padding-top: 24px;
}
.prose h4:not(.unprose) {
  font-weight: bold;
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
  margin-bottom: 12px;
  padding-top: 18px;
}
.prose h5:not(.unprose),
.prose h6:not(.unprose) {
  font-weight: bold;
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
  margin-bottom: 12px;
  padding-top: 12px;
}
.prose p:not(.unprose) {
  margin-bottom: 12px;
}
.prose small:not(.unprose) {
  display: block;
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  margin-bottom: 12px;
}
.prose a:not(.unprose) {
  color: var(--blue);
  text-decoration: underline;
}
.prose--dark a:not(.unprose) {
  color: var(--white);
}
.prose a:not(.unprose):hover {
  color: var(--blue-dark);
}
.prose--dark a:not(.unprose):hover {
  color: var(--lighten75);
}
.prose img:not(.unprose),
.prose video:not(.unprose) {
  margin-bottom: 12px;
}
.prose h1:first-child:not(.unprose),
.prose h2:first-child:not(.unprose),
.prose h3:first-child:not(.unprose),
.prose h4:first-child:not(.unprose),
.prose h5:first-child:not(.unprose),
.prose h6:first-child:not(.unprose) {
  padding-top: 0;
}
.prose *:last-child:not(.unprose) {
  margin-bottom: 0;
}
.opacity0-on-hover:hover,
.opacity0-on-active.is-active {
  opacity: 0 !important;
}
.opacity25-on-hover:hover,
.opacity25-on-active.is-active {
  opacity: 0.25 !important;
}
.opacity50-on-hover:hover,
.opacity50-on-active.is-active {
  opacity: 0.5 !important;
}
.opacity75-on-hover:hover,
.opacity75-on-active.is-active {
  opacity: 0.75 !important;
}
.opacity100-on-hover:hover,
.opacity100-on-active.is-active,
.opacity100-on-focus:focus {
  opacity: 1 !important;
}
.clearfix::after {
  content: '' !important;
  display: block !important;
  clear: both !important;
}
@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  45% {
    opacity: 0.5;
  }
  90% {
    transform: scale(1.25);
    opacity: 0;
  }
  100% {
    transform: scale(1.25);
    opacity: 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes shake {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-12px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate3d(12px, 0, 0);
  }
}
.scroll-styled::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}
.scroll-styled::-webkit-scrollbar:hover {
  background: transparent;
}
.scroll-styled::-webkit-scrollbar-track {
  background: none;
}
.scroll-styled::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-color: transparent;
  width: 6px;
  border-radius: 3px;
}
.scroll-styled::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.35);
}
.scroll-styled::-webkit-scrollbar-track:hover {
  background: transparent;
}
.scroll-styled--dark::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
}
.scroll-styled--dark::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}
.loading,
.loading--dark {
  display: block;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border: 3px solid var(--darken25);
  border-top-color: currentColor;
  animation: assembly-loading 0.8s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
}
@keyframes assembly-loading {
  to {
    transform: rotate(360deg);
  }
}
@media print {
  .none-print {
    display: none !important;
  }
}
