/**
 * Column container for grids.
 *
 * @example
 * <div class='cols'>
 *  <div class='col6'>
 *  <div class='col6'>
 * </div>
 */
.cols {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  }

/**
 * Limiter width.
 *
 * @example
 * <div class='limiter-1500'>
 *  <div class='cols'>
 *    <div class='col6'>
 *    <div class='col6'>
 *  </div>
 * </div>
 */
.limiter-800 {
  width:800px;
  margin-left:auto;
  margin-right:auto;
  }
.limiter-1600 {
  width:1600px;
  margin-left:auto;
  margin-right:auto;
  }

.col0  { width:04.1666%; }
.col1  { width:08.3333%; }
.col2  { width:16.6666%; }
.col3  { width:25.0000%; }
.col4  { width:33.3333%; }
.col5  { width:41.6666%; }
.col6  { width:50.0000%; }
.col7  { width:58.3333%; }
.col8  { width:66.6666%; }
.col9  { width:75.0000%; }
.col10 { width:83.3333%; }
.col11 { width:91.6666%; }
.col12 { width:100.000%; }

.col-2-gut5  { margin-right:5px; }
.col-2-gut10 { margin-right:10px; }
.col-2-gut20 { margin-right:20px; }
.col-2-gut40 { margin-right:40px; }
.col-2-gut80 { margin-right:80px; }

.col-2-gut5:nth-child(2n+2),
.col-2-gut10:nth-child(2n+2),
.col-2-gut20:nth-child(2n+2),
.col-2-gut40:nth-child(2n+2),
.col-2-gut80:nth-child(2n+2) { margin-right:0; }

/* Tablet */
@media only screen and (max-width:770px) {
  .col-tablet-0  { width:04.1666%; }
  .col-tablet-1  { width:08.3333%; }
  .col-tablet-2  { width:16.6666%; }
  .col-tablet-3  { width:25.0000%; }
  .col-tablet-4  { width:33.3333%; }
  .col-tablet-5  { width:41.6666%; }
  .col-tablet-6  { width:50.0000%; }
  .col-tablet-7  { width:58.3333%; }
  .col-tablet-8  { width:66.6666%; }
  .col-tablet-9  { width:75.0000%; }
  .col-tablet-10 { width:83.3333%; }
  .col-tablet-11 { width:91.6666%; }
  .col-tablet-12 { width:100.000%; }
}

/* Mobile */
@media only screen and (max-width:640px) {
  .col-mobile-0  { width:04.1666%; }
  .col-mobile-1  { width:08.3333%; }
  .col-mobile-2  { width:16.6666%; }
  .col-mobile-3  { width:25.0000%; }
  .col-mobile-4  { width:33.3333%; }
  .col-mobile-5  { width:41.6666%; }
  .col-mobile-6  { width:50.0000%; }
  .col-mobile-7  { width:58.3333%; }
  .col-mobile-8  { width:66.6666%; }
  .col-mobile-9  { width:75.0000%; }
  .col-mobile-10 { width:83.3333%; }
  .col-mobile-11 { width:91.6666%; }
  .col-mobile-12 { width:100.000%; }
}

/* Wide screens */
@media only screen and (min-width:1824px) {
  .col-wide-0  { width:04.1666%; }
  .col-wide-1  { width:08.3333%; }
  .col-wide-2  { width:16.6666%; }
  .col-wide-3  { width:25.0000%; }
  .col-wide-4  { width:33.3333%; }
  .col-wide-5  { width:41.6666%; }
  .col-wide-6  { width:50.0000%; }
  .col-wide-7  { width:58.3333%; }
  .col-wide-8  { width:66.6666%; }
  .col-wide-9  { width:75.0000%; }
  .col-wide-10 { width:83.3333%; }
  .col-wide-11 { width:91.6666%; }
  .col-wide-12 { width:100.000%; }
}
