/**
 * Animate elements.
 * @section Animations
 */

/**
 * Infinite animations.
 * @group
 * @memberof Animations
 * @example
 * <div class="bg-blue inline-block mr20 w50 h50 round animation-pulse"></div>
 * <div class="bg-blue inline-block mr20 w50 h50 round animation-spin"></div>
*/
.animation-pulse { animation: pulse 1.5s infinite ease-in-out; }
.animation-spin { animation: spin 1.5s infinite linear; }
/** @endgroup */

/**
 * Transition and reaction animations run once at a duration of 1.5 seconds.
 * @group
 * @memberof Animations
 * @example
 * <div class="bg-blue inline-block mr20 w50 h50 round animation-fade-in"></div>
 * <div class="bg-blue inline-block mr20 w50 h50 round animation-fade-out"></div>
 * <div class="bg-blue inline-block mr20 w50 h50 round animation-shake"></div>
*/
.animation-fade-in { animation: fadein 1.5s ease-in forwards; }
.animation-fade-out { animation: fadein 1.5s ease-out reverse forwards; }
.animation-shake { animation: shake 1.5s ease-in-out; }
/** @endgroup */

/**
 * Animation modifiers. Speed up the animation duration from 1.5 seconds to 1 second with `animation--speed-fast` or slow it down to 2 seconds with `animation--speed-slow`. Add a 1 second delay with `animation--delay`.
 * @group
 * @memberof Animations
 * @example
* <div class="bg-blue inline-block mr20 w50 h50 round animation-spin animation--speed-fast"></div>
* <div class="bg-blue inline-block mr20 w50 h50 round animation-spin animation--speed-slow"></div>
* <div class="bg-blue inline-block mr20 w50 h50 round animation-spin animation--delay"></div>
*/
.animation--speed-fast { animation-duration: 1s; }
.animation--speed-slow { animation-duration: 2s; }
.animation--delay { animation-delay: 1s; }
/** @endgroup */

/**
 * Loading spinners.
 * - Act on their own or on a loading element.
 * - For a light spinner on dark backgrounds, add the modifying class `loading--light`.
 * - For a smaller spinner, add the modifying class 'loading--s'.
 * @group
 * @memberof Animations
 * @example
 <div class="loading inline-block p10"></div>
 <div class="loading loading--s inline-block p10"></div>
 <div class="loading loading--light bg-gray-dark inline-block p10"></div>
 */
.loading::after,
.loading::after {
  content: '';
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  animation: spin 0.8s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
  border: var(--darken10) 3px solid;
  border-top-color: var(--gray-dark);
}

.loading--light::after {
  border: var(--lighten10) 3px solid !important;
  border-top-color: var(--gray-faint) !important;
}

.loading--s::after {
  height: 20px !important;
  width: 20px !important;
}
/** @endgroup */

@keyframes pulse {
  0% { transform: scale(0.5); opacity: 0; }
  45% { opacity: 0.5; }
  90% { transform: scale(1.25); opacity: 0; }
  100% { transform: scale(1.25); opacity: 0; }
}

@keyframes spin {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes shake {
  from,
  to { transform: translate3d(0, 0, 0); }

  10%,
  30%,
  50%,
  70%,
  90% { transform: translate3d(-10px, 0, 0); }

  20%,
  40%,
  60%,
  80% { transform: translate3d(10px, 0, 0); }
}
