/**
 * Layout classes
 * @namespace Layout
 * @memberof Utilities
*/

/**
 * Limiter classes
 * @namespace Limiter
 * @memberof Layout
*/
.limiter {
  width: 83.3333%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

/**
 * Column container for grids.
 *
 * @example
 * <div class='cols'>
 *  <div class='col6'>
 *  <div class='col6'>
 * </div>
 */
.cols {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/**
 * Column classes
 * @namespace Cols
 * @memberof Layout
*/
.col-0  { width: 04.1666%; }
.col-1  { width: 08.3333%; }
.col-2  { width: 16.6666%; }
.col-3  { width: 25%; }
.col-4  { width: 33.3333%; }
.col-5  { width: 41.6666%; }
.col-6  { width: 50%; }
.col-7  { width: 58.3333%; }
.col-8  { width: 66.6666%; }
.col-9  { width: 75%; }
.col-10 { width: 83.3333%; }
.col-11 { width: 91.6666%; }
.col-12 { width: 100%; }

/**
 * Max width containers
 * @namespace Max widths
 * @memberof Layout
*/
.max-1600 { max-width: 1600px; }
.max-1000 { max-width: 1000px; }

/**
 * Column gutter classes
 * @memberof Layout
*/
.cols-gut-5 > .col-0,
.cols-gut-5 > .col-1,
.cols-gut-5 > .col-2,
.cols-gut-5 > .col-3,
.cols-gut-5 > .col-4,
.cols-gut-5 > .col-5,
.cols-gut-5 > .col-6,
.cols-gut-5 > .col-7,
.cols-gut-5 > .col-8,
.cols-gut-5 > .col-9,
.cols-gut-5 > .col-10,
.cols-gut-5 > .col-11,
.cols-gut-5 > .col-12 {
  margin-right: 5px;
  flex: 1;
}

.cols-gut-10 > .col-0,
.cols-gut-10 > .col-1,
.cols-gut-10 > .col-2,
.cols-gut-10 > .col-3,
.cols-gut-10 > .col-4,
.cols-gut-10 > .col-5,
.cols-gut-10 > .col-6,
.cols-gut-10 > .col-7,
.cols-gut-10 > .col-8,
.cols-gut-10 > .col-9,
.cols-gut-10 > .col-10,
.cols-gut-10 > .col-11,
.cols-gut-10 > .col-12 {
  margin-right: 10px;
  flex: 1;
}

.cols-gut-20 > .col-0,
.cols-gut-20 > .col-1,
.cols-gut-20 > .col-2,
.cols-gut-20 > .col-3,
.cols-gut-20 > .col-4,
.cols-gut-20 > .col-5,
.cols-gut-20 > .col-6,
.cols-gut-20 > .col-7,
.cols-gut-20 > .col-8,
.cols-gut-20 > .col-9,
.cols-gut-20 > .col-10,
.cols-gut-20 > .col-11,
.cols-gut-20 > .col-12 {
  margin-right: 20px;
  flex: 1;
}

.cols-gut-40 > .col-0,
.cols-gut-40 > .col-1,
.cols-gut-40 > .col-2,
.cols-gut-40 > .col-3,
.cols-gut-40 > .col-4,
.cols-gut-40 > .col-5,
.cols-gut-40 > .col-6,
.cols-gut-40 > .col-7,
.cols-gut-40 > .col-8,
.cols-gut-40 > .col-9,
.cols-gut-40 > .col-10,
.cols-gut-40 > .col-11,
.cols-gut-40 > .col-12 {
  margin-right: 40px;
  flex: 1;
}

.cols-gut-80 > .col-0,
.cols-gut-80 > .col-1,
.cols-gut-80 > .col-2,
.cols-gut-80 > .col-3,
.cols-gut-80 > .col-4,
.cols-gut-80 > .col-5,
.cols-gut-80 > .col-6,
.cols-gut-80 > .col-7,
.cols-gut-80 > .col-8,
.cols-gut-80 > .col-9,
.cols-gut-80 > .col-10,
.cols-gut-80 > .col-11,
.cols-gut-80 > .col-12 {
  margin-right: 80px;
  flex: 1;
}

/**
 * Column classes
 * @namespace Cols
 * @memberof Layout
*/
.col-margin-0  { margin-left: 04.1666%; }
.col-margin-1  { margin-left: 08.3333%; }
.col-margin-2  { margin-left: 16.6666%; }
.col-margin-3  { margin-left: 25%; }
.col-margin-4  { margin-left: 33.3333%; }
.col-margin-5  { margin-left: 41.6666%; }
.col-margin-6  { margin-left: 50%; }
.col-margin-7  { margin-left: 58.3333%; }
.col-margin-8  { margin-left: 66.6666%; }
.col-margin-9  { margin-left: 75%; }
.col-margin-10 { margin-left: 83.3333%; }
.col-margin-11 { margin-left: 91.6666%; }
.col-margin-12 { margin-left: 100%; }

/* Tablet */
@media only screen and (max-width: 770px) {
  .limiter {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .col-margin-tablet-0  { margin-left: 04.1666%; }
  .col-margin-tablet-1  { margin-left: 08.3333%; }
  .col-margin-tablet-2  { margin-left: 16.6666%; }
  .col-margin-tablet-3  { margin-left: 25%; }
  .col-margin-tablet-4  { margin-left: 33.3333%; }
  .col-margin-tablet-5  { margin-left: 41.6666%; }
  .col-margin-tablet-6  { margin-left: 50%; }
  .col-margin-tablet-7  { margin-left: 58.3333%; }
  .col-margin-tablet-8  { margin-left: 66.6666%; }
  .col-margin-tablet-9  { margin-left: 75%; }
  .col-margin-tablet-10 { margin-left: 83.3333%; }
  .col-margin-tablet-11 { margin-left: 91.6666%; }
  .col-margin-tablet-12 { margin-left: 100%; }

  .col-tablet-0  { width: 04.1666%; }
  .col-tablet-1  { width: 08.3333%; }
  .col-tablet-2  { width: 16.6666%; }
  .col-tablet-3  { width: 25%; }
  .col-tablet-4  { width: 33.3333%; }
  .col-tablet-5  { width: 41.6666%; }
  .col-tablet-6  { width: 50%; }
  .col-tablet-7  { width: 58.3333%; }
  .col-tablet-8  { width: 66.6666%; }
  .col-tablet-9  { width: 75%; }
  .col-tablet-10 { width: 83.3333%; }
  .col-tablet-11 { width: 91.6666%; }
  .col-tablet-12 { width: 100%; }
}

/* Mobile */
@media only screen and (max-width: 640px) {
  .col-margin-mobile-0  { margin-left: 04.1666%; }
  .col-margin-mobile-1  { margin-left: 08.3333%; }
  .col-margin-mobile-2  { margin-left: 16.6666%; }
  .col-margin-mobile-3  { margin-left: 25%; }
  .col-margin-mobile-4  { margin-left: 33.3333%; }
  .col-margin-mobile-5  { margin-left: 41.6666%; }
  .col-margin-mobile-6  { margin-left: 50%; }
  .col-margin-mobile-7  { margin-left: 58.3333%; }
  .col-margin-mobile-8  { margin-left: 66.6666%; }
  .col-margin-mobile-9  { margin-left: 75%; }
  .col-margin-mobile-10 { margin-left: 83.3333%; }
  .col-margin-mobile-11 { margin-left: 91.6666%; }
  .col-margin-mobile-12 { margin-left: 100%; }

  .col-mobile-0  { width: 04.1666%; }
  .col-mobile-1  { width: 08.3333%; }
  .col-mobile-2  { width: 16.6666%; }
  .col-mobile-3  { width: 25%; }
  .col-mobile-4  { width: 33.3333%; }
  .col-mobile-5  { width: 41.6666%; }
  .col-mobile-6  { width: 50%; }
  .col-mobile-7  { width: 58.3333%; }
  .col-mobile-8  { width: 66.6666%; }
  .col-mobile-9  { width: 75%; }
  .col-mobile-10 { width: 83.3333%; }
  .col-mobile-11 { width: 91.6666%; }
  .col-mobile-12 { width: 100%; }
}

/* Wide screens */
@media only screen and (min-width: 1824px) {
  .col-margin-wide-0  { margin-left: 04.1666%; }
  .col-margin-wide-1  { margin-left: 08.3333%; }
  .col-margin-wide-2  { margin-left: 16.6666%; }
  .col-margin-wide-3  { margin-left: 25%; }
  .col-margin-wide-4  { margin-left: 33.3333%; }
  .col-margin-wide-5  { margin-left: 41.6666%; }
  .col-margin-wide-6  { margin-left: 50%; }
  .col-margin-wide-7  { margin-left: 58.3333%; }
  .col-margin-wide-8  { margin-left: 66.6666%; }
  .col-margin-wide-9  { margin-left: 75%; }
  .col-margin-wide-10 { margin-left: 83.3333%; }
  .col-margin-wide-11 { margin-left: 91.6666%; }
  .col-margin-wide-12 { margin-left: 100%; }

  .col-wide-0  { width: 04.1666%; }
  .col-wide-1  { width: 08.3333%; }
  .col-wide-2  { width: 16.6666%; }
  .col-wide-3  { width: 25%; }
  .col-wide-4  { width: 33.3333%; }
  .col-wide-5  { width: 41.6666%; }
  .col-wide-6  { width: 50%; }
  .col-wide-7  { width: 58.3333%; }
  .col-wide-8  { width: 66.6666%; }
  .col-wide-9  { width: 75%; }
  .col-wide-10 { width: 83.3333%; }
  .col-wide-11 { width: 91.6666%; }
  .col-wide-12 { width: 100%; }
}
