/* Reset ♥ Adapted from http://meyerweb.com/eric/tools/css/reset/
------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  }
body { line-height: 1; }
ol, ul { list-style: none;  }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }
/* remember to define focus styles. Hee Haw */
:focus { outline: 0; }

*, *:after, *:before { box-sizing: border-box; }

/* @FontFace
------------------------------------------------------- */
@font-face {
  font-family:'Open Sans';
  src:url('../fonts/opensans-regular.eot');
  src:url('../fonts/opensans-regular.eot#iefix') format('embedded-opentype'),
  url('../fonts/opensans-regular.woff') format('woff');
}

@font-face {
  font-family:'Open Sans Light';
  src:url('../fonts/opensans-light.eot');
  src:url('../fonts/opensans-light.eot#iefix') format('embedded-opentype'),
  url('../fonts/opensans-light.woff') format('woff');
}

@font-face {
  font-family:'Open Sans Italic';
  src:url('../fonts/opensans-italic.eot');
  src:url('../fonts/opensans-italic.eot#iefix') format('embedded-opentype'),
  url('../fonts/opensans-italic.woff') format('woff');
}

@font-face {
  font-family:'Open Sans Bold';
  src:url('../fonts/opensans-bold.eot');
  src:url('../fonts/opensans-bold.eot#iefix') format('embedded-opentype'),
  url('../fonts/opensans-bold.woff') format('woff');
}

@font-face {
  font-family:'Open Sans Bold Italic';
  src:url('../fonts/opensans-bolditalic.eot');
  src:url('../fonts/opensans-bolditalic.eot#iefix') format('embedded-opentype'),
  url('../fonts/opensans-bolditalic.woff') format('woff');
}

@font-face {
  font-family: 'Cabin Bold';
  src: url('../fonts/cabin-bold-webfont.eot');
  src: url('../fonts/cabin-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cabin-bold-webfont.woff') format('woff');
}

/**
 * Inline elements
*/

body,
input,
textarea {
  color: #404040;
  color: rgba(0, 0, 0, 0.75);
  font: 16px/1.25 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/**
 * Typography
 * @namespace type
 * @memberof Typography
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans Bold', sans-serif;
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 33px;
  line-height: 1.5152;
}

h2 {
  font-size: 27px;
  line-height: 1.8519;
}

h3 {
  font-size: 23px;
  line-height: 1.0870;
}

h4 {
  font-size: 19px;
  line-height: 1.3158;
}

h5,
h6 {
  font-size: 16px;
  line-height: 1.5625;
}

em h1, h1 em,
em h2, h2 em,
em h3, h3 em,
em h4, h4 em,
em h5, h5 em,
em h6, h6 em {
  font-family: 'Open Sans Bold Italic', sans-serif;
}

p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

small,
.prose.small,
.small {
  font-size: 14px;
  line-height: 20px;
}

small { display:block; }

.micro,
.prose .micro,
.prose.micro {
  font-size: 12px;
  line-height: 20px;
}

.strong,
strong {
  font-family: 'Open Sans Bold', sans-serif;
  font-weight: normal;
}

strong em,
em strong {
  font-family: 'Open Sans Bold Italic', sans-serif;
  font-weight: normal;
}

address,
em {
  font-family: 'Open Sans Italic', sans-serif;
}

/**
 * Typography modifiers
 * @namespace type
 * @memberof Typography
*/

/**
 *  Prose-styled headlines.
 *
 * @example
 *  <h1 class="type-light">Headline 1 - light</h1>
 *  <h2 class="type-light">Headline 2 - light</h2>
 *  <h3 class="type-light">Headline 3 - light</h3>
 *  <h1 class="type-regular">Headline 1 - regular</h1>
 *  <h2 class="type-regular">Headline 2 - regular</h2>
 *  <h3 class="type-regular">Headline 3 - regular</h3>
 *  <h1 class="type-fancy">Headline 1 - fancy</h1>
 *  <h2 class="type-fancy">Headline 2 - fancy</h2>
 *  <h3 class="type-fancy">Headline 3 - fancy</h3>
*/
h1.type-light,
h2.type-light,
h3.type-light {
  font-family:'Open Sans Light', sans-serif;
}

h1.type-regular,
h2.type-regular,
h3.type-regular {
  font-family:'Open Sans', sans-serif;
}

h1.type-fancy,
h2.type-fancy,
h3.type-fancy {
  font-family:'Cabin Bold', sans-serif;
  text-transform: uppercase;
}

h1.type-fancy {
  letter-spacing: 3px;
}

h2.type-fancy,
h3.type-fancy {
  letter-spacing: 2px;
}

/**
 * Prose classes
 * @namespace prose
 * @memberof Prose
*/

/**
 *  Prose-styled headlines.
 *
 * @example
 *  <div class="prose">
 *    <h1>Headline 1</h1>
 *    <h2>Headline 2</h2>
 *    <h3>Headline 3</h3>
 *    <h4>Headline 4</h4>
 *    <h5>Headline 5</h5>
 *    <h6>Headline 6</h6>
 *  </div>
*/
.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6,
.prose p {
  margin-bottom: 25px;
}

.prose p {
  line-height: 25px;
}

.prose h1 {
  margin-top: 12.1216px;
}

.prose h2 {
  margin-top: 14.8144px;
}

.prose h3 {
  margin-top: 17.392px;
}

.prose h4 {
  margin-top: 21.0528px;
}

.prose h5,
.prose h6 {
  margin-top: 25px;
}

.prose h1:first-child,
.prose h2:first-child,
.prose h3:first-child,
.prose h4:first-child,
.prose h5:first-child,
.prose h6:first-child {
  margin-top: 0;
}

.prose *:target {
  padding-top: 20px;
}

/**
 * Layout classes
 * @namespace Layout
 * @memberof Utilities
*/


/**
 * Limiter classes
 * @namespace Limiter
 * @memberof Layout
*/
.limiter {
  width: 83.3333%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

/**
 * Column container for grids.
 *
 * @example
 * <div class='cols'>
 *  <div class='col6'>
 *  <div class='col6'>
 * </div>
 */
.cols {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/**
 * Column classes
 * @namespace Cols
 * @memberof Layout
*/
.col-0  { width: 04.1666%; }
.col-1  { width: 08.3333%; }
.col-2  { width: 16.6666%; }
.col-3  { width: 25.0000%; }
.col-4  { width: 33.3333%; }
.col-5  { width: 41.6666%; }
.col-6  { width: 50.0000%; }
.col-7  { width: 58.3333%; }
.col-8  { width: 66.6666%; }
.col-9  { width: 75.0000%; }
.col-10 { width: 83.3333%; }
.col-11 { width: 91.6666%; }
.col-12 { width: 100.000%; }

/**
 * Max width containers
 * @namespace Max widths
 * @memberof Layout
*/
.max-1600 { max-width: 1600px; }
.max-1000 { max-width: 1000px; }

/**
 * Column gutter classes
 * @memberof Layout
*/
.cols-gut-5 > .col-0,
.cols-gut-5 > .col-1,
.cols-gut-5 > .col-2,
.cols-gut-5 > .col-3,
.cols-gut-5 > .col-4,
.cols-gut-5 > .col-5,
.cols-gut-5 > .col-6,
.cols-gut-5 > .col-7,
.cols-gut-5 > .col-8,
.cols-gut-5 > .col-9,
.cols-gut-5 > .col-10,
.cols-gut-5 > .col-11,
.cols-gut-5 > .col-12 {
  margin-right: 5px;
  flex: 1;
}

.cols-gut-10 > .col-0,
.cols-gut-10 > .col-1,
.cols-gut-10 > .col-2,
.cols-gut-10 > .col-3,
.cols-gut-10 > .col-4,
.cols-gut-10 > .col-5,
.cols-gut-10 > .col-6,
.cols-gut-10 > .col-7,
.cols-gut-10 > .col-8,
.cols-gut-10 > .col-9,
.cols-gut-10 > .col-10,
.cols-gut-10 > .col-11,
.cols-gut-10 > .col-12 {
  margin-right: 10px;
  flex: 1;
}

.cols-gut-20 > .col-0,
.cols-gut-20 > .col-1,
.cols-gut-20 > .col-2,
.cols-gut-20 > .col-3,
.cols-gut-20 > .col-4,
.cols-gut-20 > .col-5,
.cols-gut-20 > .col-6,
.cols-gut-20 > .col-7,
.cols-gut-20 > .col-8,
.cols-gut-20 > .col-9,
.cols-gut-20 > .col-10,
.cols-gut-20 > .col-11,
.cols-gut-20 > .col-12 {
  margin-right: 10px;
  flex: 1;
}

.cols-gut-40 > .col-0,
.cols-gut-40 > .col-1,
.cols-gut-40 > .col-2,
.cols-gut-40 > .col-3,
.cols-gut-40 > .col-4,
.cols-gut-40 > .col-5,
.cols-gut-40 > .col-6,
.cols-gut-40 > .col-7,
.cols-gut-40 > .col-8,
.cols-gut-40 > .col-9,
.cols-gut-40 > .col-10,
.cols-gut-40 > .col-11,
.cols-gut-40 > .col-12 {
  margin-right: 10px;
  flex: 1;
}

.cols-gut-80 > .col-0,
.cols-gut-80 > .col-1,
.cols-gut-80 > .col-2,
.cols-gut-80 > .col-3,
.cols-gut-80 > .col-4,
.cols-gut-80 > .col-5,
.cols-gut-80 > .col-6,
.cols-gut-80 > .col-7,
.cols-gut-80 > .col-8,
.cols-gut-80 > .col-9,
.cols-gut-80 > .col-10,
.cols-gut-80 > .col-11,
.cols-gut-80 > .col-12 {
  margin-right: 10px;
  flex: 1;
}

/**
 * Column classes
 * @namespace Cols
 * @memberof Layout
*/
.col-2-gut-5:nth-child(2n+2),
.col-2-gut-10:nth-child(2n+2),
.col-2-gut-20:nth-child(2n+2),
.col-2-gut-40:nth-child(2n+2),
.col-2-gut-80:nth-child(2n+2) { margin-right: 0; }

/**
 * Column classes
 * @namespace Cols
 * @memberof Layout
*/
.col-margin-0  { margin-left: 04.1666%; }
.col-margin-1  { margin-left: 08.3333%; }
.col-margin-2  { margin-left: 16.6666%; }
.col-margin-3  { margin-left: 25.0000%; }
.col-margin-4  { margin-left: 33.3333%; }
.col-margin-5  { margin-left: 41.6666%; }
.col-margin-6  { margin-left: 50.0000%; }
.col-margin-7  { margin-left: 58.3333%; }
.col-margin-8  { margin-left: 66.6666%; }
.col-margin-9  { margin-left: 75.0000%; }
.col-margin-10 { margin-left: 83.3333%; }
.col-margin-11 { margin-left: 91.6666%; }
.col-margin-12 { margin-left: 100.000%; }

/* Tablet */
@media only screen and (max-width: 770px) {
  .limiter {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .col-margin-tablet-0  { margin-left: 04.1666%; }
  .col-margin-tablet-1  { margin-left: 08.3333%; }
  .col-margin-tablet-2  { margin-left: 16.6666%; }
  .col-margin-tablet-3  { margin-left: 25.0000%; }
  .col-margin-tablet-4  { margin-left: 33.3333%; }
  .col-margin-tablet-5  { margin-left: 41.6666%; }
  .col-margin-tablet-6  { margin-left: 50.0000%; }
  .col-margin-tablet-7  { margin-left: 58.3333%; }
  .col-margin-tablet-8  { margin-left: 66.6666%; }
  .col-margin-tablet-9  { margin-left: 75.0000%; }
  .col-margin-tablet-10 { margin-left: 83.3333%; }
  .col-margin-tablet-11 { margin-left: 91.6666%; }
  .col-margin-tablet-12 { margin-left: 100.000%; }

  .col-tablet-0  { width: 04.1666%; }
  .col-tablet-1  { width: 08.3333%; }
  .col-tablet-2  { width: 16.6666%; }
  .col-tablet-3  { width: 25.0000%; }
  .col-tablet-4  { width: 33.3333%; }
  .col-tablet-5  { width: 41.6666%; }
  .col-tablet-6  { width: 50.0000%; }
  .col-tablet-7  { width: 58.3333%; }
  .col-tablet-8  { width: 66.6666%; }
  .col-tablet-9  { width: 75.0000%; }
  .col-tablet-10 { width: 83.3333%; }
  .col-tablet-11 { width: 91.6666%; }
  .col-tablet-12 { width: 100.000%; }
}

/* Mobile */
@media only screen and (max-width: 640px) {
  .col-margin-mobile-0  { margin-left: 04.1666%; }
  .col-margin-mobile-1  { margin-left: 08.3333%; }
  .col-margin-mobile-2  { margin-left: 16.6666%; }
  .col-margin-mobile-3  { margin-left: 25.0000%; }
  .col-margin-mobile-4  { margin-left: 33.3333%; }
  .col-margin-mobile-5  { margin-left: 41.6666%; }
  .col-margin-mobile-6  { margin-left: 50.0000%; }
  .col-margin-mobile-7  { margin-left: 58.3333%; }
  .col-margin-mobile-8  { margin-left: 66.6666%; }
  .col-margin-mobile-9  { margin-left: 75.0000%; }
  .col-margin-mobile-10 { margin-left: 83.3333%; }
  .col-margin-mobile-11 { margin-left: 91.6666%; }
  .col-margin-mobile-12 { margin-left: 100.000%; }

  .col-mobile-0  { width: 04.1666%; }
  .col-mobile-1  { width: 08.3333%; }
  .col-mobile-2  { width: 16.6666%; }
  .col-mobile-3  { width: 25.0000%; }
  .col-mobile-4  { width: 33.3333%; }
  .col-mobile-5  { width: 41.6666%; }
  .col-mobile-6  { width: 50.0000%; }
  .col-mobile-7  { width: 58.3333%; }
  .col-mobile-8  { width: 66.6666%; }
  .col-mobile-9  { width: 75.0000%; }
  .col-mobile-10 { width: 83.3333%; }
  .col-mobile-11 { width: 91.6666%; }
  .col-mobile-12 { width: 100.000%; }
}

/* Wide screens */
@media only screen and (min-width: 1824px) {
  .col-margin-wide-0  { margin-left: 04.1666%; }
  .col-margin-wide-1  { margin-left: 08.3333%; }
  .col-margin-wide-2  { margin-left: 16.6666%; }
  .col-margin-wide-3  { margin-left: 25.0000%; }
  .col-margin-wide-4  { margin-left: 33.3333%; }
  .col-margin-wide-5  { margin-left: 41.6666%; }
  .col-margin-wide-6  { margin-left: 50.0000%; }
  .col-margin-wide-7  { margin-left: 58.3333%; }
  .col-margin-wide-8  { margin-left: 66.6666%; }
  .col-margin-wide-9  { margin-left: 75.0000%; }
  .col-margin-wide-10 { margin-left: 83.3333%; }
  .col-margin-wide-11 { margin-left: 91.6666%; }
  .col-margin-wide-12 { margin-left: 100.000%; }

  .col-wide-0  { width: 04.1666%; }
  .col-wide-1  { width: 08.3333%; }
  .col-wide-2  { width: 16.6666%; }
  .col-wide-3  { width: 25.0000%; }
  .col-wide-4  { width: 33.3333%; }
  .col-wide-5  { width: 41.6666%; }
  .col-wide-6  { width: 50.0000%; }
  .col-wide-7  { width: 58.3333%; }
  .col-wide-8  { width: 66.6666%; }
  .col-wide-9  { width: 75.0000%; }
  .col-wide-10 { width: 83.3333%; }
  .col-wide-11 { width: 91.6666%; }
  .col-wide-12 { width: 100.000%; }
}
