/* stylelint-disable selector-no-combinator, selector-no-type */

/**
 * Basic elements
 * @section Basic
*/

img {
  max-width: 100%;
  vertical-align: top;
}

.txt-abbr,
.txt abbr {
  border-bottom: 1px dotted #000;
  cursor: help;
}

.txt-hr,
.txt hr {
  margin: 20px 0;
  border: 0;
  height: 1px;
  background: var(--darken5);
}

/**
 * Table classes.
 */
.tbl,
.txt table {
  width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
}

.txt table {
  margin-bottom: 25px;
}

.tbl th,
.tbl td,
.txt table th,
.txt table td {
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

.tbl th,
.txt table th {
  background-color: var(--darken5);
}

.tbl .fixed,
.txt .fixed {
  table-layout: fixed;
}

.tbl th + td,
.txt th + td {
  border-left: 1px solid #ddd;
}

/**
 * List classes.
 */
.txt > ol,
.txt > ul {
  margin-bottom: 25px;
}

.txt-ul,
.txt ul {
  list-style: disc;
  margin-left: 40px;
}

.txt-ol,
.txt ol {
  list-style: decimal;
  margin-left: 40px;
}

.txt-li,
.txt ul li,
.txt ol li {
  margin-bottom: 10px;
}

.txt ul ul,
.txt ol ol,
.txt ul ol,
.txt ol ul {
  margin-top: 10px;
}

/**
 * Blockquote.
 */

.txt-blockquote,
.txt-q,
.txt blockquote,
.txt q {
  quotes: none;
  font-style: normal;
  padding-left: 20px;
  margin: 10px;
}

.txt blockquote,
.txt q {
  margin-bottom: 25px;
}

.txt blockquote::before,
.txt blockquote::after,
.txt q::before,
.txt q::after {
  content: '';
}

/**
 * Keyboard.
 */
.txt-kbd,
.txt kbd {
  background: rgba(0, 0, 0, 0.025);
  color: var(--darken50);
  border: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 20px;
  border-radius: 3px;
  padding: 2px 3px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  font-weight: normal;
}

/**
 * Sub and sup scripts
 */
.txt-sup,
.txt-sub,
.txt sup,
.txt sub {
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  position: relative;
  font-size: 75%;
}

.txt-sup,
.txt sup {
  bottom: 1ex;
}

.txt-sub,
.txt sub {
  top: 0.5ex;
}

/**
 * Code blocks and pre.
 */
pre {
  display: block;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  -moz-tab-size: 4;
  tab-size: 4;
}

.cde,
.cde-pre,
.txt code,
.txt pre {
  font-family: 'Menlo', 'Bitstream Vera Sans Mono', 'Monaco', 'Consolas', monospace;
  white-space: pre-wrap;
}

.cde,
.cde-pre,
.txt code,
.txt pre {
  background: rgba(0, 0, 0, 0.025);
  font-size: 12px;
  line-height: 20px;
  padding: 3px;
  border-radius: 3px;
}

.cde-pre,
.txt pre {
  padding: 10px;
}

.txt pre {
  margin-bottom: 25px;
}

.cde,
.txt pre code {
  background: transparent;
  padding: 0;
}
