/* stylelint-disable selector-no-combinator, selector-no-type */

/**
 * Basic elements
 * @section Basic
*/

img {
  max-width: 100%;
  vertical-align: top;
}

.txt-abbr,
.prose abbr {
  border-bottom: 1px dotted #000;
  cursor: help;
}

.txt-hr,
.prose hr {
  margin: 20px 0;
  border: 0;
  height: 1px;
  background: var(--darken5);
}

/**
 * Table classes.
 */
.tbl,
.prose table {
  width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
}

.prose table {
  margin-bottom: 20px;
}

.tbl th,
.tbl td,
.prose table th,
.prose table td {
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

.tbl th,
.prose table th {
  background-color: var(--darken5);
}

.tbl-fixed {
  table-layout: fixed;
}

.tbl th + td,
.prose th + td {
  border-left: 1px solid #ddd;
}

/**
 * List classes.
 */
.prose > ol,
.prose > ul {
  margin-bottom: 20px;
}

.txt-ul,
.prose ul {
  list-style: disc;
}

.prose ul,
.txt-ul {
  margin-left: 40px;
}

.txt-ol,
.prose ol {
  list-style: decimal;
}

.prose ol,
.txt-ol {
  margin-left: 40px;
}

.txt-li,
.prose ul li,
.prose ol li {
  display: list-item;
}

.prose ul li,
.prose ol li {
  margin-bottom: 10px;
}

.prose ul ul,
.prose ol ol,
.prose ul ol,
.prose ol ul {
  margin-top: 10px;
}

/**
 * Blockquote.
 */
.txt-blockquote,
.txt-q,
.prose blockquote,
.prose q {
  quotes: none;
  font-style: normal;
  padding-left: 20px;
  margin: 10px;
}

.prose blockquote,
.prose q {
  margin-bottom: 20px;
}

.prose blockquote::before,
.prose blockquote::after,
.prose q::before,
.prose q::after {
  content: '';
}

/**
 * Keyboard.
 */
.txt-kbd,
.prose kbd {
  background: rgba(0, 0, 0, 0.025);
  color: var(--darken50);
  border: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 20px;
  border-radius: 3px;
  padding: 2px 3px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  font-weight: normal;
}

/**
 * Sub and sup scripts
 */
.txt-sup,
.txt-sub,
.prose sup,
.prose sub {
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  position: relative;
  font-size: 75%;
}

.txt-sup,
.prose sup {
  bottom: 1ex;
}

.txt-sub,
.prose sub {
  top: 0.5ex;
}

/**
 * Code blocks and pre.
 */
pre {
  display: block;
  white-space: pre-wrap;
  tab-size: 2;
}

.cde,
.cde-pre,
.prose code,
.prose pre {
  font-family: 'Menlo', 'Bitstream Vera Sans Mono', 'Monaco', 'Consolas', monospace;
  white-space: pre-wrap;
}

.cde,
.cde-pre,
.prose code,
.prose pre {
  background: rgba(0, 0, 0, 0.025);
  font-size: 12px;
  line-height: 20px;
  padding: 3px;
  border-radius: 3px;
}

.cde-pre,
.prose pre {
  padding: 10px;
}

.prose pre {
  margin-bottom: 20px;
}

.cde,
.prose pre code {
  background: transparent;
  padding: 0;
}

/**
 * Clear bottom margins if element is last in container
 */
.prose table:last-child,
.prose > ol:last-child,
.prose > ul:last-child,
.prose li:last-child,
.prose pre:last-child {
  margin-bottom: 0;
}
