/**
 * @section Buttons
 */

/**
 * Use as an affordance for JavaScript-powered click behaviors.  Buttons have a blue background unless
 * combined with [`.bg-*`](#Background) classes. Buttons have white text unless combined with a [`.color-*`](#Color)
 * class. Buttons have fully rounded corners unless combined with a [`.round-*`](#Theming) class. For links,
 * use an a element with the [`.a`](#Links) class.
 *
 * @memberof Buttons
 * @example
 * <button class='btn'>Default</button>
 * <button class='btn bg-red'>Color</button>
 * <button class='btn bg-teal color-blue-dark'>More colors</button>
 * <button class='btn round'>Less rounded</button>
 * <div class='p10 bg-blue inline-block'>
 *   <button class='btn bg-white color-blue'>Reverse</button>
 * </div>
 */
.btn {
  background-color: var(--blue);
  color: var(--white);
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-radius: 22px; /* fully round by default */
  padding: 8px 23px; /* Padding accommodates borders */
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important; /* prevent underline when inside .prose */
  transition: background-color 0.125s, border-color 0.125s, color 0.125s;
}

.btn:hover,
.btn.is-active {
  background-color: var(--blue-dark);
}

/**
 * A modifier class to create buttons with colored borders.
 * The border color and text color will always match.
 * To change the text & border color, use a [`.color-*`](#Color) class.
 *
 * @memberof Buttons
 * @example
 * <button class='btn btn--stroke'>Default</button>
 * <button class='btn btn--stroke color-red'>Color</button>
 * <button class='btn btn--stroke round'>Less rounded</button>
 * <div class='p10 bg-blue inline-block'>
 *   <button class='btn btn--stroke color-white'>Reverse</button>
 * </div>
 */
.btn--stroke {
  background-color: transparent;
  border-color: currentColor;
  color: var(--blue);
}

.btn--stroke:hover {
  background-color: transparent;
  color: var(--blue-dark);
}

.btn--stroke.is-active {
  border-color: transparent;
  color: var(--blue-dark);
}

/**
 * Modifier classes to create smaller buttons. Combine with [.txt-{s}](#txt-s) and [.txt-{s}](#txt-xs)
 *
 * @group
 * @memberof Buttons
 * @example
 * <button class='btn txt-s btn--s'>Small</button>
 * <button class='btn txt-xs btn--xs btn--stroke'>Extra small</button>
 */
.btn--s {
  padding: 1px 18px;
  border-radius: 15px;
}

.btn--xs {
  padding: 0 8px;
  border-radius: 14px;
}
/* @endgroup */

/* Color variations */
.btn.bg-gray:hover,
.btn.bg-gray.is-active { background-color: var(--gray-dark) !important; }
.btn.btn--stroke.color-gray:hover,
.btn.btn--stroke.color-gray.is-active { color: var(--gray-dark) !important; }

.btn.bg-pink:hover,
.btn.bg-pink.is-active { background-color: var(--pink-dark) !important; }
.btn.btn--stroke.color-pink:hover,
.btn.btn--stroke.color-pink.is-active { color: var(--pink-dark) !important; }

.btn.bg-red:hover,
.btn.bg-red.is-active { background-color: var(--red-dark) !important; }
.btn.btn--stroke.color-red:hover,
.btn.btn--stroke.color-red.is-active { color: var(--red-dark) !important; }

.btn.bg-orange:hover,
.btn.bg-orange.is-active { background-color: var(--orange-dark) !important; }
.btn.btn--stroke.color-orange:hover,
.btn.btn--stroke.color-orange.is-active { color: var(--orange-dark) !important; }

.btn.bg-yellow:hover,
.btn.bg-yellow.is-active { background-color: var(--yellow-dark) !important; }
.btn.btn--stroke.color-yellow:hover,
.btn.btn--stroke.color-yellow.is-active { color: var(--yellow-dark) !important; }

.btn.bg-green:hover,
.btn.bg-green.is-active { background-color: var(--green-dark) !important; }
.btn.btn--stroke.color-green:hover,
.btn.btn--stroke.color-green.is-active { color: var(--green-dark) !important; }

.btn.bg-teal:hover,
.btn.bg-teal.is-active { background-color: var(--teal-dark) !important; }
.btn.btn--stroke.color-teal:hover,
.btn.btn--stroke.color-teal.is-active { color: var(--teal-dark) !important; }

.btn.bg-blue:hover,
.btn.bg-blue.is-active { background-color: var(--blue-dark) !important; }
.btn.btn--stroke.color-blue:hover,
.btn.btn--stroke.color-blue.is-active { color: var(--blue-dark) !important; }

.btn.bg-purple:hover,
.btn.bg-purple.is-active { background-color: var(--purple-dark) !important; }
.btn.btn--stroke.color-purple:hover,
.btn.btn--stroke.color-purple.is-active { color: var(--purple-dark) !important; }

.btn.bg-white:hover,
.btn.bg-white.is-active { background-color: var(--gray-faint) !important; }
.btn.btn--stroke.color-white:hover,
.btn.btn--stroke.color-white.is-active { color: var(--gray-faint) !important; }

.btn.bg-lighten5:hover,
.btn.bg-lighten5.is-active { background-color: transparent !important; }
.btn.btn--stroke.color-lighten5:hover,
.btn.btn--stroke.color-lighten5.is-active { color: transparent !important; }

.btn.bg-lighten10:hover,
.btn.bg-lighten10.is-active { background-color: var(--lighten5) !important; }
.btn.btn--stroke.color-lighten10:hover,
.btn.btn--stroke.color-lighten10.is-active { color: var(--lighten5) !important; }

.btn.bg-lighten25:hover,
.btn.bg-lighten25.is-active { background-color: var(--lighten10) !important; }
.btn.btn--stroke.color-lighten25:hover,
.btn.btn--stroke.color-lighten25.is-active { color: var(--lighten10) !important; }

.btn.bg-lighten50:hover,
.btn.bg-lighten50.is-active { background-color: var(--lighten25) !important; }
.btn.btn--stroke.color-lighten50:hover,
.btn.btn--stroke.color-lighten50.is-active { color: var(--lighten25) !important; }

.btn.bg-lighten75:hover,
.btn.bg-lighten75.is-active { background-color: var(--lighten50) !important; }
.btn.btn--stroke.color-lighten75:hover,
.btn.btn--stroke.color-lighten75.is-active { color: var(--lighten50) !important; }

.btn.bg-darken5:hover,
.btn.bg-darken5.is-active { background-color: var(--darken10) !important; }
.btn.btn--stroke.color-darken5:hover,
.btn.btn--stroke.color-darken5.is-active { color: var(--darken10) !important; }

.btn.bg-darken10:hover,
.btn.bg-darken10.is-active { background-color: var(--darken25) !important; }
.btn.btn--stroke.color-darken10:hover,
.btn.btn--stroke.color-darken10.is-active { color: var(--darken25) !important; }

.btn.bg-darken25:hover,
.btn.bg-darken25.is-active { background-color: var(--darken50) !important; }
.btn.btn--stroke.color-darken25:hover,
.btn.btn--stroke.color-darken25.is-active { color: var(--darken50) !important; }

.btn.bg-darken50:hover,
.btn.bg-darken50.is-active { background-color: var(--darken75) !important; }
.btn.btn--stroke.color-darken50:hover,
.btn.btn--stroke.color-darken50.is-active { color: var(--darken75) !important; }

.btn.bg-darken75:hover,
.btn.bg-darken75.is-active { background-color: var(--black) !important; }
.btn.btn--stroke.color-darken75:hover,
.btn.btn--stroke.color-darken75.is-active { color: var(--black) !important; }

/**
 * Classes to create pill button groups. Every button in a pill group
 * has a `.btn--pill` class and a modifier specifying its position.
 * Pill groups should be wrapped in a container with a
 * `flex-inline` container.
 *
 * For *horizontal* pills, use
 * - `btn--pill-hc` (center)
 * - `btn--pill-hl` (left)
 * - `btn--pill-hr` (right)
 *
 * For *vertical* pills, use
 * - `flex-column` on the flex container
 * - `btn--pill-vc` (center)
 * - `btn--pill-vt` (top)
 * - `btn--pill-vb` (bottom)
 *
 * Pill buttons can be modified and themed the same ways as regular buttons.
 *
 * @memberof Buttons
 * @example
 * <div>
 *   <div class="mr10 flex-inline">
 *     <button class="btn btn--pill btn--pill-hl">Left</button>
 *     <button class="btn btn--pill btn--pill-hc">Center</button>
 *     <button class="btn btn--pill btn--pill-hr">Right</button>
 *   </div>
 *   <div class="flex-inline">
 *     <button class="btn btn--stroke btn--s color-red btn--pill btn--pill-hl">Left</button>
 *     <button class="btn btn--stroke btn--s color-red btn--pill btn--pill-hc">Center</button>
 *     <button class="btn btn--stroke btn--s color-red btn--pill btn--pill-hr">Right</button>
 *   </div>
 * </div>
 *  <div class="mr10 flex-inline flex-column">
 *     <button class="btn btn--pill btn--pill-vt bg-purple">Top</button>
 *     <button class="btn btn--pill btn--pill-vc bg-purple">Center</button>
 *     <button class="btn btn--pill btn--pill-vb bg-purple">Bottom</button>
 *  </div>
 *  <div class="flex-inline flex-column">
 *     <button class="btn btn--stroke btn--xs btn--pill btn--pill-vt">Top</button>
 *     <button class="btn btn--stroke btn--xs btn--pill btn--pill-vc">Center</button>
 *     <button class="btn btn--stroke btn--xs btn--pill btn--pill-vb">Bottom</button>
 *  </div>
 */
.btn--pill {
  position: relative;
}

/* Put the active pill on top, so if they're stroke pills its
active color is visible on all borders */
.btn--pill:hover,
.btn--pill.is-active {
  z-index: 2;
}

/* Extra .btn in selectors below to increase specificity
against .round class */

/* 1px margins create gutters. -2px margins blend borders */

.btn.btn--pill-hc {
  border-radius: 0 !important;
  margin-left: 1px;
  margin-right: 1px;
}

/* !importants here to override .round classes */
.btn.btn--pill-hl {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.btn.btn--pill-hr {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.btn.btn--pill-vc {
  border-radius: 0 !important;
  margin-top: 1px;
  margin-bottom: 1px;
}

.btn.btn--pill-vt {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.btn.btn--pill-vb {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.btn--stroke.btn--pill-hc {
  margin-left: -2px;
  margin-right: 0;
}

.btn--stroke.btn--pill-hr {
  margin-left: -2px;
}

.btn--stroke.btn--pill-vc {
  margin-top: -2px;
  margin-bottom: 0;
}

.btn--stroke.btn--pill-vb {
  margin-top: -2px;
}
