/**
 * Use buttons to trigger click events. For links,
 * we recommend using an `a` element with the [`.txt-link`](#txt-link) class.
 *
 * @section Buttons
 */

/**
 * By default, buttons have a blue background. Use the
 * `.btn--{color}` modifier to change the color of a button. Buttons have white text unless combined with a [`.color-*`](#Color)
 * class. Buttons have fully rounded corners unless combined with a [`.round-*`](#Theming) class.
 *
 * @memberof Buttons
 * @example
 * <button class='btn'>Default</button>
 * <button class='btn btn--red'>Color</button>
 * <button class='btn btn--teal color-blue-dark'>More colors</button>
 * <button class='btn round'>Less rounded</button>
 * <div class='p12 bg-blue inline-block'>
 *   <button class='btn btn--white color-blue'>Reverse</button>
 * </div>
 */
.btn {
  background-color: var(--blue);
  color: var(--white);
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-radius: 18px; /* fully round by default */
  padding: 4px 12px; /* Padding accommodates borders */
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important; /* prevent underline when inside .prose */
  transition: background-color var(--transition), border-color var(--transition), color var(--transition);
}

/**
 * Apply an active state to buttons.
 *
 * @memberof Buttons
 * @example
 * <button class='btn btn--is-active'>Default</button>
 */
.btn:hover,
.btn--is-active {
  background-color: var(--blue-dark);
}

/**
 * A modifier class to create buttons with colored borders.
 * The border color and text color will always match.
 * To change the text & border color, use a `.btn-{color}` modifier.
 *
 * @memberof Buttons
 * @example
 * <button class='btn btn--stroke'>Default</button>
 * <button class='btn btn--stroke btn--red'>Color</button>
 * <button class='btn btn--stroke round'>Less rounded</button>
 * <div class='p12 bg-blue inline-block'>
 *   <button class='btn btn--stroke btn--white'>Reverse</button>
 * </div>
 */
.btn--stroke {
  background-color: transparent;
  border-color: currentColor;
  color: var(--blue);
}

/**
 * Apply an active state to stroked buttons.
 *
 * @memberof Buttons
 * @example
 * <button class='btn btn--stroke btn--stroke--is-active'>Default</button>
 */
.btn--stroke:hover,
.btn--stroke--is-active {
  background-color: transparent;
  color: var(--blue-dark);
}

/**
 * Small button.
 *
 * @memberof Buttons
 * @example
 * <button class='btn txt-s btn--s'>Small</button>
 */
.btn--s {
  font-size: 12px;
  padding: 1px 18px;
  border-radius: 15px;
}

/**
 * Extra small button.
 *
 * @memberof Buttons
 * @example
 * <button class='btn txt-s btn--s'>Small</button>
 */
.btn--xs {
  line-height: 14px; /* Forces height of btn--xs to be 18px */
  font-size: 10px;
  padding: 0 8px;
  border-radius: 14px;
}

/**
 * Disabled button. Add the `disabled` property to a button to disable it.
 *
 * @memberof Buttons
 * @example
 * <button disabled class='btn'>Disabled button</button>
 */
.btn:disabled {
  pointer-events: none;
  color: var(--darken25) !important;
  background-color: var(--disabled) !important;
  border-color: transparent !important;
}

/**
 * Classes to create pill button groups. Every button in a pill group
 * has a `.btn--pill` class and a modifier specifying its position.
 * Pill groups should be wrapped in a container with a
 * `flex-parent flex-parent--inline` container.
 *
 * For *horizontal* pills, use
 * - `btn--pill-hc` (center)
 * - `btn--pill-hl` (left)
 * - `btn--pill-hr` (right)
 *
 * For *vertical* pills, use
 * - `flex-parent flex-parent--column` on the flex-parent container
 * - `btn--pill-vc` (center)
 * - `btn--pill-vt` (top)
 * - `btn--pill-vb` (bottom)
 *
 * Pill buttons can be modified and themed the same ways as regular buttons.
 *
 * @memberof Buttons
 * @example
 * <div>
 *   <div class="mr12 flex-parent--inline">
 *     <button class="btn btn--pill btn--pill-hl">Left</button>
 *     <button class="btn btn--pill btn--pill-hc">Center</button>
 *     <button class="btn btn--pill btn--pill-hr">Right</button>
 *   </div>
 * </div>
 *  <div class="flex-parent flex-parent--inline flex-parent--column mt12">
 *     <button class="btn btn--pill btn--pill-vt">Top</button>
 *     <button class="btn btn--pill btn--pill-vc">Center</button>
 *     <button class="btn btn--pill btn--pill-vb">Bottom</button>
 *  </div>
 */
.btn--pill {
  position: relative;
}

/* Put the active pill on top, so if they're stroke pills its
active color is visible on all borders */
.btn--pill:hover,
.btn--pill.btn--is-active,
.btn--pill.btn--stroke--is-active {
  z-index: 2;
}

/* Extra .btn in selectors below to increase specificity
against .round class */

/* 1px margins create gutters. -2px margins blend borders */

.btn.btn--pill-hc {
  border-radius: 0 !important;
  margin-left: 1px;
  margin-right: 1px;
}

.btn.btn--pill-hl {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.btn.btn--pill-hr {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.btn.btn--pill-vc {
  border-radius: 0 !important;
  margin-top: 1px;
  margin-bottom: 1px;
}

.btn.btn--pill-vt {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.btn.btn--pill-vb {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.btn--stroke.btn--pill-hc {
  margin-left: -2px;
  margin-right: 0;
}

.btn--stroke.btn--pill-hr {
  margin-left: -2px;
}

.btn--stroke.btn--pill-vc {
  margin-top: -2px;
  margin-bottom: 0;
}

.btn--stroke.btn--pill-vb {
  margin-top: -2px;
}
