/**
 * Colors & Gradients
 * @section Color
 */

/**
 * Background colors.
 * @example
 * <div class='mar-bottom-10 p10 bg-gray-dark'>bg-gray-dark</div>
 * <div class='mar-bottom-10 p10 bg-gray'>bg-gray</div>
 * <div class='mar-bottom-10 p10 bg-gray-light'>bg-gray-light</div>
 * <div class='mar-bottom-10 p10 bg-gray-faint'>bg-gray-faint</div>
 * <div class='mar-bottom-10 p10 bg-pink-dark'>bg-pink-dark</div>
 * <div class='mar-bottom-10 p10 bg-pink'>bg-pink</div>
 * <div class='mar-bottom-10 p10 bg-pink-light'>bg-pink-light</div>
 * <div class='mar-bottom-10 p10 bg-pink-faint'>bg-pink-faint</div>
 * <div class='mar-bottom-10 p10 bg-red-dark'>bg-red-dark</div>
 * <div class='mar-bottom-10 p10 bg-red'>bg-red</div>
 * <div class='mar-bottom-10 p10 bg-red-light'>bg-red-light</div>
 * <div class='mar-bottom-10 p10 bg-red-faint'>bg-red-faint</div>
 * <div class='mar-bottom-10 p10 bg-orange-dark'>bg-orange-dark</div>
 * <div class='mar-bottom-10 p10 bg-orange'>bg-orange</div>
 * <div class='mar-bottom-10 p10 bg-orange-light'>bg-orange-light</div>
 * <div class='mar-bottom-10 p10 bg-orange-faint'>bg-orange-faint</div>
 * <div class='mar-bottom-10 p10 bg-yellow-dark'>bg-yellow-dark</div>
 * <div class='mar-bottom-10 p10 bg-yellow'>bg-yellow</div>
 * <div class='mar-bottom-10 p10 bg-yellow-light'>bg-yellow-light</div>
 * <div class='mar-bottom-10 p10 bg-yellow-faint'>bg-yellow-faint</div>
 * <div class='mar-bottom-10 p10 bg-green-dark'>bg-green-dark</div>
 * <div class='mar-bottom-10 p10 bg-green'>bg-green</div>
 * <div class='mar-bottom-10 p10 bg-green-light'>bg-green-light</div>
 * <div class='mar-bottom-10 p10 bg-green-faint'>bg-green-faint</div>
 * <div class='mar-bottom-10 p10 bg-teal-dark'>bg-teal-dark</div>
 * <div class='mar-bottom-10 p10 bg-teal'>bg-teal</div>
 * <div class='mar-bottom-10 p10 bg-teal-light'>bg-teal-light</div>
 * <div class='mar-bottom-10 p10 bg-teal-faint'>bg-teal-faint</div>
 * <div class='mar-bottom-10 p10 bg-blue-dark'>bg-blue-dark</div>
 * <div class='mar-bottom-10 p10 bg-blue'>bg-blue</div>
 * <div class='mar-bottom-10 p10 bg-blue-light'>bg-blue-light</div>
 * <div class='mar-bottom-10 p10 bg-blue-faint'>bg-blue-faint</div>
 * <div class='mar-bottom-10 p10 bg-purple-dark'>bg-purple-dark</div>
 * <div class='mar-bottom-10 p10 bg-purple'>bg-purple</div>
 * <div class='mar-bottom-10 p10 bg-purple-light'>bg-purple-light</div>
 * <div class='mar-bottom-10 p10 bg-purple-faint'>bg-purple-faint</div>
 */

.bg-gray-dark { background-color: #444; }
.bg-gray { background-color: #666; }
.bg-gray-light { background-color: #AAA; }
.bg-gray-faint { background-color: #F0F0F0; }

.bg-pink-dark { background-color: #DC2878; }
.bg-pink { background-color: #FF3C96; }
.bg-pink-light { background-color: #EB74AC; }
.bg-pink-faint { background-color: #FFDBED; }

.bg-red-dark { background-color: #D20014; }
.bg-red { background-color: #DC2B28; }
.bg-red-light { background-color: #F0463C; }
.bg-red-faint { background-color: #FFDAD9; }

.bg-orange-dark { background-color: #F05A00; }
.bg-orange { background-color: #FF6E00; }
.bg-orange-light { background-color: #EB9528; }
.bg-orange-faint { background-color: #FFE5CB; }

.bg-yellow-dark { background-color: #FFBD0A; }
.bg-yellow { background-color: #F0DC00; }
.bg-yellow-light { background-color: #E6E650; }
.bg-yellow-faint { background-color: #FAFBD1; }

.bg-green-dark { background-color: #1E963C; }
.bg-green { background-color: #01AA46; }
.bg-green-light { background-color: #50BE5A; }
.bg-green-faint { background-color: #D4EDDA; }

.bg-teal-dark { background-color: #3296A0; }
.bg-teal { background-color: #01B5B4; }
.bg-teal-light { background-color: #46C8C8; }
.bg-teal-faint { background-color: #CBF2F1; }

.bg-blue-dark { background-color: #3246DC; }
.bg-blue { background-color: #0065FB; }
.bg-blue-light { background-color: #0087FA; }
.bg-blue-faint { background-color: #BAE8FF; }

.bg-purple-dark { background-color: #6E3296; }
.bg-purple { background-color: #8C50C7; }
.bg-purple-light { background-color: #A573D7; }
.bg-purple-faint { background-color: #EDE1F6; }

.bg-darken5 { background-color: rgba(0, 0, 0, 0.05); }
.bg-darken25 { background-color: rgba(0, 0, 0, 0.25); }
.bg-darken50 { background-color: rgba(0, 0, 0, 0.5); }
.bg-darken75 { background-color: rgba(0, 0, 0, 0.75); }

.bg-lighten10 { background-color: rgba(255, 255, 255, 0.1); }
.bg-lighten25 { background-color: rgba(255, 255, 255, 0.25); }
.bg-lighten50 { background-color: rgba(255, 255, 255, 0.5); }
.bg-lighten75 { background-color: rgba(255, 255, 255, 0.75); }

/**
 * Text colors.
 * @example
 * <div class='mar-bottom-10 txt-gray-dark'>txt-gray-dark</div>
 * <div class='mar-bottom-10 txt-gray'>txt-gray</div>
 * <div class='mar-bottom-10 txt-gray-light'>txt-gray-light</div>
 * <div class='mar-bottom-10 txt-gray-faint'>txt-gray-faint</div>
 * <div class='mar-bottom-10 txt-pink-dark'>txt-pink-dark</div>
 * <div class='mar-bottom-10 txt-pink'>txt-pink</div>
 * <div class='mar-bottom-10 txt-pink-light'>txt-pink-light</div>
 * <div class='mar-bottom-10 txt-pink-faint'>txt-pink-faint</div>
 * <div class='mar-bottom-10 txt-red-dark'>txt-red-dark</div>
 * <div class='mar-bottom-10 txt-red'>txt-red</div>
 * <div class='mar-bottom-10 txt-red-light'>txt-red-light</div>
 * <div class='mar-bottom-10 txt-red-faint'>txt-red-faint</div>
 * <div class='mar-bottom-10 txt-orange-dark'>txt-orange-dark</div>
 * <div class='mar-bottom-10 txt-orange'>txt-orange</div>
 * <div class='mar-bottom-10 txt-orange-light'>txt-orange-light</div>
 * <div class='mar-bottom-10 txt-orange-faint'>txt-orange-faint</div>
 * <div class='mar-bottom-10 txt-yellow-dark'>txt-yellow-dark</div>
 * <div class='mar-bottom-10 txt-yellow'>txt-yellow</div>
 * <div class='mar-bottom-10 txt-yellow-light'>txt-yellow-light</div>
 * <div class='mar-bottom-10 txt-yellow-faint'>txt-yellow-faint</div>
 * <div class='mar-bottom-10 txt-green-dark'>txt-green-dark</div>
 * <div class='mar-bottom-10 txt-green'>txt-green</div>
 * <div class='mar-bottom-10 txt-green-light'>txt-green-light</div>
 * <div class='mar-bottom-10 txt-green-faint'>txt-green-faint</div>
 * <div class='mar-bottom-10 txt-teal-dark'>txt-teal-dark</div>
 * <div class='mar-bottom-10 txt-teal'>txt-teal</div>
 * <div class='mar-bottom-10 txt-teal-light'>txt-teal-light</div>
 * <div class='mar-bottom-10 txt-teal-faint'>txt-teal-faint</div>
 * <div class='mar-bottom-10 txt-blue-dark'>txt-blue-dark</div>
 * <div class='mar-bottom-10 txt-blue'>txt-blue</div>
 * <div class='mar-bottom-10 txt-blue-light'>txt-blue-light</div>
 * <div class='mar-bottom-10 txt-blue-faint'>txt-blue-faint</div>
 * <div class='mar-bottom-10 txt-purple-dark'>txt-purple-dark</div>
 * <div class='mar-bottom-10 txt-purple'>txt-purple</div>
 * <div class='mar-bottom-10 txt-purple-light'>txt-purple-light</div>
 * <div class='mar-bottom-10 txt-purple-faint'>txt-purple-faint</div>
 */

.txt-gray-dark { color: #444; }
.txt-gray { color: #666; }
.txt-gray-light { color: #AAA; }
.txt-gray-faint { color: #F0F0F0; }

.txt-pink-dark { color: #DC2878; }
.txt-pink { color: #FF3C96; }
.txt-pink-light { color: #EB74AC; }
.txt-pink-faint { color: #FFDBED; }

.txt-red-dark { color: #D20014; }
.txt-red { color: #DC2B28; }
.txt-red-light { color: #F0463C; }
.txt-red-faint { color: #FFDAD9; }

.txt-orange-dark { color: #F05A00; }
.txt-orange { color: #FF6E00; }
.txt-orange-light { color: #EB9528; }
.txt-orange-faint { color: #FFE5CB; }

.txt-yellow-dark { color: #FFBD0A; }
.txt-yellow { color: #F0DC00; }
.txt-yellow-light { color: #E6E650; }
.txt-yellow-faint { color: #FAFBD1; }

.txt-green-dark { color: #1E963C; }
.txt-green { color: #01AA46; }
.txt-green-light { color: #50BE5A; }
.txt-green-faint { color: #D4EDDA; }

.txt-teal-dark { color: #3296A0; }
.txt-teal { color: #01B5B4; }
.txt-teal-light { color: #46C8C8; }
.txt-teal-faint { color: #CBF2F1; }

.txt-blue-dark { color: #3246DC; }
.txt-blue { color: #0065FB; }
.txt-blue-light { color: #0087FA; }
.txt-blue-faint { color: #BAE8FF; }

.txt-purple-dark { color: #6E3296; }
.txt-purple { color: #8C50C7; }
.txt-purple-light { color: #A573D7; }
.txt-purple-faint { color: #EDE1F6; }

.txt-darken5 { color: rgba(0, 0, 0, 0.05); }
.txt-darken25 { color: rgba(0, 0, 0, 0.25); }
.txt-darken50 { color: rgba(0, 0, 0, 0.5); }
.txt-darken75 { color: rgba(0, 0, 0, 0.75); }

.txt-lighten10 { color: rgba(255, 255, 255, 0.1); }
.txt-lighten25 { color: rgba(255, 255, 255, 0.25); }
.txt-lighten50 { color: rgba(255, 255, 255, 0.5); }
.txt-lighten75 { color: rgba(255, 255, 255, 0.75); }

/**
 * Gradients. For now, there's a gradient from each color to transparency.
 *
 * @example
 * <div class='mar-bottom-10 p10 bg-gray-to-transparent'>bg-gray-to-transparent</div>
 * <div class='mar-bottom-10 p10 bg-pink-to-transparent'>bg-pink-to-transparent</div>
 * <div class='mar-bottom-10 p10 bg-red-to-transparent'>bg-red-to-transparent</div>
 * <div class='mar-bottom-10 p10 bg-orange-to-transparent'>bg-orange-to-transparent</div>
 * <div class='mar-bottom-10 p10 bg-yellow-to-transparent'>bg-yellow-to-transparent</div>
 * <div class='mar-bottom-10 p10 bg-green-to-transparent'>bg-green-to-transparent</div>
 * <div class='mar-bottom-10 p10 bg-teal-to-transparent'>bg-teal-to-transparent</div>
 * <div class='mar-bottom-10 p10 bg-blue-to-transparent'>bg-blue-to-transparent</div>
 * <div class='mar-bottom-10 p10 bg-purple-to-transparent'>bg-purple-to-transparent</div>
 */

.bg-gray-to-transparent {
  background-image: linear-gradient(
    to bottom right,
    #666,
    transparent
  );
}

.bg-pink-to-transparent {
  background-image: linear-gradient(
    to bottom right,
    #FF3C96,
    transparent
  );
}

.bg-red-to-transparent {
  background-image: linear-gradient(
    to bottom right,
    #DC2B28,
    transparent
  );
}

.bg-orange-to-transparent {
  background-image: linear-gradient(
    to bottom right,
    #FF6E00,
    transparent
  );
}

.bg-yellow-to-transparent {
  background-image: linear-gradient(
    to bottom right,
    #F0DC00,
    transparent
  );
}

.bg-green-to-transparent {
  background-image: linear-gradient(
    to bottom right,
    #01AA46,
    transparent
  );
}

.bg-teal-to-transparent {
  background-image: linear-gradient(
    to bottom right,
    #01B5B4,
    transparent
  );
}

.bg-blue-to-transparent {
  background-image: linear-gradient(
    to bottom right,
    #0065FB,
    transparent
  );
}

.bg-purple-to-transparent {
  background-image: linear-gradient(
    to bottom right,
    #8C50C7,
    transparent
  );
}