/**
 * Display
 * @section Display
 */

/**
 * Use display classes to control the display property of elements.
 * @example
 * <div class="p10 border mb10"><div class="border border--cyan inline bor-all">inline</div></div>
 * <div class="p10 border mb10"><div class="border border--cyan block bor-all">block</div></div>
 * <div class="p10 border mb10"><div class="border border--cyan inline-block bor-all">inline-block</div></div>
 * <div class="p10 border mb10"><div class="border border--cyan flex bor-all">flex</div></div>
 * <div class="p10 border mb10"><div class="border border--cyan none bor-all">none</div></div>
 */
.inline { display: inline; }
.block { display: block; }
.inline-block { display: inline-block; }
.none { display: none; }

@media only screen and (--large-screen) {
  .inline-lg { display: inline; }
  .block-lg { display: block; }
  .inline-block-lg { display: inline-block; }
  .none-lg { display: none; }
}

@media only screen and (--medium-screen) {
  .inline-md { display: inline; }
  .block-md { display: block; }
  .inline-block-md { display: inline-block; }
  .none-md { display: none; }
}

@media only screen and (--small-screen) {
  .inline-sm { display: inline; }
  .block-sm { display: block; }
  .inline-block-sm { display: inline-block; }
  .none-sm { display: none; }
}
