/**
 * Display
 * @section Display
 */

/**
 * Use display classes to control the display property of elements.
 * @example
 * <div class="p10 border mb10"><div class="border border--cyan inline bor-all">dis-inline</div></div>
 * <div class="p10 border mb10"><div class="border border--cyan block bor-all">dis-block</div></div>
 * <div class="p10 border mb10"><div class="border border--cyan inline-block bor-all">dis-inline-block</div></div>
 * <div class="p10 border mb10"><div class="border border--cyan flex bor-all">dis-flex</div></div>
 * <div class="p10 border mb10"><div class="border border--cyan hidden bor-all">dis-hidden</div></div>
 */
.inline { display: inline; }
.block { display: block; }
.inline-block { display: inline-block; }
.hidden { display: none; }

@media only screen and (min-width: 1824px) {
  .inline-lg { display: inline; }
  .block-lg { display: block; }
  .inline-block-lg { display: inline-block; }
  .hidden-lg { display: none; }
}

@media only screen and (max-width: 770px) {
  .inline-md { display: inline; }
  .block-md { display: block; }
  .inline-block-md { display: inline-block; }
  .hidden-md { display: none; }
}

@media only screen and (max-width: 640px) {
  .inline-sm { display: inline; }
  .block-sm { display: block; }
  .inline-block-sm { display: inline-block; }
  .hidden-sm { display: none; }
}
