/* No need for inline documentationL covered by typography section */

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url('https://api.mapbox.com/mapbox-assembly/fonts/opensans-regular.v1.woff2') format('woff2'),
    url('https://api.mapbox.com/mapbox-assembly/fonts/opensans-regular.v1.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  src: url('https://api.mapbox.com/mapbox-assembly/fonts/opensans-light.v1.woff2') format('woff2'),
    url('https://api.mapbox.com/mapbox-assembly/fonts/opensans-light.v1.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  src: url('https://api.mapbox.com/mapbox-assembly/fonts/opensans-italic.v1.woff2') format('woff2'),
    url('https://api.mapbox.com/mapbox-assembly/fonts/opensans-italic.v1.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  src: url('https://api.mapbox.com/mapbox-assembly/fonts/opensans-bold.v1.woff2') format('woff2'),
    url('https://api.mapbox.com/mapbox-assembly/fonts/opensans-bold.v1.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: italic;
  src: url('https://api.mapbox.com/mapbox-assembly/fonts/opensans-bolditalic.v1.woff2') format('woff2'),
    url('https://api.mapbox.com/mapbox-assembly/fonts/opensans-bolditalic.v1.woff') format('woff');
}
