/* No need for inline documentationL covered by typography section */

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url('opensans-regular.woff2') format('woff2'),
    url('opensans-regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  src: url('opensans-light.woff2') format('woff2'),
    url('opensans-light.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  src: url('opensans-italic.woff2') format('woff2'),
    url('opensans-italic.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  src: url('opensans-bold.woff2') format('woff2'),
    url('opensans-bold.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: italic;
  src: url('opensans-bolditalic.woff2') format('woff2'),
    url('opensans-bolditalic.woff') format('woff');
}
