/**
 * @section Forms
 */

.fieldset,
.input,
.select,
.textarea {
  background: #fff;
  border: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

.input,
.textarea {
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border: 1px solid var(--gray-light);
  border-radius: var(--border-radius);
  display: inline-block;
}

.input:focus,
.textarea:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.22);
  border: 1px solid var(--gray-light);
}

.input::placeholder {
  color: var(--gray-light);
}

/**
 * Text input. The following modifiers are available:
 * - `input--s`: Small
 * - `input--dark`: Dark
 *
 * Use `w*` width classes to change widths.
 *
 * @memberof Forms
 * @example
 * <input class='input' placeholder='basic' />
 * <input class='input input--s' placeholder='small' />
 * <input class='input input--dark' placeholder='dark' />
 */
.input {
  height: 40px;
  line-height: 38px; /* minus border */
  padding: 0 12px;
}

.input--s {
  height: 30px;
  line-height: 28px; /* minus border */
  padding: 0 10px;
  font-size: 12px;
}

/**
 * Textarea. The following modifiers are available:
 * - `textarea--s`: Small
 * - `textarea--dark`: Dark
 *
 * Use `w*` width classes to change widths.
 *
 * @memberof Forms
 * @example
 * <textarea class='textarea'>basic</textarea>
 * <textarea class='textarea textarea--s'>small</textarea>
 * <textarea class='textarea textarea--dark'>dark</textarea>
 */
.textarea {
  resize: vertical;
  padding-top: 8px; /* minus border to match input */
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
}

.textarea--s {
  font-size: 12px; /* match input--s */
  padding-left: 10px;
  padding-right: 10px;
}

/* Dark */
.input--dark,
.textarea--dark {
  background-color: var(--gray-dark);
  color: #fff;
}

/* Select */
.select {
  border: 2px solid var(--gray-light);
  padding-right: 15px;
}

.select {
  appearance: none;
  height: 40px;
  line-height: 36px; /* minus border */
  padding: 0 10px;
}

.select--sm {
  height: 30px;
  line-height: 26px; /* minus border */
  padding: 0 5px;
}

.range {
  appearance: none;
  min-width: 0;
  height: 4px;
  padding: 0;
  border: 0;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.1);
}

.range::-webkit-slider-thumb {
  appearance: none;
  box-shadow: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #8f8f8f;
}

.range::-ms-thumb {
  box-shadow: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #8f8f8f;
}

.range::-moz-range-thumb {
  box-shadow: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #8f8f8f;
}

/**
 * Checkboxes
 *
 * Consists of
 * - A wrapping `<label>` with the class `checkbox-container`.
 * - An `<input type='checkbox'>`.
 * - A `<div>` with the class `checkbox`
 *   containing an `<svg>` with the chosen icon.
 * - Text for the label.
 *
 * Variations:
 * - Modify `checkbox` with `checkbox--stroke`.
 * - Modify *non-stroke* `checkbox` with a background color,
 *   e.g. `bg-red`.
 * - Modify *stroke* `checkbox` with a text color, e.g. `color-red`.
 * - Use a different icon.
 *
 * When placing a checkbox inside a *non-stroke* `.btn`, you should always
 * use `checkbox--stroke`. The checkbox's border will be removed,
 * but the box will be white and the checkmark will be colored as you choose.
 * Inside a `.btn--stroke`, anything goes.
 *
 * The class `checkbox` and its modifiers can also be used independent
 * of a `<label>` and `<input>` if you are building a custom components.
 * In that case, apply the state class `is-active` when it should be checked.
 *
 * @example
 * <label class="checkbox-container">
 *   <input type='checkbox' value='magic'>
 *   <div class="checkbox">
 *     <svg class="icn"><use xlink:href="#base-svg-check" /></svg>
 *   </div>
 *   Magi
 * </label>
 */

/**
* Radios
*
* Consists of
* - A wrapping `<label>` with the class `radio-container`.
* - An `<input type='radio'>`.
* - A `<div>` with the class `radio`.
* - Text for the label.
*
* Variations:
* - Modify `radio` with a text color, e.g. `color-purple`.
*
* The class `radio` and its modifiers can also be used independent
* of a `<label>` and `<input>` if you are building a custom components.
* In that case, apply the state class `is-active` when it should be checked.
*
* @example
* <label class="radio-container">
*   <input name='radio-basic' value='magic' type='radio'>
*   <div class="radio"></div>
*   Mgaic
* </label>
*/

/* stylelint-disable selector-no-combinator, selector-no-type, selector-no-qualifying-type */
.checkbox-container,
.radio-container {
  user-select: none;
  display: inline-flex;
  cursor: pointer;
}

.checkbox-container > input,
.radio-container > input {
  position: absolute;
  left: -9999px;
}

.checkbox,
.radio {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border-radius: var(--border-radius);
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
}

.checkbox {
  background-color: var(--blue);
  color: #fff;
}

.checkbox--stroke {
  background-color: #fff;
  border-color: currentColor;
  color: var(--blue);
}

.btn:not(.btn--stroke) > .checkbox--stroke {
  border-color: transparent;
}

.radio {
  border-radius: 50%;
  color: var(--blue);
  border-color: currentColor;
}

/* Unchecked state */
.checkbox > .icn {
  display: none;
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
}

.radio::before {
  content: '';
  background-color: currentColor;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
  display: none;
}

/* Checked state */
input:checked + .checkbox > .icn,
.checkbox.is-active > .icn {
  display: block;
}
input:checked + .radio::before,
.radio.is-active::before {
  display: block;
}

input:checked .checkbox:not(.checkbox--stroke),
.checkbox.is-active:not(.checkbox--stroke) {
  background-color: var(--blue-dark);
}
input:checked + .checkbox--stroke,
.checkbox--stroke.is-active,
input:checked + .radio,
.radio.is-active {
  color: var(--blue-dark);
}

/* Color variations */
input:checked + .bg-gray:not(.checkbox--stroke),
.bg-gray.is-active:not(.checkbox--stroke) {
  background-color: var(--gray-dark);
}
input:checked + .color-gray.checkbox--stroke,
.color-gray.checkbox--stroke.is-active,
input:checked + .color-gray,
.color-gray.is-active {
  color: var(--gray-dark);
}

input:checked + .bg-pink:not(.checkbox--stroke),
.bg-pink.is-active:not(.checkbox--stroke) {
  background-color: var(--pink-dark);
}
input:checked + .color-pink.checkbox--stroke,
.color-pink.checkbox--stroke.is-active,
input:checked + .color-pink,
.color-pink.is-active {
  color: var(--pink-dark);
}

input:checked + .bg-red:not(.checkbox--stroke),
.bg-red.is-active:not(.checkbox--stroke) {
  background-color: var(--red-dark);
}
input:checked + .color-red.checkbox--stroke,
.color-red.checkbox--stroke.is-active,
input:checked + .color-red,
.color-red.is-active {
  color: var(--red-dark);
}

input:checked + .bg-orange:not(.checkbox--stroke),
.bg-orange.is-active:not(.checkbox--stroke) {
  background-color: var(--orange-dark);
}
input:checked + .color-orange.checkbox--stroke,
.color-orange.checkbox--stroke.is-active,
input:checked + .color-orange,
.color-orange.is-active {
  color: var(--orange-dark);
}

input:checked + .bg-yellow:not(.checkbox--stroke),
.bg-yellow.is-active:not(.checkbox--stroke) {
  background-color: var(--yellow-dark);
}
input:checked + .color-yellow.checkbox--stroke,
.color-yellow.checkbox--stroke.is-active,
input:checked + .color-yellow,
.color-yellow.is-active {
  color: var(--yellow-dark);
}

input:checked + .bg-green:not(.checkbox--stroke),
.bg-green.is-active:not(.checkbox--stroke) {
  background-color: var(--green-dark);
}
input:checked + .color-green.checkbox--stroke,
.color-green.checkbox--stroke.is-active,
input:checked + .color-green,
.color-green.is-active {
  color: var(--green-dark);
}

input:checked + .bg-teal:not(.checkbox--stroke),
.bg-teal.is-active:not(.checkbox--stroke) {
  background-color: var(--teal-dark);
}
input:checked + .color-teal.checkbox--stroke,
.color-teal.checkbox--stroke.is-active,
input:checked + .color-teal,
.color-teal.is-active {
  color: var(--teal-dark);
}

input:checked + .bg-purple:not(.checkbox--stroke),
.bg-purple.is-active:not(.checkbox--stroke) {
  background-color: var(--purple-dark);
}
input:checked + .color-purple.checkbox--stroke,
.color-purple.checkbox--stroke.is-active,
input:checked + .color-purple,
.color-purple.is-active {
  color: var(--purple-dark);
}
/* stylelint-enable selector-no-combinator, selector-no-type, selector-no-qualifying-type */

.legend {
  display: block;
  width: 100%;
}
