.legend {
  display: block;
  width: 100%;
}

/* stylelint-disable selector-no-type, selector-no-combinator */
.fieldset,
.input,
.select > select,
.textarea {
  appearance: none;
  background: #fff;
  border: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
}
/* stylelint-enable */

.input {
  border: 1px solid #acb4b9;
  display: inline-block;
  border-radius: 3px;
}

.input:focus {
  border-color: #3bb2d0;
}

.input:hover {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.input::placeholder {
  color: #acb4b9;
}

.input {
  height: 40px;
  line-height: 38px; /* minus border */
  padding: 0 10px;
}

.input--sm {
  height: 30px;
  line-height: 28px; /* minus border */
  padding: 0 5px;
}

.textarea {
  border: 1px solid var(--darken50);
  resize: vertical;
  border-radius: 3px;
  padding: 10px;
}

/* stylelint-disable selector-no-type, selector-no-combinator, selector-no-attribute */
.select {
  display: inline-block;
  position: relative;
  background-color: #fff;
  border-radius: var(--border-radius);
}

.select > select {
  display: block;
  border-width: 2px;
  border-style: solid;
  border-color: var(--gray-light);
  border-radius: var(--border-radius);
  color: currentColor;
  cursor: pointer;
  background: transparent;
  height: 40px;
  line-height: 36px; /* minus border */
  padding: 0 47px 0 12px; /* plus arrow */
  position: relative;
  z-index: 2;
  font-weight: bold;
  width: 100%;
}

.select--stroke > select {
  border-color: currentColor;
}

.select[class*='bg-']:not(.select--stroke) > select {
  color: #fff;
  border-color: transparent;
}

.select--s > select {
  height: 30px;
  line-height: 26px; /* minus border */
  padding: 0 40px 0 10px; /* plus arrow */
}

.select--xs > select {
  height: 20px;
  line-height: 16px; /* minus border */
  padding: 0 20px 0 5px; /* plus arrow */
}

.select-arrow {
  position: absolute;
  top: 4px;
  right: 0;
  bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 0 2px;
  border-style: solid;
  border-color: transparent;
  border-left-color: currentColor;
  color: var(--gray-light);
  width: 35px;
}

.select--stroke > .select-arrow {
  color: currentColor;
}

.select[class*='bg-']:not(.select--stroke) > .select-arrow {
  color: #fff;
  border-left-color: rgba(255, 255, 255, 0.3);
}

.select--s > .select-arrow {
  width: 30px;
}

.select--xs > .select-arrow {
  width: 15px;
}

/* Color variations */
.select.bg-gray:hover { background-color: var(--gray-dark); }
.select--stroke.color-gray:hover { color: var(--gray-dark); }

.select.bg-pink:hover { background-color: var(--pink-dark); }
.select--stroke.color-pink:hover { color: var(--pink-dark); }

.select.bg-red:hover { background-color: var(--red-dark); }
.select--stroke.color-red:hover { color: var(--red-dark); }

.select.bg-orange:hover { background-color: var(--orange-dark); }
.select--stroke.color-orange:hover { color: var(--orange-dark); }

.select.bg-yellow:hover { background-color: var(--yellow-dark); }
.select--stroke.color-yellow:hover { color: var(--yellow-dark); }

.select.bg-green:hover { background-color: var(--green-dark); }
.select--stroke.color-green:hover { color: var(--green-dark); }

.select.bg-teal:hover { background-color: var(--teal-dark); }
.select--stroke.color-teal:hover { color: var(--teal-dark); }

.select.bg-blue:hover { background-color: var(--blue-dark); }
.select--stroke.color-blue:hover { color: var(--blue-dark); }

.select.bg-purple:hover { background-color: var(--purple-dark); }
.select--stroke.color-purple:hover { color: var(--purple-dark); }

/* stylelint-enable */

.range {
  appearance: none;
  min-width: 0;
  height: 4px;
  padding: 0;
  border: 0;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.1);
}

.range::-webkit-slider-thumb {
  appearance: none;
  box-shadow: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #8f8f8f;
}

.range::-ms-thumb {
  box-shadow: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #8f8f8f;
}

.range::-moz-range-thumb {
  box-shadow: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #8f8f8f;
}

/**
 * Checkboxes
 *
 * Consists of
 * - A wrapping `<label>` with the class `checkbox-container`.
 * - An `<input type='checkbox'>`.
 * - A `<div>` with the class `checkbox`
 *   containing an `<svg>` with the chosen icon.
 * - Text for the label.
 *
 * Variations:
 * - Modify `checkbox` with `checkbox--stroke`.
 * - Modify *non-stroke* `checkbox` with a background color,
 *   e.g. `bg-red`.
 * - Modify *stroke* `checkbox` with a text color, e.g. `color-red`.
 * - Use a different icon.
 *
 * When placing a checkbox inside a *non-stroke* `.btn`, you should always
 * use `checkbox--stroke`. The checkbox's border will be removed,
 * but the box will be white and the checkmark will be colored as you choose.
 * Inside a `.btn--stroke`, anything goes.
 *
 * The class `checkbox` and its modifiers can also be used independent
 * of a `<label>` and `<input>` if you are building a custom components.
 * In that case, apply the state class `is-active` when it should be checked.
 *
 * @example
 * <label class="checkbox-container">
 *   <input type='checkbox' value='magic'>
 *   <div class="checkbox">
 *     <svg class="icn"><use xlink:href="#base-svg-check" /></svg>
 *   </div>
 *   Magi
 * </label>
 */

/**
* Radios
*
* Consists of
* - A wrapping `<label>` with the class `radio-container`.
* - An `<input type='radio'>`.
* - A `<div>` with the class `radio`.
* - Text for the label.
*
* Variations:
* - Modify `radio` with a text color, e.g. `color-purple`.
*
* The class `radio` and its modifiers can also be used independent
* of a `<label>` and `<input>` if you are building a custom components.
* In that case, apply the state class `is-active` when it should be checked.
*
* @example
* <label class="radio-container">
*   <input name='radio-basic' value='magic' type='radio'>
*   <div class="radio"></div>
*   Mgaic
* </label>
*/

/* stylelint-disable selector-no-combinator, selector-no-type, selector-no-qualifying-type */
.checkbox-container,
.radio-container {
  user-select: none;
  display: inline-flex;
  cursor: pointer;
}

.checkbox-container > input,
.radio-container > input {
  position: absolute;
  left: -9999px;
}

.checkbox,
.radio {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border-radius: var(--border-radius);
  margin-right: 10px;
  cursor: pointer;
}

.checkbox {
  background-color: var(--blue); /* blue */
  color: #fff;
}

.checkbox--stroke {
  background-color: #fff;
  box-shadow: inset 0 0 0 2px currentColor;
  color: var(--blue); /* blue */
}

.btn:not(.btn--stroke) > .checkbox--stroke {
  box-shadow: none;
}

.radio {
  border-radius: 50%;
  color: var(--blue); /* blue */
  box-shadow: inset 0 0 0 2px currentColor;
  position: relative;
}

/* Unchecked state */
.checkbox > .icn {
  display: none;
}

.radio::before {
  content: '';
  background-color: currentColor;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
  display: none;
}

/* Checked state */
input:checked + .checkbox > .icn,
.checkbox.is-active > .icn {
  display: block;
}
input:checked + .radio::before,
.radio.is-active::before {
  display: block;
}

input:checked .checkbox:not(.checkbox--stroke),
.checkbox.is-active:not(.checkbox--stroke) {
  background-color: var(--blue-dark);
}
input:checked + .checkbox--stroke,
.checkbox--stroke.is-active,
input:checked + .radio,
.radio.is-active {
  color: var(--blue-dark);
}

/* Color variations */
input:checked + .bg-gray:not(.checkbox--stroke),
.bg-gray.is-active:not(.checkbox--stroke) {
  background-color: var(--gray-dark);
}
input:checked + .color-gray.checkbox--stroke,
.color-gray.checkbox--stroke.is-active,
input:checked + .color-gray,
.color-gray.is-active {
  color: var(--gray-dark);
}

input:checked + .bg-pink:not(.checkbox--stroke),
.bg-pink.is-active:not(.checkbox--stroke) {
  background-color: var(--pink-dark);
}
input:checked + .color-pink.checkbox--stroke,
.color-pink.checkbox--stroke.is-active,
input:checked + .color-pink,
.color-pink.is-active {
  color: var(--pink-dark);
}

input:checked + .bg-red:not(.checkbox--stroke),
.bg-red.is-active:not(.checkbox--stroke) {
  background-color: var(--red-dark);
}
input:checked + .color-red.checkbox--stroke,
.color-red.checkbox--stroke.is-active,
input:checked + .color-red,
.color-red.is-active {
  color: var(--red-dark);
}

input:checked + .bg-orange:not(.checkbox--stroke),
.bg-orange.is-active:not(.checkbox--stroke) {
  background-color: var(--orange-dark);
}
input:checked + .color-orange.checkbox--stroke,
.color-orange.checkbox--stroke.is-active,
input:checked + .color-orange,
.color-orange.is-active {
  color: var(--orange-dark);
}

input:checked + .bg-yellow:not(.checkbox--stroke),
.bg-yellow.is-active:not(.checkbox--stroke) {
  background-color: var(--yellow-dark);
}
input:checked + .color-yellow.checkbox--stroke,
.color-yellow.checkbox--stroke.is-active,
input:checked + .color-yellow,
.color-yellow.is-active {
  color: var(--yellow-dark);
}

input:checked + .bg-green:not(.checkbox--stroke),
.bg-green.is-active:not(.checkbox--stroke) {
  background-color: var(--green-dark);
}
input:checked + .color-green.checkbox--stroke,
.color-green.checkbox--stroke.is-active,
input:checked + .color-green,
.color-green.is-active {
  color: var(--green-dark);
}

input:checked + .bg-teal:not(.checkbox--stroke),
.bg-teal.is-active:not(.checkbox--stroke) {
  background-color: var(--teal-dark);
}
input:checked + .color-teal.checkbox--stroke,
.color-teal.checkbox--stroke.is-active,
input:checked + .color-teal,
.color-teal.is-active {
  color: var(--teal-dark);
}

input:checked + .bg-purple:not(.checkbox--stroke),
.bg-purple.is-active:not(.checkbox--stroke) {
  background-color: var(--purple-dark);
}
input:checked + .color-purple.checkbox--stroke,
.color-purple.checkbox--stroke.is-active,
input:checked + .color-purple,
.color-purple.is-active {
  color: var(--purple-dark);
}
/* stylelint-enable */
