/**
 * To use icons, you must include `assembly-svg.js` on your page.
 *
 * @section Icons
 */

/**
 * Apply the `.icn` class and an optional size modifier to an `<svg>` element.
 * Inside the `<svg>`, insert a `<use>` element whose `xlink:href` attribute
 * points to an icon loaded by `assembldy-svg.js`. All icons are referenced
 * by the string `#icon-<name>`.
 *
 * To see a list of all available icons, [visited the Icons page](/assembly/icons).
 *
 * @group
 * @memberof Icons
 * @example
 * <svg class='icn icn--m'><use xlink:href='#icon-account'/></svg>
 */
.icn {
  fill: currentColor;
  height: 20px;
  width: 20px;
}

.icn--s {
  height: 15px;
  width: 15px;
}

.icn--l {
  height: 40px;
  width: 40px;
}
/** @endgroup */
