/**
 * To use icons, you must include `assembly-svg.js` on your page.
 *
 * @section Icons
 */

/**
 * Apply the `.icon` class and an optional size modifier to an `<svg>` element.
 * Inside the `<svg>`, insert a `<use>` element whose `xlink:href` attribute
 * points to an icon loaded by `assembldy-svg.js`. All icons are referenced
 * by the string `#icon-<name>`.
 *
 * To see a list of all available icons, [visited the Icons page](/assembly/icons).
 *
 * @group
 * @memberof Icons
 * @example
 * <svg class='icon icon--m'><use xlink:href='#icon-account'/></svg>
 */
.icon {
  fill: currentColor;
  vertical-align: middle;
  height: 20px;
  width: 20px;
}

.icon--s {
  height: 15px !important;
  width: 15px !important;
}

.icon--l {
  height: 40px !important;
  width: 40px !important;
}
/** @endgroup */
