/**
 * Assembly uses an SVG icon sprite. To load the sprite, you must must include [`assembly.js`](https://www.mapbox.com/assembly/assembly.js) on your page.
 *
 * **Please read [the Icons page](/assembly/icons) to learn more about the available icons and how to use them.**
 *
 * @section Icons
 */

/**
 * The `icon` class must be appled to an `<svg>` element.
 * Inside the `<svg>`, insert a `<use>` element whose `xlink:href` attribute
 * points to an icon loaded by `assembly.js`. All icons are referenced
 * by the string `#icon-{name}`. By default, icons inherit size from their calculated text size.
 * Change the size of icons by applying `w{size}` and `h{size}` classes to the svg.
 *
 * Be aware that *icons are block-level*.
 * If you want them *inline* with some other element, you can give them the `inline-block` class or wrap them in an inline container.
 *
 * To see a list of all available icons, visit [the icons page](/assembly/icons).
 *
 * @memberof Icons
 * @example
 * <svg class='icon'><use xlink:href='#icon-paint'/></svg>
 * <svg class='icon w18 h18'><use xlink:href='#icon-document'/></svg>
 */
.icon {
  display: block;
  fill: currentColor;
  height: 1em;
  width: 1em;
}
