/**
 * Assembly uses an SVG icon sprite. To load the sprite, you must must include [`assembly.js`](https://www.mapbox.com/assembly/assembly.js) on your page.
 *
 * **Please read [the Icons page](/assembly/icons) to learn more about the available icons and how to use them.**
 *
 * @section Icons
 */

/**
 * The `icon` class must be appled to an `<svg>` element.
 * Inside the `<svg>`, insert a `<use>` element whose `xlink:href` attribute
 * points to an icon loaded by `assembly.js`. All icons are referenced
 * by the string `#icon-{name}`.
 *
 * Be aware that *icons are block-level*.
 * If you want them *inline* with some other element, you can give them the `inline-block` class or wrap them in an inline container.
 *
 * To see a list of all available icons, visit [the icons page](/assembly/icons).
 *
 * @memberof Icons
 * @example
 * <svg class='icon'><use xlink:href='#icon-bike'/></svg>
 */
.icon {
  display: block;
  fill: currentColor;
  height: 18px;
  width: 18px;
}

/**
 * Make an icon small.
 *
 * @memberof Icons
 * @example
 * <svg class='icon icon--s'><use xlink:href='#icon-bike'/></svg>
 */
.icon--s {
  height: 12px !important;
  width: 12px !important;
}

/**
 * Make an icon large.
 *
 * @memberof Icons
 * @example
 * <svg class='icon icon--l'><use xlink:href='#icon-bike'/></svg>
 */
.icon--l {
  height: 36px !important;
  width: 36px !important;
}
