/**
 * Layout classes
 * @namespace Layout
 * @memberof Utilities
*/

/**
 * Limiter classes
 * @namespace Limiter
 * @memberof Layout
*/
.limiter {
  width: 83.3333%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

/**
 * Column container for grids.
 *
 * @example
 * <div class='grd'>
 *  <div class='col6'>
 *  <div class='col6'>
 * </div>
 */
.grd {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/**
 * Column classes
 * @namespace Cols
 * @memberof Layout
*/
[class*='col-'] { flex: 1; }
.col-1  { width: 08.3333%; }
.col-2  { width: 16.6666%; }
.col-3  { width: 25%; }
.col-4  { width: 33.3333%; }
.col-5  { width: 41.6666%; }
.col-6  { width: 50%; }
.col-7  { width: 58.3333%; }
.col-8  { width: 66.6666%; }
.col-9  { width: 75%; }
.col-10 { width: 83.3333%; }
.col-11 { width: 91.6666%; }
.col-12 { width: 100%; }

/**
 * Max width containers
 * @namespace Max widths
 * @memberof Layout
*/
.max-1600 { max-width: 1600px; }
.max-1000 { max-width: 1000px; }

/* TODO: move grid to separate stylesheet */
/* stylelint-disable selector-no-combinator */

.grd-gut-5 { margin-left:-5px; }
.grd-gut-10 { margin-left:-10px; }
.grd-gut-20 { margin-left:-20px; }
.grd-gut-40 { margin-left:-40px; }
.grd-gut-80 { margin-left:-80px; }

/**
 * Column gutter classes
 * @memberof Layout
*/
.grd-gut-5 > [class*='col-'] { margin-left: 5px;}
.grd-gut-10 > [class*='col-'] { margin-left: 10px;}
.grd-gut-20 > [class*='col-'] { margin-left: 20px;}
.grd-gut-40 > [class*='col-'] { margin-left: 40px;}
.grd-gut-80 > [class*='col-'] { margin-left: 80px;}

/* stylelint-enable selector-no-combinator */

/**
 * Column classes
 * @namespace Cols
 * @memberof Layout
*/
.col-mar-0  { margin-left: 04.1666%; }
.col-mar-1  { margin-left: 08.3333%; }
.col-mar-2  { margin-left: 16.6666%; }
.col-mar-3  { margin-left: 25%; }
.col-mar-4  { margin-left: 33.3333%; }
.col-mar-5  { margin-left: 41.6666%; }
.col-mar-6  { margin-left: 50%; }
.col-mar-7  { margin-left: 58.3333%; }
.col-mar-8  { margin-left: 66.6666%; }
.col-mar-9  { margin-left: 75%; }
.col-mar-10 { margin-left: 83.3333%; }
.col-mar-11 { margin-left: 91.6666%; }
.col-mar-12 { margin-left: 100%; }

@media only screen and (max-width: 770px) {
  .limiter {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .col-mar-0-md  { margin-left: 04.1666%; }
  .col-mar-1-md  { margin-left: 08.3333%; }
  .col-mar-2-md  { margin-left: 16.6666%; }
  .col-mar-3-md  { margin-left: 25%; }
  .col-mar-4-md  { margin-left: 33.3333%; }
  .col-mar-5-md  { margin-left: 41.6666%; }
  .col-mar-6-md  { margin-left: 50%; }
  .col-mar-7-md  { margin-left: 58.3333%; }
  .col-mar-8-md  { margin-left: 66.6666%; }
  .col-mar-9-md  { margin-left: 75%; }
  .col-mar-10-md { margin-left: 83.3333%; }
  .col-mar-11-md { margin-left: 91.6666%; }
  .col-mar-12-md { margin-left: 100%; }

  .col-0-md  { width: 04.1666%; }
  .col-1-md  { width: 08.3333%; }
  .col-2-md  { width: 16.6666%; }
  .col-3-md  { width: 25%; }
  .col-4-md  { width: 33.3333%; }
  .col-5-md  { width: 41.6666%; }
  .col-6-md  { width: 50%; }
  .col-7-md  { width: 58.3333%; }
  .col-8-md  { width: 66.6666%; }
  .col-9-md  { width: 75%; }
  .col-10-md { width: 83.3333%; }
  .col-11-md { width: 91.6666%; }
  .col-12-md { width: 100%; }
}

@media only screen and (max-width: 640px) {
  .col-mar-0-sm  { margin-left: 04.1666%; }
  .col-mar-1-sm  { margin-left: 08.3333%; }
  .col-mar-2-sm  { margin-left: 16.6666%; }
  .col-mar-3-sm  { margin-left: 25%; }
  .col-mar-4-sm  { margin-left: 33.3333%; }
  .col-mar-5-sm  { margin-left: 41.6666%; }
  .col-mar-6-sm  { margin-left: 50%; }
  .col-mar-7-sm  { margin-left: 58.3333%; }
  .col-mar-8-sm  { margin-left: 66.6666%; }
  .col-mar-9-sm  { margin-left: 75%; }
  .col-mar-10-sm { margin-left: 83.3333%; }
  .col-mar-11-sm { margin-left: 91.6666%; }
  .col-mar-12-sm { margin-left: 100%; }

  .col-0-sm  { width: 04.1666%; }
  .col-1-sm  { width: 08.3333%; }
  .col-2-sm  { width: 16.6666%; }
  .col-3-sm  { width: 25%; }
  .col-4-sm  { width: 33.3333%; }
  .col-5-sm  { width: 41.6666%; }
  .col-6-sm  { width: 50%; }
  .col-7-sm  { width: 58.3333%; }
  .col-8-sm  { width: 66.6666%; }
  .col-9-sm  { width: 75%; }
  .col-10-sm { width: 83.3333%; }
  .col-11-sm { width: 91.6666%; }
  .col-12-sm { width: 100%; }
}

@media only screen and (min-width: 1824px) {
  .col-mar-0-lg  { margin-left: 04.1666%; }
  .col-mar-1-lg  { margin-left: 08.3333%; }
  .col-mar-2-lg  { margin-left: 16.6666%; }
  .col-mar-3-lg  { margin-left: 25%; }
  .col-mar-4-lg  { margin-left: 33.3333%; }
  .col-mar-5-lg  { margin-left: 41.6666%; }
  .col-mar-6-lg  { margin-left: 50%; }
  .col-mar-7-lg  { margin-left: 58.3333%; }
  .col-mar-8-lg  { margin-left: 66.6666%; }
  .col-mar-9-lg  { margin-left: 75%; }
  .col-mar-10-lg { margin-left: 83.3333%; }
  .col-mar-11-lg { margin-left: 91.6666%; }
  .col-mar-12-lg { margin-left: 100%; }

  .col-0-lg  { width: 04.1666%; }
  .col-1-lg  { width: 08.3333%; }
  .col-2-lg  { width: 16.6666%; }
  .col-3-lg  { width: 25%; }
  .col-4-lg  { width: 33.3333%; }
  .col-5-lg  { width: 41.6666%; }
  .col-6-lg  { width: 50%; }
  .col-7-lg  { width: 58.3333%; }
  .col-8-lg  { width: 66.6666%; }
  .col-9-lg  { width: 75%; }
  .col-10-lg { width: 83.3333%; }
  .col-11-lg { width: 91.6666%; }
  .col-12-lg { width: 100%; }
}

/**
 * Bleed classes
 * @namespace bld
 * @memberof Layout
*/
.bld {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

[class*='bld-'] { flex: 1; }
.col-6.bld-right  { margin-right: calc(50% - 50vw); }
.col-6.bld-left   { margin-left: calc(50% - 50vw); }
