/**
 * Layout
 * @section Layout
 */

/**
 * Use to apply fluid left and right margins across a variety of screen sizes. Designed to
 * keep section width similar across a variety of screen sizes.
 */
.limiter {
  width: 83.3333%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

@media only (--medium-screen) {
  .limiter {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
}

/**
 * Flexbox utilities. Check out ["A Complete Guide to Flexbox"](https://css-tricks.com/snippets/css/a-guide-to-flexbox/)
 * to learn how the system works. Class set includes `-media-s`, `-media-m`, and `-media-l` variations to target screen sizes.
 *
 * @memberof Layout
 * @group
 */
.flex-parent { display: flex !important; }
.flex-parent--inline { display: inline-flex !important; }
.flex-parent--column { flex-direction: column !important; }
.flex-parent--wrap { flex-wrap: wrap !important; }
.flex-parent--justify-end { justify-content: flex-end !important; }
.flex-parent--center-main { justify-content: center !important; }
.flex-parent--center-cross { align-items: center !important; }
.flex-parent--stretch-main { justify-content: stretch !important; }
.flex-parent--stretch-cross { align-items: stretch !important; }

.flex-child-noshrink { flex-shrink: 0 !important; }
.flex-child-grow {
  flex-grow: 1;
  /* prevent overflowing chidlren
  clearfix. https://css-tricks.com/flexbox-truncated-text/ */
  min-width: 0 !important;
}
/** @endgroup */

@media only screen and (--large-screen) {
  .flex-parent-media-l { display: flex-parent !important; }
  .flex-parent-none-media-l { flex: none !important; }
  .flex-parent--column-media-l { flex-direction: column !important; }
  .flex-parent--wrap-media-l { flex-wrap: wrap !important; }
  .flex-parent--justify-end-media-l { justify-content: flex-end !important; }
  .flex-parent--center-main-media-l { justify-content: center !important; }
  .flex-parent--center-cross-media-l { align-items: center !important; }
  .flex-parent--stretch-cross-media-l { align-items: stretch !important; }
  .flex-child-noshrink-media-l { flex-shrink: 0 !important; }
  .flex-child-grow-media-l {
    flex-grow: 1 !important;
    min-width: 0 !important;
  }
}

@media only screen and (--medium-screen) {
  .flex-parent-media-m { display: flex-parent !important; }
  .flex-parent-none-media-m { flex: none !important; }
  .flex-parent--column-media-m { flex-direction: column !important; }
  .flex-parent--wrap-media-m { flex-wrap: wrap !important; }
  .flex-parent--justify-end-media-m { justify-content: flex-end !important; }
  .flex-parent--center-main-media-m { justify-content: center !important; }
  .flex-parent--center-cross-media-m { align-items: center !important; }
  .flex-parent--stretch-cross-media-m { align-items: stretch !important; }
  .flex-child-noshrink-media-m { flex-shrink: 0 !important; }
  .flex-child-grow-media-m {
    flex-grow: 1 !important;
    min-width: 0 !important;
  }
}

@media only screen and (--small-screen) {
  .flex-parent-media-s { display: flex-parent !important; }
  .flex-parent-none-media-s { flex: none !important; }
  .flex-parent--column-media-s { flex-direction: column !important; }
  .flex-parent--wrap-media-s { flex-wrap: wrap !important; }
  .flex-parent--justify-end-media-s { justify-content: flex-end !important; }
  .flex-parent--center-main-media-s { justify-content: center !important; }
  .flex-parent--center-cross-media-s { align-items: center !important; }
  .flex-parent--stretch-cross-media-s { align-items: stretch !important; }
  .flex-child-noshrink-media-s { flex-shrink: 0 !important; }
  .flex-child-grow-media-s {
    flex-grow: 1 !important;
    min-width: 0 !important;
  }
}

/**
 * Column classes
 * @group
 * @memberof Layout
 */
.col { flex-shrink: 0 !important; }
.col--1 { width: 08.3333% !important; }
.col--2 { width: 16.6666% !important; }
.col--3 { width: 25% !important; }
.col--4 { width: 33.3333% !important; }
.col--5 { width: 41.6666% !important; }
.col--6 { width: 50% !important; }
.col--7 { width: 58.3333% !important; }
.col--8 { width: 66.6666% !important; }
.col--9 { width: 75% !important; }
.col--10 { width: 83.3333% !important; }
.col--11 { width: 91.6666% !important; }
.col--12 { width: 100% !important; }
/** @endgroup */

@media only (--large-screen) {
  .col--1-media-l { width: 08.3333% !important; }
  .col--2-media-l { width: 16.6666% !important; }
  .col--3-media-l { width: 25% !important; }
  .col--4-media-l { width: 33.3333% !important; }
  .col--5-media-l { width: 41.6666% !important; }
  .col--6-media-l { width: 50% !important; }
  .col--7-media-l { width: 58.3333% !important; }
  .col--8-media-l { width: 66.6666% !important; }
  .col--9-media-l { width: 75% !important; }
  .col--10-media-l { width: 83.3333% !important; }
  .col--11-media-l { width: 91.6666% !important; }
  .col--12-media-l { width: 100% !important; }
}

@media only (--medium-screen) {
  .col--1-media-m { width: 08.3333% !important; }
  .col--2-media-m { width: 16.6666% !important; }
  .col--3-media-m { width: 25% !important; }
  .col--4-media-m { width: 33.3333% !important; }
  .col--5-media-m { width: 41.6666% !important; }
  .col--6-media-m { width: 50% !important; }
  .col--7-media-m { width: 58.3333% !important; }
  .col--8-media-m { width: 66.6666% !important; }
  .col--9-media-m { width: 75% !important; }
  .col--10-media-m { width: 83.3333% !important; }
  .col--11-media-m { width: 91.6666% !important; }
  .col--12-media-m { width: 100% !important; }
}

@media only (--small-screen) {
  .col--1-media-s { width: 08.3333% !important; }
  .col--2-media-s { width: 16.6666% !important; }
  .col--3-media-s { width: 25% !important; }
  .col--4-media-s { width: 33.3333% !important; }
  .col--5-media-s { width: 41.6666% !important; }
  .col--6-media-s { width: 50% !important; }
  .col--7-media-s { width: 58.3333% !important; }
  .col--8-media-s { width: 66.6666% !important; }
  .col--9-media-s { width: 75% !important; }
  .col--10-media-s { width: 83.3333% !important; }
  .col--11-media-s { width: 91.6666% !important; }
  .col--12-media-s { width: 100% !important; }
}

/**
 * Column container for grids.
 *
 * @example
 * <div class='grid grid--gut12'>
 *  <div class='col col--6'>
 *    <div class='p12 bg-blue-faint'>6</div>
 *  </div>
 *  <div class='col col--3'>
 *    <div class='p12 bg-blue-faint'>3</div>
 *  </div>
 *  <div class='col col--3'>
 *    <div class='p12 bg-blue-faint'>3</div>
 *  </div>
 * </div>
 */
.grid {
  display: flex !important;
  flex-wrap: wrap !important;
}

/**
 * Column gutter classes
 * @group
 */
.grid--gut6 { margin-left: -6px !important; }
.grid--gut12 { margin-left: -12px !important; }
.grid--gut24 { margin-left: -24px !important; }
.grid--gut48 { margin-left: -48px !important; }
.grid--gut96 { margin-left: -96px !important; }
/** @endgroup */

/* stylelint-disable selector-no-combinator */
.grid--gut6 > .col { padding-left: 6px !important; }
.grid--gut12 > .col { padding-left: 12px !important; }
.grid--gut24 > .col { padding-left: 24px !important; }
.grid--gut42 > .col { padding-left: 48px !important; }
.grid--gut96 > .col { padding-left: 96px !important; }
/* stylelint-enable selector-no-combinator */

/**
 * Left column margins.
 * @group
 * @memberof Layout
 */
.col--offl1 { margin-left: 08.3333% !important; }
.col--offl2 { margin-left: 16.6666% !important; }
.col--offl3 { margin-left: 25% !important; }
.col--offl4 { margin-left: 33.3333% !important; }
.col--offl5 { margin-left: 41.6666% !important; }
.col--offl6 { margin-left: 50% !important; }
.col--offl7 { margin-left: 58.3333% !important; }
.col--offl8 { margin-left: 66.6666% !important; }
.col--offl9 { margin-left: 75% !important; }
.col--offl10 { margin-left: 83.3333% !important; }
.col--offl11 { margin-left: 91.6666% !important; }
.col--offl12 { margin-left: 100% !important; }
/** @endgroup */

@media only (--large-screen) {
  .col--offl1-media-l { margin-left: 08.3333% !important; }
  .col--offl2-media-l { margin-left: 16.6666% !important; }
  .col--offl3-media-l { margin-left: 25% !important; }
  .col--offl4-media-l { margin-left: 33.3333% !important; }
  .col--offl5-media-l { margin-left: 41.6666% !important; }
  .col--offl6-media-l { margin-left: 50% !important; }
  .col--offl7-media-l { margin-left: 58.3333% !important; }
  .col--offl8-media-l { margin-left: 66.6666% !important; }
  .col--offl9-media-l { margin-left: 75% !important; }
  .col--offl10-media-l { margin-left: 83.3333% !important; }
  .col--offl11-media-l { margin-left: 91.6666% !important; }
  .col--offl12-media-l { margin-left: 100% !important; }
}

@media only (--medium-screen) {
  .col--offl1-media-m { margin-left: 08.3333% !important; }
  .col--offl2-media-m { margin-left: 16.6666% !important; }
  .col--offl3-media-m { margin-left: 25% !important; }
  .col--offl4-media-m { margin-left: 33.3333% !important; }
  .col--offl5-media-m { margin-left: 41.6666% !important; }
  .col--offl6-media-m { margin-left: 50% !important; }
  .col--offl7-media-m { margin-left: 58.3333% !important; }
  .col--offl8-media-m { margin-left: 66.6666% !important; }
  .col--offl9-media-m { margin-left: 75% !important; }
  .col--offl10-media-m { margin-left: 83.3333% !important; }
  .col--offl11-media-m { margin-left: 91.6666% !important; }
  .col--offl12-media-m { margin-left: 100% !important; }
}

@media only (--small-screen) {
  .col--offl1-media-s { margin-left: 08.3333% !important; }
  .col--offl2-media-s { margin-left: 16.6666% !important; }
  .col--offl3-media-s { margin-left: 25% !important; }
  .col--offl4-media-s { margin-left: 33.3333% !important; }
  .col--offl5-media-s { margin-left: 41.6666% !important; }
  .col--offl6-media-s { margin-left: 50% !important; }
  .col--offl7-media-s { margin-left: 58.3333% !important; }
  .col--offl8-media-s { margin-left: 66.6666% !important; }
  .col--offl9-media-s { margin-left: 75% !important; }
  .col--offl10-media-s { margin-left: 83.3333% !important; }
  .col--offl11-media-s { margin-left: 91.6666% !important; }
  .col--offl12-media-s { margin-left: 100% !important; }
}

/**
 * Right column margins.
 * @group
 * @memberof Layout
 */
.col--offr1 { margin-right: 08.3333% !important; }
.col--offr2 { margin-right: 16.6666% !important; }
.col--offr3 { margin-right: 25% !important; }
.col--offr4 { margin-right: 33.3333% !important; }
.col--offr5 { margin-right: 41.6666% !important; }
.col--offr6 { margin-right: 50% !important; }
.col--offr7 { margin-right: 58.3333% !important; }
.col--offr8 { margin-right: 66.6666% !important; }
.col--offr9 { margin-right: 75% !important; }
.col--offr10 { margin-right: 83.3333% !important; }
.col--offr11 { margin-right: 91.6666% !important; }
.col--offr12 { margin-right: 100% !important; }
/** @endgroup */

@media only (--large-screen) {
  .col--offr1-media-l { margin-right: 08.3333% !important; }
  .col--offr2-media-l { margin-right: 16.6666% !important; }
  .col--offr3-media-l { margin-right: 25% !important; }
  .col--offr4-media-l { margin-right: 33.3333% !important; }
  .col--offr5-media-l { margin-right: 41.6666% !important; }
  .col--offr6-media-l { margin-right: 50% !important; }
  .col--offr7-media-l { margin-right: 58.3333% !important; }
  .col--offr8-media-l { margin-right: 66.6666% !important; }
  .col--offr9-media-l { margin-right: 75% !important; }
  .col--offr10-media-l { margin-right: 83.3333% !important; }
  .col--offr11-media-l { margin-right: 91.6666% !important; }
  .col--offr12-media-l { margin-right: 100% !important; }
}

@media only (--medium-screen) {
  .col--offr1-media-m { margin-right: 08.3333% !important; }
  .col--offr2-media-m { margin-right: 16.6666% !important; }
  .col--offr3-media-m { margin-right: 25% !important; }
  .col--offr4-media-m { margin-right: 33.3333% !important; }
  .col--offr5-media-m { margin-right: 41.6666% !important; }
  .col--offr6-media-m { margin-right: 50% !important; }
  .col--offr7-media-m { margin-right: 58.3333% !important; }
  .col--offr8-media-m { margin-right: 66.6666% !important; }
  .col--offr9-media-m { margin-right: 75% !important; }
  .col--offr10-media-m { margin-right: 83.3333% !important; }
  .col--offr11-media-m { margin-right: 91.6666% !important; }
  .col--offr12-media-m { margin-right: 100% !important; }
}

@media only (--small-screen) {
  .col--offr1-media-s { margin-right: 08.3333% !important; }
  .col--offr2-media-s { margin-right: 16.6666% !important; }
  .col--offr3-media-s { margin-right: 25% !important; }
  .col--offr4-media-s { margin-right: 33.3333% !important; }
  .col--offr5-media-s { margin-right: 41.6666% !important; }
  .col--offr6-media-s { margin-right: 50% !important; }
  .col--offr7-media-s { margin-right: 58.3333% !important; }
  .col--offr8-media-s { margin-right: 66.6666% !important; }
  .col--offr9-media-s { margin-right: 75% !important; }
  .col--offr10-media-s { margin-right: 83.3333% !important; }
  .col--offr11-media-s { margin-right: 91.6666% !important; }
  .col--offr12-media-s { margin-right: 100% !important; }
}

/**
 * Bleed classes
 * One caveat with using bleed rules is that there are certain occasisons where
 * content will overflow from the left and right sides of the screens. It is
 * generally necessary to add a `.clip` class on the parent to avoid overflow
 * with scrollbars.
 * @group
 * @example
 * <div>TODO</div>
 */
.bleed {
  margin-left: calc(50% - 50vw) !important;
  margin-right: calc(50% - 50vw) !important;
}

.bleed-r { flex: 1 !important; margin-right: calc(50% - 50vw) !important; }
.bleed-l { flex: 1 !important; margin-left: calc(50% - 50vw) !important; }
/* @endgroup */

/**
 * For non-grid, non-flexbox layouts.
 *
 * @section Floats and clearfix
 * @memberof Layout
 */

/**
 * @group
 * @memberof Floats and clearfix
 * @example
 * <div class='clearfix border border--gray'>
 *   <div class='fl'>left</div>
 *   <div class='fr'>right</div>
 * </div>
 */
.fl { float: left !important; }
.fr { float: right !important; }
.clearfix::after {
  content: '' !important;
  display: block !important;
  clear: both !important;
}
/** @endgroup */

/**
 * Use display classes to control the display property of elements. Class set includes `-media-s`, `-media-m`, and `-media-l` variations to target screen sizes.
 *
 * @section Display
 * @memberof Layout
 */

/**
 * @group
 * @memberof Display
 * @example
 * <div class="p12 border mb12">
 *   <div class="inline border border--blue-light bor-all">inline</div>
 * </div>
 * <div class="p12 border mb12">
 *   <div class="block border border--blue-light bor-all">block</div>
 * </div>
 * <div class="p12 border mb12">
 *   <div class="inline-block border border--blue-light bor-all">inline-block</div>
 * </div>
 * <div class="p12 border mb12">
 *   <div class="flex-parent border border--blue-light bor-all">flex</div>
 * </div>
 * <div class="p12 border">
 *   <div class="none border border--blue-light bor-all">none</div>
 * </div>
 */
.inline { display: inline !important; }
.block { display: block !important; }
.inline-block { display: inline-block !important; }
.none { display: none !important; }
/** @endgroup */

@media only (--large-screen) {
  .inline-media-l { display: inline !important; }
  .block-media-l { display: block !important; }
  .inline-block-media-l { display: inline-block !important; }
  .none-media-l { display: none !important; }
}

@media only (--medium-screen) {
  .inline-media-m { display: inline !important; }
  .block-media-m { display: block !important; }
  .inline-block-media-m { display: inline-block !important; }
  .none-media-m { display: none !important; }
}

@media only (--small-screen) {
  .inline-media-s { display: inline !important; }
  .block-media-s { display: block !important; }
  .inline-block-media-s { display: inline-block !important; }
  .none-media-s { display: none !important; }
}

/**
 * Positioning
 * @section Positioning
 * @memberof Layout
 */

/**
 * Set an element's `position`. Class set includes `-media-s`, `-media-m`, and `-media-l` variations to target screen sizes.
 *
 * @group
 * @memberof Positioning
 */
.fixed { position: fixed !important; }
.absolute { position: absolute !important; }
.relative { position: relative !important; }
.static { position: static !important; }
/** @endgroup */

@media only (--large-screen) {
  .fixed-media-l { position: fixed !important; }
  .absolute-media-l { position: absolute !important; }
  .relative-media-l { position: relative !important; }
  .static-media-l { position: static !important; }
}

@media only (--medium-screen) {
  .fixed-media-m { position: fixed !important; }
  .absolute-media-m { position: absolute !important; }
  .relative-media-m { position: relative !important; }
  .static-media-m { position: static !important; }
}

@media only (--small-screen) {
  .fixed-media-s { position: fixed !important; }
  .absolute-media-s { position: absolute !important; }
  .relative-media-s { position: relative !important; }
  .static-media-s { position: static !important; }
}

/**
 * Set positioned elements flush against a side of their container. Class set includes `-media-s`, `-media-m`, and `-media-l` variations to target screen sizes.
 *
 * @group
 * @memberof Positioning
 */
.top { top: 0 !important; }
.right { right: 0 !important; }
.left { left: 0 !important; }
.bottom { bottom: 0 !important; }
/** @endgroup */

@media only (--large-screen) {
  .top-media-l { top: 0 !important; }
  .right-media-l { right: 0 !important; }
  .left-media-l { left: 0 !important; }
  .bottom-media-l { bottom: 0 !important; }
}

@media only (--medium-screen) {
  .top-media-m { top: 0 !important; }
  .right-media-m { right: 0 !important; }
  .left-media-m { left: 0 !important; }
  .bottom-media-m { bottom: 0 !important; }
}

@media only (--small-screen) {
  .top-media-s { top: 0 !important; }
  .right-media-s { right: 0 !important; }
  .left-media-s { left: 0 !important; }
  .bottom-media-s { bottom: 0 !important; }
}

/**
 * Override default stacking order with z-index classes. Whenever possible, rely on
 * built-in stacking order and avoid these rules. Class set includes `-media-s`, `-media-m`, and `-media-l` variations to target screen sizes.
 *
 * @group
 * @memberof Positioning
 */
.z-neg1 { z-index: -1 !important; }
.z0 { z-index: 0 !important; }
.z1 { z-index: 1 !important; }
.z2 { z-index: 2 !important; }
.z3 { z-index: 3 !important; }
.z4 { z-index: 4 !important; }
.z5 { z-index: 5 !important; }
/** @endgroup */

@media only (--large-screen) {
  .z-neg1-media-l { z-index: -1 !important; }
  .z0-media-l { z-index: 0 !important; }
  .z1-media-l { z-index: 1 !important; }
  .z2-media-l { z-index: 2 !important; }
  .z3-media-l { z-index: 3 !important; }
  .z4-media-l { z-index: 4 !important; }
  .z5-media-l { z-index: 5 !important; }
}

@media only (--medium-screen) {
  .z-neg1-media-m { z-index: -1 !important; }
  .z0-media-m { z-index: 0 !important; }
  .z1-media-m { z-index: 1 !important; }
  .z2-media-m { z-index: 2 !important; }
  .z3-media-m { z-index: 3 !important; }
  .z4-media-m { z-index: 4 !important; }
  .z5-media-m { z-index: 5 !important; }
}

@media only (--small-screen) {
  .z-neg1-media-s { z-index: -1 !important; }
  .z0-media-s { z-index: 0 !important; }
  .z1-media-s { z-index: 1 !important; }
  .z2-media-s { z-index: 2 !important; }
  .z3-media-s { z-index: 3 !important; }
  .z4-media-s { z-index: 4 !important; }
  .z5-media-s { z-index: 5 !important; }
}

/**
 * All margin classes follow the following pattern:
 * `m<side><margin-size>-<screen-size>`. Screen sizes are *optional* and are `-media-s`, `-media-m`, and `-media-l`.
 *
 * @section Margins
 * @memberof Layout
 */

/**
 * @memberof Margins
 * @example
 * <div class='border'>
 *   <div class='mt12 ml24 mb6 mr12 bg-blue-faint'>one</div>
 *   <div class='mt6 mb6 mr6 bg-blue-faint'>two</div>
 *   <div class='ml18 bg-blue-faint'>three</div>
 * </div>
 */

/**
 * Top margins
 * @group
 * @memberof Margins
 */
.mt0 { margin-top: 0 !important; }
.mt3 { margin-top: 3px !important; }
.mt6 { margin-top: 6px !important; }
.mt12 { margin-top: 12px !important; }
.mt18 { margin-top: 18px !important; }
.mt24 { margin-top: 24px !important; }
.mt48 { margin-top: 48px !important; }
.mt72 { margin-top: 72px !important; }
.mt96 { margin-top: 96px !important; }
.mt120 { margin-top: 120px !important; }
.mt180 { margin-top: 180px !important; }
.mt240 { margin-top: 240px !important; }
.mt480 { margin-top: 480px !important; }
/** @endgroup */

@media only (--large-screen) {
  .mt0-media-l { margin-top: 0 !important; }
  .mt3-media-l { margin-top: 3px !important; }
  .mt6-media-l { margin-top: 6px !important; }
  .mt12-media-l { margin-top: 12px !important; }
  .mt18-media-l { margin-top: 18px !important; }
  .mt24-media-l { margin-top: 24px !important; }
  .mt48-media-l { margin-top: 48px !important; }
  .mt72-media-l { margin-top: 72px !important; }
  .mt96-media-l { margin-top: 96px !important; }
  .mt120-media-l { margin-top: 120px !important; }
  .mt180-media-l { margin-top: 180px !important; }
  .mt240-media-l { margin-top: 240px !important; }
  .mt480-media-l { margin-top: 480px !important; }
}

@media only (--medium-screen) {
  .mt0-media-m { margin-top: 0 !important; }
  .mt3-media-m { margin-top: 3px !important; }
  .mt6-media-m { margin-top: 6px !important; }
  .mt12-media-m { margin-top: 12px !important; }
  .mt18-media-m { margin-top: 18px !important; }
  .mt24-media-m { margin-top: 24px !important; }
  .mt48-media-m { margin-top: 48px !important; }
  .mt72-media-m { margin-top: 72px !important; }
  .mt96-media-m { margin-top: 96px !important; }
  .mt120-media-m { margin-top: 120px !important; }
  .mt180-media-m { margin-top: 180px !important; }
  .mt240-media-m { margin-top: 240px !important; }
  .mt480-media-m { margin-top: 480px !important; }
}

@media only (--small-screen) {
  .mt0-media-s { margin-top: 0 !important; }
  .mt3-media-s { margin-top: 3px !important; }
  .mt6-media-s { margin-top: 6px !important; }
  .mt12-media-s { margin-top: 12px !important; }
  .mt18-media-s { margin-top: 18px !important; }
  .mt24-media-s { margin-top: 24px !important; }
  .mt48-media-s { margin-top: 48px !important; }
  .mt72-media-s { margin-top: 72px !important; }
  .mt96-media-s { margin-top: 96px !important; }
  .mt120-media-s { margin-top: 120px !important; }
  .mt180-media-s { margin-top: 180px !important; }
  .mt240-media-s { margin-top: 240px !important; }
  .mt480-media-s { margin-top: 480px !important; }
}

/**
 * Right margins
 * @group
 * @memberof Margins
 */
.mr0 { margin-right: 0 !important; }
.mr3 { margin-right: 3px !important; }
.mr6 { margin-right: 6px !important; }
.mr12 { margin-right: 12px !important; }
.mr18 { margin-right: 18px !important; }
.mr24 { margin-right: 24px !important; }
.mr48 { margin-right: 48px !important; }
.mr72 { margin-right: 72px !important; }
.mr96 { margin-right: 96px !important; }
.mr120 { margin-right: 120px !important; }
.mr180 { margin-right: 180px !important; }
.mr240 { margin-right: 240px !important; }
.mr480 { margin-right: 480px !important; }
/** @endgroup */

@media only (--large-screen) {
  .mr0-l { margin-right: 0 !important; }
  .mr3-l { margin-right: 3px !important; }
  .mr6-l { margin-right: 6px !important; }
  .mr12-l { margin-right: 12px !important; }
  .mr18-l { margin-right: 18px !important; }
  .mr24-l { margin-right: 24px !important; }
  .mr48-l { margin-right: 48px !important; }
  .mr72-l { margin-right: 72px !important; }
  .mr96-l { margin-right: 96px !important; }
  .mr120-l { margin-right: 120px !important; }
  .mr180-l { margin-right: 180px !important; }
  .mr240-l { margin-right: 240px !important; }
  .mr480-l { margin-right: 480px !important; }
}

@media only (--medium-screen) {
  .mr0-m { margin-right: 0 !important; }
  .mr3-m { margin-right: 3px !important; }
  .mr6-m { margin-right: 6px !important; }
  .mr12-m { margin-right: 12px !important; }
  .mr18-m { margin-right: 18px !important; }
  .mr24-m { margin-right: 24px !important; }
  .mr48-m { margin-right: 48px !important; }
  .mr72-m { margin-right: 72px !important; }
  .mr96-m { margin-right: 96px !important; }
  .mr120-m { margin-right: 120px !important; }
  .mr180-m { margin-right: 180px !important; }
  .mr240-m { margin-right: 240px !important; }
  .mr480-m { margin-right: 480px !important; }
}

@media only (--small-screen) {
  .mr0-s { margin-right: 0 !important; }
  .mr3-s { margin-right: 3px !important; }
  .mr6-s { margin-right: 6px !important; }
  .mr12-s { margin-right: 12px !important; }
  .mr18-s { margin-right: 18px !important; }
  .mr24-s { margin-right: 24px !important; }
  .mr48-s { margin-right: 48px !important; }
  .mr72-s { margin-right: 72px !important; }
  .mr96-s { margin-right: 96px !important; }
  .mr120-s { margin-right: 120px !important; }
  .mr180-s { margin-right: 180px !important; }
  .mr240-s { margin-right: 240px !important; }
  .mr480-s { margin-right: 480px !important; }
}

/**
 * Bottom margins
 * @group
 * @memberof Margins
 */
.mb-neg1 { margin-bottom: -1px !important; }
.mb-neg2 { margin-bottom: -2px !important; }
.mb0 { margin-bottom: 0 !important; }
.mb3 { margin-bottom: 3px !important; }
.mb6 { margin-bottom: 6px !important; }
.mb12 { margin-bottom: 12px !important; }
.mb18 { margin-bottom: 18px !important; }
.mb24 { margin-bottom: 24px !important; }
.mb48 { margin-bottom: 48px !important; }
.mb72 { margin-bottom: 72px !important; }
.mb96 { margin-bottom: 96px !important; }
.mb120 { margin-bottom: 120px !important; }
.mb180 { margin-bottom: 180px !important; }
.mb240 { margin-bottom: 240px !important; }
.mb480 { margin-bottom: 480px !important; }
/* @endgroup */

@media only (--large-screen) {
  .mb-neg1-media-l { margin-bottom: -1px !important; }
  .mb-neg2-media-l { margin-bottom: -2px !important; }
  .mb0-media-l { margin-bottom: 0 !important; }
  .mb3-media-l { margin-bottom: 3px !important; }
  .mb6-media-l { margin-bottom: 6px !important; }
  .mb12-media-l { margin-bottom: 12px !important; }
  .mb18-media-l { margin-bottom: 18px !important; }
  .mb24-media-l { margin-bottom: 24px !important; }
  .mb48-media-l { margin-bottom: 48px !important; }
  .mb72-media-l { margin-bottom: 72px !important; }
  .mb96-media-l { margin-bottom: 96px !important; }
  .mb120-media-l { margin-bottom: 120px !important; }
  .mb180-media-l { margin-bottom: 180px !important; }
  .mb240-media-l { margin-bottom: 240px !important; }
  .mb480-media-l { margin-bottom: 480px !important; }
}

@media only (--medium-screen) {
  .mb-neg1-media-m { margin-bottom: -1px !important; }
  .mb-neg2-media-m { margin-bottom: -2px !important; }
  .mb0-media-m { margin-bottom: 0 !important; }
  .mb3-media-m { margin-bottom: 3px !important; }
  .mb6-media-m { margin-bottom: 6px !important; }
  .mb12-media-m { margin-bottom: 12px !important; }
  .mb18-media-m { margin-bottom: 18px !important; }
  .mb24-media-m { margin-bottom: 24px !important; }
  .mb48-media-m { margin-bottom: 48px !important; }
  .mb72-media-m { margin-bottom: 72px !important; }
  .mb96-media-m { margin-bottom: 96px !important; }
  .mb120-media-m { margin-bottom: 120px !important; }
  .mb180-media-m { margin-bottom: 180px !important; }
  .mb240-media-m { margin-bottom: 240px !important; }
  .mb480-media-m { margin-bottom: 480px !important; }
}

@media only (--small-screen) {
  .mb-neg1-media-s { margin-bottom: -1px !important; }
  .mb-neg2-media-s { margin-bottom: -2px !important; }
  .mb0-media-s { margin-bottom: 0 !important; }
  .mb3-media-s { margin-bottom: 3px !important; }
  .mb6-media-s { margin-bottom: 6px !important; }
  .mb12-media-s { margin-bottom: 12px !important; }
  .mb18-media-s { margin-bottom: 18px !important; }
  .mb24-media-s { margin-bottom: 24px !important; }
  .mb48-media-s { margin-bottom: 48px !important; }
  .mb72-media-s { margin-bottom: 72px !important; }
  .mb96-media-s { margin-bottom: 96px !important; }
  .mb120-media-s { margin-bottom: 120px !important; }
  .mb180-media-s { margin-bottom: 180px !important; }
  .mb240-media-s { margin-bottom: 240px !important; }
  .mb480-media-s { margin-bottom: 480px !important; }
}

/**
 * Left margins
 * @group
 * @memberof Margins
 */
.ml0 { margin-left: 0 !important; }
.ml6 { margin-left: 6px !important; }
.ml3 { margin-left: 3px !important; }
.ml12 { margin-left: 12px !important; }
.ml18 { margin-left: 18px !important; }
.ml24 { margin-left: 24px !important; }
.ml48 { margin-left: 48px !important; }
.ml72 { margin-left: 72px !important; }
.ml96 { margin-left: 96px !important; }
.ml120 { margin-left: 120px !important; }
.ml180 { margin-left: 180px !important; }
.ml240 { margin-left: 240px !important; }
.ml480 { margin-left: 480px !important; }
/** @endgroup */

@media only (--large-screen) {
  .ml0-media-l { margin-left: 0 !important; }
  .ml3-media-l { margin-left: 3px !important; }
  .ml6-media-l { margin-left: 6px !important; }
  .ml12-media-l { margin-left: 12px !important; }
  .ml18-media-l { margin-left: 18px !important; }
  .ml24-media-l { margin-left: 24px !important; }
  .ml48-media-l { margin-left: 48px !important; }
  .ml72-media-l { margin-left: 72px !important; }
  .ml96-media-l { margin-left: 96px !important; }
  .ml120-media-l { margin-left: 120px !important; }
  .ml180-media-l { margin-left: 180px !important; }
  .ml240-media-l { margin-left: 240px !important; }
  .ml480-media-l { margin-left: 480px !important; }
}

@media only (--medium-screen) {
  .ml0-media-m { margin-left: 0 !important; }
  .ml3-media-m { margin-left: 3px !important; }
  .ml6-media-m { margin-left: 6px !important; }
  .ml12-media-m { margin-left: 12px !important; }
  .ml18-media-m { margin-left: 18px !important; }
  .ml24-media-m { margin-left: 24px !important; }
  .ml48-media-m { margin-left: 48px !important; }
  .ml72-media-m { margin-left: 72px !important; }
  .ml96-media-m { margin-left: 96px !important; }
  .ml120-media-m { margin-left: 120px !important; }
  .ml180-media-m { margin-left: 180px !important; }
  .ml240-media-m { margin-left: 240px !important; }
  .ml480-media-m { margin-left: 480px !important; }
}

@media only (--small-screen) {
  .ml0-media-s { margin-left: 0 !important; }
  .ml3-media-s { margin-left: 3px !important; }
  .ml6-media-s { margin-left: 6px !important; }
  .ml12-media-s { margin-left: 12px !important; }
  .ml18-media-s { margin-left: 18px !important; }
  .ml24-media-s { margin-left: 24px !important; }
  .ml48-media-s { margin-left: 48px !important; }
  .ml72-media-s { margin-left: 72px !important; }
  .ml96-media-s { margin-left: 96px !important; }
  .ml120-media-s { margin-left: 120px !important; }
  .ml180-media-s { margin-left: 180px !important; }
  .ml240-media-s { margin-left: 240px !important; }
  .ml480-media-s { margin-left: 480px !important; }
}

/**
 * All padding classes follow the following pattern:
 * `m<side><padding-size>-<screen-size>`. Screen sizes are *optional* and are `-media-s`, `-media-m`, and `-media-l`.
 *
 * @section Padding
 * @memberof Layout
 */

/**
 * @memberof Padding
 * @example
 * <div class='border border--gray clearfix'>
 *   <div class='fl pt12 pl24 pb6 pr12 bg-blue-faint'>one</div>
 *   <div class='fl py6 pr6 bg-blue'>two</div>
 *   <div class='fl pl48 bg-red'>three</div>
 * </div>
 */

/**
 * Padding on all sides
 * @group
 * @memberof Padding
 */
.p0 { padding: 0 !important; }
.p3 { padding: 3px !important; }
.p6 { padding: 6px !important; }
.p12 { padding: 12px !important; }
.p18 { padding: 18px !important; }
.p24 { padding: 24px !important; }
.p48 { padding: 48px !important; }
.p72 { padding: 72px !important; }
.p96 { padding: 96px !important; }
/** @endgroup */

@media only (--large-screen) {
  .p0-media-l { padding: 0 !important; }
  .p3-media-l { padding: 3px !important; }
  .p6-media-l { padding: 6px !important; }
  .p12-media-l { padding: 12px !important; }
  .p18-media-l { padding: 18px !important; }
  .p24-media-l { padding: 24px !important; }
  .p48-media-l { padding: 48px !important; }
  .p72-media-l { padding: 72px !important; }
  .p96-media-l { padding: 96px !important; }
}

@media only (--medium-screen) {
  .p0-media-m { padding: 0 !important; }
  .p3-media-m { padding: 3px !important; }
  .p6-media-m { padding: 6px !important; }
  .p12-media-m { padding: 12px !important; }
  .p18-media-m { padding: 18px !important; }
  .p24-media-m { padding: 24px !important; }
  .p48-media-m { padding: 48px !important; }
  .p72-media-m { padding: 72px !important; }
  .p96-media-m { padding: 96px !important; }
}

@media only (--small-screen) {
  .p0-media-s { padding: 0 !important; }
  .p3-media-s { padding: 3px !important; }
  .p6-media-s { padding: 6px !important; }
  .p12-media-s { padding: 12px !important; }
  .p18-media-s { padding: 18px !important; }
  .p24-media-s { padding: 24px !important; }
  .p48-media-s { padding: 48px !important; }
  .p72-media-s { padding: 72px !important; }
  .p96-media-s { padding: 96px !important; }
}

/**
 * Top padding
 * @group
 * @memberof Padding
 */
.pt0 { padding-top: 0 !important; }
.pt3 { padding-top: 3px !important; }
.pt6 { padding-top: 6px !important; }
.pt12 { padding-top: 12px !important; }
.pt18 { padding-top: 18px !important; }
.pt24 { padding-top: 24px !important; }
.pt48 { padding-top: 48px !important; }
.pt72 { padding-top: 72px !important; }
.pt96 { padding-top: 96px !important; }
/** @endgroup */

@media only (--large-screen) {
  .pt0-media-l { padding-top: 0 !important; }
  .pt3-media-l { padding-top: 3px !important; }
  .pt6-media-l { padding-top: 6px !important; }
  .pt12-media-l { padding-top: 12px !important; }
  .pt18-media-l { padding-top: 18px !important; }
  .pt24-media-l { padding-top: 24px !important; }
  .pt48-media-l { padding-top: 48px !important; }
  .pt72-media-l { padding-top: 72px !important; }
  .pt96-media-l { padding-top: 96px !important; }
}

@media only (--medium-screen) {
  .pt0-media-m { padding-top: 0 !important; }
  .pt3-media-m { padding-top: 3px !important; }
  .pt6-media-m { padding-top: 6px !important; }
  .pt12-media-m { padding-top: 12px !important; }
  .pt18-media-m { padding-top: 18px !important; }
  .pt24-media-m { padding-top: 24px !important; }
  .pt48-media-m { padding-top: 48px !important; }
  .pt72-media-m { padding-top: 72px !important; }
  .pt96-media-m { padding-top: 96px !important; }
}

@media only (--small-screen) {
  .pt0-media-s { padding-top: 0 !important; }
  .pt3-media-s { padding-top: 3px !important; }
  .pt6-media-s { padding-top: 6px !important; }
  .pt12-media-s { padding-top: 12px !important; }
  .pt18-media-s { padding-top: 18px !important; }
  .pt24-media-s { padding-top: 24px !important; }
  .pt48-media-s { padding-top: 48px !important; }
  .pt72-media-s { padding-top: 72px !important; }
  .pt96-media-s { padding-top: 96px !important; }
}

/**
 * Right padding
 * @group
 * @memberof Padding
 **/
.pr0 { padding-right: 0 !important; }
.pr3 { padding-top: 3px !important; }
.pr6 { padding-right: 6px !important; }
.pr12 { padding-right: 12px !important; }
.pr18 { padding-right: 18px !important; }
.pr24 { padding-right: 24px !important; }
.pr48 { padding-right: 48px !important; }
.pr72 { padding-right: 72px !important; }
.pr96 { padding-right: 96px !important; }
/** @endgroup */

@media only (--large-screen) {
  .pr0-media-l { padding-right: 0 !important; }
  .pr3-media-l { padding-right: 3px !important; }
  .pr6-media-l { padding-right: 6px !important; }
  .pr12-media-l { padding-right: 12px !important; }
  .pr18-media-l { padding-right: 18px !important; }
  .pr24-media-l { padding-right: 24px !important; }
  .pr48-media-l { padding-right: 48px !important; }
  .pr72-media-l { padding-right: 72px !important; }
  .pr96-media-l { padding-right: 96px !important; }
}

@media only (--medium-screen) {
  .pr0-media-m { padding-right: 0 !important; }
  .pr3-media-m { padding-right: 3px !important; }
  .pr6-media-m { padding-right: 6px !important; }
  .pr12-media-m { padding-right: 12px !important; }
  .pr18-media-m { padding-right: 18px !important; }
  .pr24-media-m { padding-right: 24px !important; }
  .pr48-media-m { padding-right: 48px !important; }
  .pr72-media-m { padding-right: 72px !important; }
  .pr96-media-m { padding-right: 96px !important; }
}

@media only (--small-screen) {
  .pr0-media-s { padding-right: 0 !important; }
  .pr3-media-s { padding-right: 3px !important; }
  .pr6-media-s { padding-right: 6px !important; }
  .pr12-media-s { padding-right: 12px !important; }
  .pr18-media-s { padding-right: 18px !important; }
  .pr24-media-s { padding-right: 24px !important; }
  .pr48-media-s { padding-right: 48px !important; }
  .pr72-media-s { padding-right: 72px !important; }
  .pr96-media-s { padding-right: 96px !important; }
}

/**
 * Bottom padding
 * @group
 * @memberof Padding
 */
.pb0 { padding-bottom: 0 !important; }
.pb3 { padding-bottom: 3px !important; }
.pb6 { padding-bottom: 6px !important; }
.pb12 { padding-bottom: 12px !important; }
.pb18 { padding-bottom: 18px !important; }
.pb24 { padding-bottom: 24px !important; }
.pb48 { padding-bottom: 48px !important; }
.pb72 { padding-bottom: 72px !important; }
.pb96 { padding-bottom: 96px !important; }
/** @endgroup */

@media only (--large-screen) {
  .pb0-media-l { padding-bottom: 0 !important; }
  .pb3-media-l { padding-bottom: 3px !important; }
  .pb6-media-l { padding-bottom: 6px !important; }
  .pb12-media-l { padding-bottom: 12px !important; }
  .pb18-media-l { padding-bottom: 18px !important; }
  .pb24-media-l { padding-bottom: 24px !important; }
  .pb48-media-l { padding-bottom: 48px !important; }
  .pb72-media-l { padding-bottom: 72px !important; }
  .pb96-media-l { padding-bottom: 96px !important; }
}

@media only (--medium-screen) {
  .pb0-media-m { padding-bottom: 0 !important; }
  .pb3-media-m { padding-bottom: 3px !important; }
  .pb6-media-m { padding-bottom: 6px !important; }
  .pb12-media-m { padding-bottom: 12px !important; }
  .pb18-media-m { padding-bottom: 18px !important; }
  .pb24-media-m { padding-bottom: 24px !important; }
  .pb48-media-m { padding-bottom: 48px !important; }
  .pb72-media-m { padding-bottom: 72px !important; }
  .pb96-media-m { padding-bottom: 96px !important; }
}

@media only (--small-screen) {
  .pb0-media-s { padding-bottom: 0 !important; }
  .pb3-media-s { padding-bottom: 3px !important; }
  .pb6-media-s { padding-bottom: 6px !important; }
  .pb12-media-s { padding-bottom: 12px !important; }
  .pb18-media-s { padding-bottom: 18px !important; }
  .pb24-media-s { padding-bottom: 24px !important; }
  .pb48-media-s { padding-bottom: 48px !important; }
  .pb72-media-s { padding-bottom: 72px !important; }
  .pb96-media-s { padding-bottom: 96px !important; }
}

/**
 * Left padding
 * @group
 * @memberof Padding
 */
.pl0 { padding-left: 0 !important; }
.pl3 { padding-left: 3px !important; }
.pl6 { padding-left: 6px !important; }
.pl12 { padding-left: 12px !important; }
.pl18 { padding-left: 18px !important; }
.pl24 { padding-left: 24px !important; }
.pl48 { padding-left: 48px !important; }
.pl72 { padding-left: 72px !important; }
.pl96 { padding-left: 96px !important; }
/** @endgroup **/

@media only (--large-screen) {
  .pl0-media-l { padding-left: 0 !important; }
  .pl3-media-l { padding-left: 3px !important; }
  .pl6-media-l { padding-left: 6px !important; }
  .pl12-media-l { padding-left: 12px !important; }
  .pl18-media-l { padding-left: 18px !important; }
  .pl24-media-l { padding-left: 24px !important; }
  .pl48-media-l { padding-left: 48px !important; }
  .pl72-media-l { padding-left: 72px !important; }
  .pl96-media-l { padding-left: 96px !important; }
}

@media only (--medium-screen) {
  .pl0-media-m { padding-left: 0 !important; }
  .pl3-media-m { padding-left: 3px !important; }
  .pl6-media-m { padding-left: 6px !important; }
  .pl12-media-m { padding-left: 12px !important; }
  .pl18-media-m { padding-left: 18px !important; }
  .pl24-media-m { padding-left: 24px !important; }
  .pl48-media-m { padding-left: 48px !important; }
  .pl72-media-m { padding-left: 72px !important; }
  .pl96-media-m { padding-left: 96px !important; }
}

@media only (--small-screen) {
  .pl0-media-s { padding-left: 0 !important; }
  .pl3-media-s { padding-left: 3px !important; }
  .pl6-media-s { padding-left: 6px !important; }
  .pl12-media-s { padding-left: 12px !important; }
  .pl18-media-s { padding-left: 18px !important; }
  .pl24-media-s { padding-left: 24px !important; }
  .pl48-media-s { padding-left: 48px !important; }
  .pl72-media-s { padding-left: 72px !important; }
  .pl96-media-s { padding-left: 96px !important; }
}

/**
 * All sizing classes follow the following pattern:
 * `<w|h><min|max><dimension-size>-<screen-size>`. Min/max values are optional. Screen sizes are *optional* and are `-media-s`, `-media-m`, and `-media-l`.
 *
 * @section Sizing
 * @memberof Layout
 */

/**
 * @memberof Sizing
 * @example
 * <div class='w120 h72 bg-blue-faint'>.w72 .h24</div>
 */

/**
 * Widths
 * @group
 * @memberof Sizing
 */
.w0 { width: 0 !important; }
.w6 { width: 6px !important; }
.w12 { width: 12px !important; }
.w18 { width: 18px !important; }
.w24 { width: 24px !important; }
.w48 { width: 48px !important; }
.w72 { width: 72px !important; }
.w96 { width: 96px !important; }
.w120 { width: 120px !important; }
.w180 { width: 180px !important; }
.w240 { width: 240px !important; }
.w480 { width: 480px !important; }
.w720 { width: 720px !important; }
.w960 { width: 960px !important; }
/** @endgroup */

@media only (--large-screen) {
  .w0-media-l { width: 0 !important; }
  .w6-media-l { width: 6px !important; }
  .w12-media-l { width: 12px !important; }
  .w18-media-l { width: 18px !important; }
  .w24-media-l { width: 24px !important; }
  .w48-media-l { width: 48px !important; }
  .w72-media-l { width: 72px !important; }
  .w96-media-l { width: 96px !important; }
  .w120-media-l { width: 120px !important; }
  .w180-media-l { width: 180px !important; }
  .w240-media-l { width: 240px !important; }
  .w480-media-l { width: 480px !important; }
  .w720-media-l { width: 720px !important; }
  .w960-media-l { width: 960px !important; }
}

@media only (--medium-screen) {
  .w0-media-m { width: 0 !important; }
  .w6-media-m { width: 6px !important; }
  .w12-media-m { width: 12px !important; }
  .w18-media-m { width: 18px !important; }
  .w24-media-m { width: 24px !important; }
  .w48-media-m { width: 48px !important; }
  .w72-media-m { width: 72px !important; }
  .w96-media-m { width: 96px !important; }
  .w120-media-m { width: 120px !important; }
  .w180-media-m { width: 180px !important; }
  .w240-media-m { width: 240px !important; }
  .w480-media-m { width: 480px !important; }
  .w720-media-m { width: 720px !important; }
  .w960-media-m { width: 960px !important; }
}

@media only (--small-screen) {
  .w0-media-s { width: 0 !important; }
  .w6-media-s { width: 6px !important; }
  .w12-media-s { width: 12px !important; }
  .w18-media-s { width: 18px !important; }
  .w24-media-s { width: 24px !important; }
  .w48-media-s { width: 48px !important; }
  .w72-media-s { width: 72px !important; }
  .w96-media-s { width: 96px !important; }
  .w120-media-s { width: 120px !important; }
  .w180-media-s { width: 180px !important; }
  .w240-media-s { width: 240px !important; }
  .w480-media-s { width: 480px !important; }
  .w720-media-s { width: 720px !important; }
  .w960-media-s { width: 960px !important; }
}

/**
 * Max widths
 * @group
 * @memberof Sizing
 */
.wmax0 { max-width: 0 !important; }
.wmax6 { max-width: 6px !important; }
.wmax12 { max-width: 12px !important; }
.wmax18 { max-width: 18px !important; }
.wmax24 { max-width: 24px !important; }
.wmax48 { max-width: 48px !important; }
.wmax72 { max-width: 72px !important; }
.wmax96 { max-width: 96px !important; }
.wmax120 { max-width: 120px !important; }
.wmax180 { max-width: 180px !important; }
.wmax240 { max-width: 240px !important; }
.wmax480 { max-width: 480px !important; }
.wmax720 { max-width: 720px !important; }
.wmax960 { max-width: 960px !important; }
.wmax1200 { max-width: 1200px !important; }
/** @endgroup */

@media only (--large-screen) {
  .wmax0-media-l { max-width: 0 !important; }
  .wmax6-media-l { max-width: 6px !important; }
  .wmax12-media-l { max-width: 12px !important; }
  .wmax18-media-l { max-width: 18px !important; }
  .wmax24-media-l { max-width: 24px !important; }
  .wmax48-media-l { max-width: 48px !important; }
  .wmax72-media-l { max-width: 72px !important; }
  .wmax96-media-l { max-width: 96px !important; }
  .wmax120-media-l { max-width: 120px !important; }
  .wmax180-media-l { max-width: 180px !important; }
  .wmax240-media-l { max-width: 240px !important; }
  .wmax480-media-l { max-width: 480px !important; }
  .wmax720-media-l { max-width: 720px !important; }
  .wmax960-media-l { max-width: 960px !important; }
  .wmax1200-media-l { max-width: 1200px !important; }
}

@media only (--medium-screen) {
  .wmax0-media-m { max-width: 0 !important; }
  .wmax6-media-m { max-width: 6px !important; }
  .wmax12-media-m { max-width: 12px !important; }
  .wmax18-media-m { max-width: 18px !important; }
  .wmax24-media-m { max-width: 24px !important; }
  .wmax48-media-m { max-width: 48px !important; }
  .wmax72-media-m { max-width: 72px !important; }
  .wmax96-media-m { max-width: 96px !important; }
  .wmax120-media-m { max-width: 120px !important; }
  .wmax180-media-m { max-width: 180px !important; }
  .wmax240-media-m { max-width: 240px !important; }
  .wmax480-media-m { max-width: 480px !important; }
  .wmax720-media-m { max-width: 720px !important; }
  .wmax960-media-m { max-width: 960px !important; }
}

@media only (--small-screen) {
  .wmax0-media-s { max-width: 0 !important; }
  .wmax6-media-s { max-width: 6px !important; }
  .wmax12-media-s { max-width: 12px !important; }
  .wmax18-media-s { max-width: 18px !important; }
  .wmax24-media-s { max-width: 24px !important; }
  .wmax48-media-s { max-width: 48px !important; }
  .wmax72-media-s { max-width: 72px !important; }
  .wmax96-media-s { max-width: 96px !important; }
  .wmax120-media-s { max-width: 120px !important; }
  .wmax180-media-s { max-width: 180px !important; }
  .wmax240-media-s { max-width: 240px !important; }
  .wmax480-media-s { max-width: 480px !important; }
  .wmax720-media-s { max-width: 720px !important; }
  .wmax960-media-s { max-width: 960px !important; }
}

/**
 * Min widths
 * @group
 * @memberof Sizing
 */
.wmin0 { min-width: 0 !important; }
.wmin6 { min-width: 6px !important; }
.wmin12 { min-width: 12px !important; }
.wmin18 { min-width: 18px !important; }
.wmin24 { min-width: 24px !important; }
.wmin48 { min-width: 48px !important; }
.wmin72 { min-width: 72px !important; }
.wmin96 { min-width: 96px !important; }
.wmin120 { min-width: 120px !important; }
.wmin180 { min-width: 180px !important; }
.wmin240 { min-width: 240px !important; }
.wmin480 { min-width: 480px !important; }
/** @endgroup */

@media only (--large-screen) {
  .wmin-media-l { min-width: 0 !important; }
  .wmin-media-l { min-width: 6px !important; }
  .wmin-media-l { min-width: 12px !important; }
  .wmin-media-l { min-width: 18px !important; }
  .wmin-media-l { min-width: 24px !important; }
  .wmin-media-l { min-width: 48px !important; }
  .wmin-media-l { min-width: 72px !important; }
  .wmin-media-l { min-width: 96px !important; }
  .wmin-media-l { min-width: 120px !important; }
  .wmin-media-l { min-width: 180px !important; }
  .wmin-media-l { min-width: 240px !important; }
  .wmin-media-l { min-width: 480px !important; }
}

@media only (--medium-screen) {
  .wmin0-media-m { min-width: 0 !important; }
  .wmin6-media-m { min-width: 6px !important; }
  .wmin12-media-m { min-width: 12px !important; }
  .wmin18-media-m { min-width: 18px !important; }
  .wmin24-media-m { min-width: 24px !important; }
  .wmin48-media-m { min-width: 48px !important; }
  .wmin72-media-m { min-width: 72px !important; }
  .wmin96-media-m { min-width: 96px !important; }
  .wmin120-media-m { min-width: 120px !important; }
  .wmin180-media-m { min-width: 180px !important; }
  .wmin240-media-m { min-width: 240px !important; }
  .wmin480-media-m { min-width: 480px !important; }
}

@media only (--small-screen) {
  .wmin0-media-s { min-width: 0 !important; }
  .wmin6-media-s { min-width: 6px !important; }
  .wmin12-media-s { min-width: 12px !important; }
  .wmin18-media-s { min-width: 18px !important; }
  .wmin24-media-s { min-width: 24px !important; }
  .wmin48-media-s { min-width: 48px !important; }
  .wmin72-media-s { min-width: 72px !important; }
  .wmin96-media-s { min-width: 96px !important; }
  .wmin120-media-s { min-width: 120px !important; }
  .wmin180-media-s { min-width: 180px !important; }
  .wmin240-media-s { min-width: 240px !important; }
  .wmin480-media-s { min-width: 480px !important; }
}

/**
 * Heights
 * @group
 * @memberof Sizing
 */
.h0 { height: 0 !important; }
.h6 { height: 6px !important; }
.h12 { height: 12px !important; }
.h18 { height: 18px !important; }
.h24 { height: 24px !important; }
.h48 { height: 48px !important; }
.h72 { height: 72px !important; }
.h96 { height: 96px !important; }
.h120 { height: 120px !important; }
.h180 { height: 180px !important; }
.h240 { height: 240px !important; }
.h480 { height: 480px !important; }
/** @endgroup */

@media only (--large-screen) {
  .h0-media-l { height: 0 !important; }
  .h6-media-l { height: 6px !important; }
  .h12-media-l { height: 12px !important; }
  .h18-media-l { height: 18px !important; }
  .h24-media-l { height: 24px !important; }
  .h48-media-l { height: 48px !important; }
  .h72-media-l { height: 72px !important; }
  .h96-media-l { height: 96px !important; }
  .h120-media-l { height: 120px !important; }
  .h180-media-l { height: 180px !important; }
  .h240-media-l { height: 240px !important; }
  .h480-media-l { height: 480px !important; }
}

@media only (--medium-screen) {
  .h0-media-m { height: 0 !important; }
  .h6-media-m { height: 6px !important; }
  .h12-media-m { height: 12px !important; }
  .h18-media-m { height: 18px !important; }
  .h24-media-m { height: 24px !important; }
  .h48-media-m { height: 48px !important; }
  .h72-media-m { height: 72px !important; }
  .h96-media-m { height: 96px !important; }
  .h120-media-m { height: 120px !important; }
  .h180-media-m { height: 180px !important; }
  .h240-media-m { height: 240px !important; }
  .h480-media-m { height: 480px !important; }
}

@media only (--small-screen) {
  .h0-media-s { height: 0 !important; }
  .h6-media-s { height: 6px !important; }
  .h12-media-s { height: 12px !important; }
  .h18-media-s { height: 18px !important; }
  .h24-media-s { height: 24px !important; }
  .h48-media-s { height: 48px !important; }
  .h72-media-s { height: 72px !important; }
  .h96-media-s { height: 96px !important; }
  .h120-media-s { height: 120px !important; }
  .h180-media-s { height: 180px !important; }
  .h240-media-s { height: 240px !important; }
  .h480-media-s { height: 480px !important; }
}

/**
 * Max heights
 * @group
 * @memberof Sizing
 */
.hmax0 { max-height: 0 !important; }
.hmax6 { max-height: 6px !important; }
.hmax12 { max-height: 12px !important; }
.hmax18 { max-height: 18px !important; }
.hmax24 { max-height: 24px !important; }
.hmax48 { max-height: 48px !important; }
.hmax72 { max-height: 72px !important; }
.hmax96 { max-height: 96px !important; }
.hmax120 { max-height: 120px !important; }
.hmax180 { max-height: 180px !important; }
.hmax240 { max-height: 240px !important; }
.hmax480 { max-height: 480px !important; }
/** @endgroup */

@media only (--large-screen) {
  .hmax0-media-l { max-height: 0 !important; }
  .hmax6-media-l { max-height: 6px !important; }
  .hmax12-media-l { max-height: 12px !important; }
  .hmax18-media-l { max-height: 18px !important; }
  .hmax24-media-l { max-height: 24px !important; }
  .hmax48-media-l { max-height: 48px !important; }
  .hmax72-media-l { max-height: 72px !important; }
  .hmax96-media-l { max-height: 96px !important; }
  .hmax120-media-l { max-height: 120px !important; }
  .hmax180-media-l { max-height: 180px !important; }
  .hmax240-media-l { max-height: 240px !important; }
  .hmax480-media-l { max-height: 480px !important; }
}

@media only (--medium-screen) {
  .hmax0-media-m { max-height: 0 !important; }
  .hmax6-media-m { max-height: 6px !important; }
  .hmax12-media-m { max-height: 12px !important; }
  .hmax18-media-m { max-height: 18px !important; }
  .hmax24-media-m { max-height: 24px !important; }
  .hmax48-media-m { max-height: 48px !important; }
  .hmax72-media-m { max-height: 72px !important; }
  .hmax96-media-m { max-height: 96px !important; }
  .hmax120-media-m { max-height: 120px !important; }
  .hmax180-media-m { max-height: 180px !important; }
  .hmax240-media-m { max-height: 240px !important; }
  .hmax480-media-m { max-height: 480px !important; }
}

@media only (--small-screen) {
  .hmax0-media-s { max-height: 0 !important; }
  .hmax6-media-s { max-height: 6px !important; }
  .hmax12-media-s { max-height: 12px !important; }
  .hmax18-media-s { max-height: 18px !important; }
  .hmax24-media-s { max-height: 24px !important; }
  .hmax48-media-s { max-height: 48px !important; }
  .hmax72-media-s { max-height: 72px !important; }
  .hmax96-media-s { max-height: 96px !important; }
  .hmax120-media-s { max-height: 120px !important; }
  .hmax180-media-s { max-height: 180px !important; }
  .hmax240-media-s { max-height: 240px !important; }
  .hmax480-media-s { max-height: 480px !important; }
}

/**
 * Min heights
 * @group
 * @memberof Sizing
 */
.hmin0 { min-height: 0 !important; }
.hmin6 { min-height: 6px !important; }
.hmin12 { min-height: 12px !important; }
.hmin18 { min-height: 18px !important; }
.hmin24 { min-height: 24px !important; }
.hmin48 { min-height: 48px !important; }
.hmin72 { min-height: 72px !important; }
.hmin96 { min-height: 96px !important; }
.hmin120 { min-height: 120px !important; }
.hmin180 { min-height: 180px !important; }
.hmin240 { min-height: 240px !important; }
.hmin480 { min-height: 480px !important; }
/** @endgroup */

@media only (--large-screen) {
  .hmin0-media-l { min-height: 0 !important; }
  .hmin6-media-l { min-height: 6px !important; }
  .hmin12-media-l { min-height: 12px !important; }
  .hmin18-media-l { min-height: 18px !important; }
  .hmin24-media-l { min-height: 24px !important; }
  .hmin48-media-l { min-height: 48px !important; }
  .hmin72-media-l { min-height: 72px !important; }
  .hmin96-media-l { min-height: 96px !important; }
  .hmin120-media-l { min-height: 120px !important; }
  .hmin180-media-l { min-height: 180px !important; }
  .hmin240-media-l { min-height: 240px !important; }
  .hmin480-media-l { min-height: 480px !important; }
}

@media only (--medium-screen) {
  .hmin0-media-m { min-height: 0 !important; }
  .hmin6-media-m { min-height: 6px !important; }
  .hmin12-media-m { min-height: 12px !important; }
  .hmin18-media-m { min-height: 18px !important; }
  .hmin24-media-m { min-height: 24px !important; }
  .hmin48-media-m { min-height: 48px !important; }
  .hmin72-media-m { min-height: 72px !important; }
  .hmin96-media-m { min-height: 96px !important; }
  .hmin120-media-m { min-height: 120px !important; }
  .hmin180-media-m { min-height: 180px !important; }
  .hmin240-media-m { min-height: 240px !important; }
  .hmin480-media-m { min-height: 480px !important; }
}

@media only (--small-screen) {
  .hmin0-media-s { min-height: 0 !important; }
  .hmin6-media-s { min-height: 6px !important; }
  .hmin12-media-s { min-height: 12px !important; }
  .hmin18-media-s { min-height: 18px !important; }
  .hmin24-media-s { min-height: 24px !important; }
  .hmin48-media-s { min-height: 48px !important; }
  .hmin72-media-s { min-height: 72px !important; }
  .hmin96-media-s { min-height: 96px !important; }
  .hmin120-media-s { min-height: 120px !important; }
  .hmin180-media-s { min-height: 180px !important; }
  .hmin240-media-s { min-height: 240px !important; }
  .hmin480-media-s { min-height: 480px !important; }
}

/**
 * Set the height of an element relative to the viewport. Class set includes `-media-s`, `-media-m`, and `-media-l` variations to target screen sizes.
 *
 * @group
 * @memberof Sizing
 */
.viewport-third { height: 33.3333vh !important; }
.viewport-half { height: 50vh !important; }
.viewport-twothirds { height: 66.6666vh !important; }
.viewport-almost { height: 90vh !important; }
.viewport-full { height: 100vh !important; }
/** @endgroup */

@media only (--large-screen) {
  .viewport-third-media-l { height: 33.3333vh !important; }
  .viewport-half-media-l { height: 50vh !important; }
  .viewport-twothirds-media-l { height: 66.6666vh !important; }
  .viewport-almost-media-l { height: 90vh !important; }
  .viewport-full-media-l { height: 100vh !important; }
}

@media only (--medium-screen) {
  .viewport-third-media-m { height: 33.3333vh !important; }
  .viewport-half-media-m { height: 50vh !important; }
  .viewport-twothirds-media-m { height: 66.6666vh !important; }
  .viewport-almost-media-m { height: 90vh !important; }
  .viewport-full-media-m { height: 100vh !important; }
}

@media only (--small-screen) {
  .viewport-third-media-s { height: 33.3333vh !important; }
  .viewport-half-media-s { height: 50vh !important; }
  .viewport-twothirds-media-s { height: 66.6666vh !important; }
  .viewport-almost-media-s { height: 90vh !important; }
  .viewport-full-media-s { height: 100vh !important; }
}
