/**
 * Extra rules that come in handy in certain cases.
 * @section Miscellaneous
*/

/**
 * Disable touch and click events on an element and
 * it's children. Be aware that this rule does not disable keyboard events,
 * or prevent a user from tabbing to an element and pressing return to trigger
 * it's click event.
 *
 * @memberof Miscellaneous
 * @example
 * <div class='btn events-none'>You can't click this</div>
 */
.events-none {
  -webkit-touch-callout: none;
  pointer-events: none;
}

/**
 * This rule enables touch and click events on an element and
 * it's children. Use to re-enable events inside a parent with the `events-none` class.
 *
 * @memberof Miscellaneous
 * @example
 * <div class='events-none'><div class='events-all'>You can click this</div></div>
 */
.events-all {
  -webkit-touch-callout: default;
  pointer-events: all;
}

/**
 * Disable text selection on an element and it's children. Use only in cases where accidental
 * text selection causes user frustration.
 *
 * @memberof Miscellaneous
 * @example
 * <div class='select-none'>You can't select this.</div>
 */
.select-none {
  user-select: none;
}

/**
 * Enable text selection on an element and it's children.
 * Use to re-enable events inside a parent with the `events-none` class.
 *
 * @memberof Miscellaneous
 * @example
 * <div class='select-none'><div class='select-all'>You can select this.</div></div>
 */
.select-all {
  user-select: auto;
}
