/**
 * Extra rules that come in handy.
 *
 * @section Miscellaneous
*/

/**
 * Style scrollbars. Only works in Webkit-based browsers (Safari and Chrome).
 * On dark backgrounds, add the `scroll-styled--dark` modifier.
 *
 * **Use in combination with `overflow-auto`.**
 *
 * @memberof Miscellaneous
   @selectors .scroll-styled
 * @example
 * <div class="scroll-styled overflow-auto h120"><div class='h240'></div></div>
 * <div class="scroll-styled scroll-styled--dark bg-gray-dark overflow-auto h120"><div class='h240'></div></div>
*/
.scroll-styled::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}
.scroll-styled::-webkit-scrollbar:hover {
  background: transparent;
}
.scroll-styled::-webkit-scrollbar-track {
  background: none;
}
.scroll-styled::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-color: transparent;
  width: 6px;
  border-radius: 3px;
}
.scroll-styled::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.35);
}
.scroll-styled::-webkit-scrollbar-track:hover {
  background: transparent;
}
.scroll-styled--dark::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
}
.scroll-styled--dark::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}

/**
 * Style a loading spinner.
 * On dark backgrounds, add the `loading--dark` modifier.
 * For a smaller spinner, add the `loading--s` modifier.
 *
 * @group
 * @memberof Miscellaneous
 * @example
 * <div class="loading"></div>
 * <div class="loading loading--s"></div>
 * <div class="bg-gray-dark">
 *   <div class="loading loading--dark"></div>
 *   <div class="loading loading--dark loading--s"></div>
 * </div>
*/
.loading--dark::after,
.loading::after {
  content: '';
  display: block;
  margin: auto;
  height: 36px;
  width: 36px;
  animation: spin 0.8s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
}
.loading--s::after {
  height: 18px;
  width: 18px;
}
.loading::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='36' height='36' viewBox='0 0 36 36'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23333;%7D.b%7Bopacity:0.1;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M5.2721,5.2721,7.3934,7.3934a15,15,0,0,1,21.2132,0l2.1213-2.1213A18,18,0,0,0,5.2721,5.2721Z'/%3E%3Cg class='b'%3E%3Cpath d='M28.6066,28.6066A15,15,0,0,1,7.3934,7.3934L5.2721,5.2721a18,18,0,1,0,25.4558,0L28.6066,7.3934A15,15,0,0,1,28.6066,28.6066Z'/%3E%3C/g%3E%3C/svg%3E"); /* stylelint-disable-line string-quotes */
}
.loading--s::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='18' height='18' viewBox='0 0 18 18'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bopacity:0.1;%7D.b%7Bfill:%23333;%7D%3C/style%3E%3C/defs%3E%3Cg class='a'%3E%3Cpath d='M13.2426,13.2426A6,6,0,0,1,4.7574,4.7574L2.636,2.636a9,9,0,1,0,12.7279,0L13.2426,4.7574A6,6,0,0,1,13.2426,13.2426Z'/%3E%3C/g%3E%3Cpath class='b' d='M2.636,2.636,4.7574,4.7574a6,6,0,0,1,8.4853,0L15.364,2.636A9,9,0,0,0,2.636,2.636Z'/%3E%3C/svg%3E"); /* stylelint-disable-line string-quotes */
}
.loading--dark::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='36' height='36' viewBox='0 0 36 36'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23f7f7f7;%7D.b%7Bopacity:0.1;%7D.c%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M5.2721,5.2721,7.3934,7.3934a15,15,0,0,1,21.2132,0l2.1213-2.1213A18,18,0,0,0,5.2721,5.2721Z'/%3E%3Cg class='b'%3E%3Cpath class='c' d='M28.6066,28.6066A15,15,0,0,1,7.3934,7.3934L5.2721,5.2721a18,18,0,1,0,25.4558,0L28.6066,7.3934A15,15,0,0,1,28.6066,28.6066Z'/%3E%3C/g%3E%3C/svg%3E"); /* stylelint-disable-line string-quotes */
}
/** @endgroup */

.loading--dark.loading--s::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='18' height='18' viewBox='0 0 18 18'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bopacity:0.1;%7D.b%7Bfill:%23fff;%7D.c%7Bfill:%23f7f7f7;%7D%3C/style%3E%3C/defs%3E%3Cg class='a'%3E%3Cpath class='b' d='M13.2426,13.2426A6,6,0,0,1,4.7574,4.7574L2.636,2.636a9,9,0,1,0,12.7279,0L13.2426,4.7574A6,6,0,0,1,13.2426,13.2426Z'/%3E%3C/g%3E%3Cpath class='c' d='M2.636,2.636,4.7574,4.7574a6,6,0,0,1,8.4853,0L15.364,2.636A9,9,0,0,0,2.636,2.636Z'/%3E%3C/svg%3E"); /* stylelint-disable-line string-quotes */
}

/**
 * Disable touch and click events on an element and
 * its children. Be aware that this rule does not disable keyboard events,
 * so a user can still tab to an element and press Return to trigger
 * its click event.
 *
 * @memberof Miscellaneous
 * @example
 * <div class='btn events-none'>You can't click this</div>
 */
.events-none {
  -webkit-touch-callout: none;
  pointer-events: none;
}

@media (--m-screen) {
  .events-none-mm {
    -webkit-touch-callout: none !important;
    pointer-events: none !important;
  }
}

@media (--l-screen) {
  .events-none-ml {
    -webkit-touch-callout: none !important;
    pointer-events: none !important;
  }
}

/**
 * Enable touch and click events on an element and
 * its children. Use to re-enable such events inside a parent with the `events-none` class.
 *
 * @memberof Miscellaneous
 * @example
 * <div class='events-none'><div class='events-all'>You can click this.</div></div>
 */
.events-all {
  -webkit-touch-callout: default;
  pointer-events: all;
}

@media (--m-screen) {
  .events-all-mm {
    -webkit-touch-callout: default !important;
    pointer-events: all !important;
  }
}

@media (--l-screen) {
  .events-all-ml {
    -webkit-touch-callout: default !important;
    pointer-events: all !important;
  }
}

/**
 * Disable text selection on an element and its children. Use only in cases where accidental
 * text selection causes user frustration.
 *
 * @memberof Miscellaneous
 * @example
 * <div class='unselectable'>You can't select this.</div>
 */
.unselectable {
  user-select: none;
}

@media (--m-screen) {
  .unselectable-mm {
    user-select: none !important;
  }
}

@media (--l-screen) {
  .unselectable-ml {
    user-select: none !important;
  }
}

/**
 * Enable text selection on an element and its children.
 * Use to re-enable selection inside a parent with the `unselectable` class.
 *
 * @memberof Miscellaneous
 * @example
 * <div class='unselectable'><div class='selectable'>You can select this.</div></div>
 */
.selectable {
  user-select: text;
}

@media (--m-screen) {
  .selectable-mm {
    user-select: text !important;
  }
}

@media (--l-screen) {
  .selectable-ml {
    user-select: text !important;
  }
}

/**
 * Apply a subtle animated transition when changing CSS properties on an element. See MDN's [list of CSS animated properties](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_animated_properties) for every property effected by this class.
 *
 * @memberof Miscellaneous
 * @example
 * <div class='bg-blue-on-hover transition'>Hover over me</div>
 */
.transition {
  transition: all var(--transition);
}

/**
 * Disable an animated transition on elements like [`btn`](#Buttons) that have default transitions.
 *
 * @memberof Miscellaneous
 * @example
 * <div class='btn transition-none'>transition-none</div>
 */
.transition-none {
  transition: auto;
}

/**
 * Always show scrollbars.
 *
 * @memberof Miscellaneous
 * @example
 *   <div class='overflow-scroll'>Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Nullam id dolor id nibh ultricies vehicula ut id elit.</div>
 */
.overflow-scroll {
  overflow: scroll !important;
}

/**
 * Display scrollbars if content flows beyond the edge of the element.
 *
 * @memberof Miscellaneous
 * @example
 *   <div class='h60 overflow-auto'>Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Nullam id dolor id nibh ultricies vehicula ut id elit.</div>
 */
.overflow-auto {
  overflow: auto !important;
  -webkit-overflow-scrolling: touch;
}

/**
 * Hide content if it extends beyond the edge of the containing element.
 *
 * @memberof Miscellaneous
 * @example
 *   <div class='h60 overflow-hidden'>Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Nullam id dolor id nibh ultricies vehicula ut id elit.</div>
 */
.overflow-hidden {
  overflow: hidden !important;
}

/**
 * Hide an element *visually*, but keep it available to screen readers.
 *
 * @memberof Miscellaneous
 * @example
 * <div class='hide-visually'>You cannot see this with your eyes.</div>
 * <div>There is a sentence above this that you cannot see.</div>
 */
.hide-visually {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

@media print {
  /**
   * Apply display none when rendering page for print.
   *
   * @memberof Miscellaneous
   * @example
   *   <div class="none-print'>Hi, this text won't print!</div>
   */
  .none-print {
    display: none !important;
  }
}
