/**
 * Positioning
 * @section Positioning
 */

/**
 * Position classes
*/

.fixed { position: fixed; }
.absolute { position: absolute; }
.relative { position: relative; }
.static { position: static; }

@media only screen and (--large-screen) {
  .fixed-lg { position: fixed; }
  .absolute-lg { position: absolute; }
  .relative-lg { position: relative; }
  .static-lg { position: static; }
}

@media only screen and (--medium-screen) {
  .fixed-md { position: fixed; }
  .absolute-md { position: absolute; }
  .relative-md { position: relative; }
  .static-md { position: static; }
}

@media only screen and (--small-screen) {
  .fixed-sm { position: fixed; }
  .absolute-sm { position: absolute; }
  .relative-sm { position: relative; }
  .static-sm { position: static; }
}

/*
Zero out positioning
*/
.top { top: 0; }
.right { right: 0; }
.left { left: 0; }
.bottom { bottom: 0; }

@media only screen and (--large-screen) {
  .top-lg { top: 0; }
  .right-lg { right: 0; }
  .left-lg { left: 0; }
  .bottom-lg { bottom: 0; }
}

@media only screen and (--medium-screen) {
  .top-md { top: 0; }
  .right-md { right: 0; }
  .left-md { left: 0; }
  .bottom-md { bottom: 0; }
}

@media only screen and (--small-screen) {
  .top-sm { top: 0; }
  .right-sm { right: 0; }
  .left-sm { left: 0; }
  .bottom-sm { bottom: 0; }
}

/**
 * Override default stacking order with z-index classes. Whenever possible, rely on
 * built-in stacking order and avoid these rules.
 * @group
 * @memberof Positioning
 */
.z-neg1 { z-index: -1; }
.z0 { z-index: 0; }
.z1 { z-index: 1; }
.z2 { z-index: 2; }
.z3 { z-index: 3; }
.z4 { z-index: 4; }
.z5 { z-index: 5; }
/** @endgroup */

@media only screen and (--large-screen) {
  .z-neg1-lg { z-index: -1; }
  .z0-lg { z-index: 0; }
  .z1-lg { z-index: 1; }
  .z2-lg { z-index: 2; }
  .z3-lg { z-index: 3; }
  .z4-lg { z-index: 4; }
  .z5-lg { z-index: 5; }
}

@media only screen and (--medium-screen) {
  .z-neg1-md { z-index: -1; }
  .z0-md { z-index: 0; }
  .z1-md { z-index: 1; }
  .z2-md { z-index: 2; }
  .z3-md { z-index: 3; }
  .z4-md { z-index: 4; }
  .z5-md { z-index: 5; }
}

@media only screen and (--small-screen) {
  .z-neg1-sm { z-index: -1; }
  .z0-sm { z-index: 0; }
  .z1-sm { z-index: 1; }
  .z2-sm { z-index: 2; }
  .z3-sm { z-index: 3; }
  .z4-sm { z-index: 4; }
  .z5-sm { z-index: 5; }
}

/**
 * Margin classes
 * @section Margin
 * @memberof Positioning
*/

/**
 * Top margins. Increments by 5px up to 10px, by 10px up to 60px, by 20px up to 200px, and by 200px up to 800px.
 *
 * @example
 *  <div class='mt5'></div>
 *  <div class='mt10'></div>
 *  <div class='mt40'></div>
 *  <div class='mt100'></div>
 *  <div class='mt200'></div>
 */
.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mt40 { margin-top: 40px; }
.mt50 { margin-top: 50px; }
.mt60 { margin-top: 60px; }
.mt80 { margin-top: 80px; }
.mt100 { margin-top: 100px; }
.mt120 { margin-top: 120px; }
.mt140 { margin-top: 140px; }
.mt160 { margin-top: 160px; }
.mt180 { margin-top: 180px; }
.mt200 { margin-top: 200px; }
.mt400 { margin-top: 400px; }
.mt600 { margin-top: 600px; }
.mt800 { margin-top: 800px; }

@media only screen and (--large-screen) {
  .mt0-lg { margin-top: 0; }
  .mt5-lg { margin-top: 5px; }
  .mt10-lg { margin-top: 10px; }
  .mt20-lg { margin-top: 20px; }
  .mt30-lg { margin-top: 30px; }
  .mt40-lg { margin-top: 40px; }
  .mt50-lg { margin-top: 50px; }
  .mt60-lg { margin-top: 60px; }
  .mt80-lg { margin-top: 80px; }
  .mt100-lg { margin-top: 100px; }
  .mt120-lg { margin-top: 120px; }
  .mt140-lg { margin-top: 140px; }
  .mt160-lg { margin-top: 160px; }
  .mt180-lg { margin-top: 180px; }
  .mt200-lg { margin-top: 200px; }
  .mt400-lg { margin-top: 400px; }
  .mt600-lg { margin-top: 600px; }
  .mt800-lg { margin-top: 800px; }
}

@media only screen and (--medium-screen) {
  .mt0-md { margin-top: 0; }
  .mt5-md { margin-top: 5px; }
  .mt10-md { margin-top: 10px; }
  .mt20-md { margin-top: 20px; }
  .mt30-md { margin-top: 30px; }
  .mt40-md { margin-top: 40px; }
  .mt50-md { margin-top: 50px; }
  .mt60-md { margin-top: 60px; }
  .mt80-md { margin-top: 80px; }
  .mt100-md { margin-top: 100px; }
  .mt120-md { margin-top: 120px; }
  .mt140-md { margin-top: 140px; }
  .mt160-md { margin-top: 160px; }
  .mt180-md { margin-top: 180px; }
  .mt200-md { margin-top: 200px; }
  .mt400-md { margin-top: 400px; }
  .mt600-md { margin-top: 600px; }
  .mt800-md { margin-top: 800px; }
}

@media only screen and (--small-screen) {
  .mt0-sm { margin-top: 0; }
  .mt5-sm { margin-top: 5px; }
  .mt10-sm { margin-top: 10px; }
  .mt20-sm { margin-top: 20px; }
  .mt30-sm { margin-top: 30px; }
  .mt40-sm { margin-top: 40px; }
  .mt50-sm { margin-top: 50px; }
  .mt60-sm { margin-top: 60px; }
  .mt80-sm { margin-top: 80px; }
  .mt100-sm { margin-top: 100px; }
  .mt120-sm { margin-top: 120px; }
  .mt140-sm { margin-top: 140px; }
  .mt160-sm { margin-top: 160px; }
  .mt180-sm { margin-top: 180px; }
  .mt200-sm { margin-top: 200px; }
  .mt400-sm { margin-top: 400px; }
  .mt600-sm { margin-top: 600px; }
  .mt800-sm { margin-top: 800px; }
}

/**
 * Right margins. Increments by 5px up to 10px, by 10px up to 60px, by 20px up to 200px, and by 200px up to 800px.
 *
 * @example
 *  <div class='mr5'></div>
 *  <div class='mr10'></div>
 *  <div class='mr40'></div>
 *  <div class='mr100'></div>
 *  <div class='mr200'></div>
 */
.mr5 { margin-right: 5px; }
.mr10 { margin-right: 10px; }
.mr20 { margin-right: 20px; }
.mr30 { margin-right: 30px; }
.mr40 { margin-right: 40px; }
.mr50 { margin-right: 50px; }
.mr60 { margin-right: 60px; }
.mr80 { margin-right: 80px; }
.mr100 { margin-right: 100px; }
.mr120 { margin-right: 120px; }
.mr140 { margin-right: 140px; }
.mr160 { margin-right: 160px; }
.mr180 { margin-right: 180px; }
.mr200 { margin-right: 200px; }
.mr400 { margin-right: 400px; }
.mr600 { margin-right: 600px; }
.mr800 { margin-right: 800px; }

@media only screen and (--large-screen) {
  .mr0-lg { margin-right: 0; }
  .mr5-lg { margin-right: 5px; }
  .mr10-lg { margin-right: 10px; }
  .mr20-lg { margin-right: 20px; }
  .mr30-lg { margin-right: 30px; }
  .mr40-lg { margin-right: 40px; }
  .mr50-lg { margin-right: 50px; }
  .mr60-lg { margin-right: 60px; }
  .mr80-lg { margin-right: 80px; }
  .mr100-lg { margin-right: 100px; }
  .mr120-lg { margin-right: 120px; }
  .mr140-lg { margin-right: 140px; }
  .mr160-lg { margin-right: 160px; }
  .mr180-lg { margin-right: 180px; }
  .mr200-lg { margin-right: 200px; }
  .mr400-lg { margin-right: 400px; }
  .mr600-lg { margin-right: 600px; }
  .mr800-lg { margin-right: 800px; }
}

@media only screen and (--medium-screen) {
  .mr0-md { margin-right: 0; }
  .mr5-md { margin-right: 5px; }
  .mr10-md { margin-right: 10px; }
  .mr20-md { margin-right: 20px; }
  .mr30-md { margin-right: 30px; }
  .mr40-md { margin-right: 40px; }
  .mr50-md { margin-right: 50px; }
  .mr60-md { margin-right: 60px; }
  .mr80-md { margin-right: 80px; }
  .mr100-md { margin-right: 100px; }
  .mr120-md { margin-right: 120px; }
  .mr140-md { margin-right: 140px; }
  .mr160-md { margin-right: 160px; }
  .mr180-md { margin-right: 180px; }
  .mr200-md { margin-right: 200px; }
  .mr400-md { margin-right: 400px; }
  .mr600-md { margin-right: 600px; }
  .mr800-md { margin-right: 800px; }
}

@media only screen and (--small-screen) {
  .mr0-sm { margin-right: 0; }
  .mr5-sm { margin-right: 5px; }
  .mr10-sm { margin-right: 10px; }
  .mr20-sm { margin-right: 20px; }
  .mr30-sm { margin-right: 30px; }
  .mr40-sm { margin-right: 40px; }
  .mr50-sm { margin-right: 50px; }
  .mr60-sm { margin-right: 60px; }
  .mr80-sm { margin-right: 80px; }
  .mr100-sm { margin-right: 100px; }
  .mr120-sm { margin-right: 120px; }
  .mr140-sm { margin-right: 140px; }
  .mr160-sm { margin-right: 160px; }
  .mr180-sm { margin-right: 180px; }
  .mr200-sm { margin-right: 200px; }
  .mr400-sm { margin-right: 400px; }
  .mr600-sm { margin-right: 600px; }
  .mr800-sm { margin-right: 800px; }
}

/**
 * Bottom margins. Increments by 5px up to 10px, by 10px up to 60px, by 20px up to 200px, and by 200px up to 800px.
 *
 * @example
 *  <div class='mb5'></div>
 *  <div class='mb10'></div>
 *  <div class='mb40'></div>
 *  <div class='mb100'></div>
 *  <div class='mb200'></div>
 */
.mb-neg1 { margin-bottom: -1px; }
.mb-neg2 { margin-bottom: -2px; }
.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px; }
.mb40 { margin-bottom: 40px; }
.mb50 { margin-bottom: 50px; }
.mb60 { margin-bottom: 60px; }
.mb80 { margin-bottom: 80px; }
.mb100 { margin-bottom: 100px; }
.mb120 { margin-bottom: 120px; }
.mb140 { margin-bottom: 140px; }
.mb160 { margin-bottom: 160px; }
.mb180 { margin-bottom: 180px; }
.mb200 { margin-bottom: 200px; }
.mb400 { margin-bottom: 400px; }
.mb600 { margin-bottom: 600px; }
.mb800 { margin-bottom: 800px; }

@media only screen and (--large-screen) {
  .mb0-lg { margin-bottom: 0; }
  .mb5-lg { margin-bottom: 5px; }
  .mb10-lg { margin-bottom: 10px; }
  .mb20-lg { margin-bottom: 20px; }
  .mb30-lg { margin-bottom: 30px; }
  .mb40-lg { margin-bottom: 40px; }
  .mb50-lg { margin-bottom: 50px; }
  .mb60-lg { margin-bottom: 60px; }
  .mb80-lg { margin-bottom: 80px; }
  .mb100-lg { margin-bottom: 100px; }
  .mb120-lg { margin-bottom: 120px; }
  .mb140-lg { margin-bottom: 140px; }
  .mb160-lg { margin-bottom: 160px; }
  .mb180-lg { margin-bottom: 180px; }
  .mb200-lg { margin-bottom: 200px; }
  .mb400-lg { margin-bottom: 400px; }
  .mb600-lg { margin-bottom: 600px; }
  .mb800-lg { margin-bottom: 800px; }
}

@media only screen and (--medium-screen) {
  .mb0-md { margin-bottom: 0; }
  .mb5-md { margin-bottom: 5px; }
  .mb10-md { margin-bottom: 10px; }
  .mb20-md { margin-bottom: 20px; }
  .mb30-md { margin-bottom: 30px; }
  .mb40-md { margin-bottom: 40px; }
  .mb50-md { margin-bottom: 50px; }
  .mb60-md { margin-bottom: 60px; }
  .mb80-md { margin-bottom: 80px; }
  .mb100-md { margin-bottom: 100px; }
  .mb120-md { margin-bottom: 120px; }
  .mb140-md { margin-bottom: 140px; }
  .mb160-md { margin-bottom: 160px; }
  .mb180-md { margin-bottom: 180px; }
  .mb200-md { margin-bottom: 200px; }
  .mb400-md { margin-bottom: 400px; }
  .mb600-md { margin-bottom: 600px; }
  .mb800-md { margin-bottom: 800px; }
}

@media only screen and (--small-screen) {
  .mb0-sm { margin-bottom: 0; }
  .mb5-sm { margin-bottom: 5px; }
  .mb10-sm { margin-bottom: 10px; }
  .mb20-sm { margin-bottom: 20px; }
  .mb30-sm { margin-bottom: 30px; }
  .mb40-sm { margin-bottom: 40px; }
  .mb50-sm { margin-bottom: 50px; }
  .mb60-sm { margin-bottom: 60px; }
  .mb80-sm { margin-bottom: 80px; }
  .mb100-sm { margin-bottom: 100px; }
  .mb120-sm { margin-bottom: 120px; }
  .mb140-sm { margin-bottom: 140px; }
  .mb160-sm { margin-bottom: 160px; }
  .mb180-sm { margin-bottom: 180px; }
  .mb200-sm { margin-bottom: 200px; }
  .mb400-sm { margin-bottom: 400px; }
  .mb600-sm { margin-bottom: 600px; }
  .mb800-sm { margin-bottom: 800px; }
}

/**
 * Left margins. Increments by 5px up to 10px, by 10px up to 60px, by 20px up to 200px, and by 200px up to 800px.
 *
 * @example
 *  <div class='ml5'></div>
 *  <div class='ml10'></div>
 *  <div class='ml40'></div>
 *  <div class='ml100'></div>
 *  <div class='ml200'></div>
 */
.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }
.ml20 { margin-left: 20px; }
.ml30 { margin-left: 30px; }
.ml40 { margin-left: 40px; }
.ml50 { margin-left: 50px; }
.ml60 { margin-left: 60px; }
.ml80 { margin-left: 80px; }
.ml100 { margin-left: 100px; }
.ml120 { margin-left: 120px; }
.ml140 { margin-left: 140px; }
.ml160 { margin-left: 160px; }
.ml180 { margin-left: 180px; }
.ml200 { margin-left: 200px; }
.ml400 { margin-left: 400px; }
.ml600 { margin-left: 600px; }
.ml800 { margin-left: 800px; }

@media only screen and (--large-screen) {
  .ml0-lg { margin-left: 0; }
  .ml5-lg { margin-left: 5px; }
  .ml10-lg { margin-left: 10px; }
  .ml20-lg { margin-left: 20px; }
  .ml30-lg { margin-left: 30px; }
  .ml40-lg { margin-left: 40px; }
  .ml50-lg { margin-left: 50px; }
  .ml60-lg { margin-left: 60px; }
  .ml80-lg { margin-left: 80px; }
  .ml100-lg { margin-left: 100px; }
  .ml120-lg { margin-left: 120px; }
  .ml140-lg { margin-left: 140px; }
  .ml160-lg { margin-left: 160px; }
  .ml180-lg { margin-left: 180px; }
  .ml200-lg { margin-left: 200px; }
  .ml400-lg { margin-left: 400px; }
  .ml600-lg { margin-left: 600px; }
  .ml800-lg { margin-left: 800px; }
}

@media only screen and (--medium-screen) {
  .ml0-md { margin-left: 0; }
  .ml5-md { margin-left: 5px; }
  .ml10-md { margin-left: 10px; }
  .ml20-md { margin-left: 20px; }
  .ml30-md { margin-left: 30px; }
  .ml40-md { margin-left: 40px; }
  .ml50-md { margin-left: 50px; }
  .ml60-md { margin-left: 60px; }
  .ml80-md { margin-left: 80px; }
  .ml100-md { margin-left: 100px; }
  .ml120-md { margin-left: 120px; }
  .ml140-md { margin-left: 140px; }
  .ml160-md { margin-left: 160px; }
  .ml180-md { margin-left: 180px; }
  .ml200-md { margin-left: 200px; }
  .ml400-md { margin-left: 400px; }
  .ml600-md { margin-left: 600px; }
  .ml800-md { margin-left: 800px; }
}

@media only screen and (--small-screen) {
  .ml0-sm { margin-left: 0; }
  .ml5-sm { margin-left: 5px; }
  .ml10-sm { margin-left: 10px; }
  .ml20-sm { margin-left: 20px; }
  .ml30-sm { margin-left: 30px; }
  .ml40-sm { margin-left: 40px; }
  .ml50-sm { margin-left: 50px; }
  .ml60-sm { margin-left: 60px; }
  .ml80-sm { margin-left: 80px; }
  .ml100-sm { margin-left: 100px; }
  .ml120-sm { margin-left: 120px; }
  .ml140-sm { margin-left: 140px; }
  .ml160-sm { margin-left: 160px; }
  .ml180-sm { margin-left: 180px; }
  .ml200-sm { margin-left: 200px; }
  .ml400-sm { margin-left: 400px; }
  .ml600-sm { margin-left: 600px; }
  .ml800-sm { margin-left: 800px; }
}

/**
 * Padding classes
 * @section Padding
 * @memberof Positioning
*/

/**
 *  Padding in all directions. Increments by 5px up to 10px, by 10px up to 60px, by 20px up to 100px
 *
 * @example
 *  <div class='p5'></div>
 *  <div class='p10'></div>
 *  <div class='p40'></div>
 *  <div class='p100'></div>
 *  <div class='p200'></div>
 */
.p5 { padding: 5px; }
.p10 { padding: 10px; }
.p20 { padding: 20px; }
.p40 { padding: 40px; }
.p60 { padding: 60px; }
.p80 { padding: 80px; }
.p100 { padding: 100px; }

@media only screen and (--large-screen) {
  .p0-lg { padding: 0; }
  .p5-lg { padding: 5px; }
  .p10-lg { padding: 10px; }
  .p20-lg { padding: 20px; }
  .p40-lg { padding: 40px; }
  .p60-lg { padding: 60px; }
  .p80-lg { padding: 80px; }
  .p100-lg { padding: 100px; }
}

@media only screen and (--medium-screen) {
  .p0-md { padding: 0; }
  .p5-md { padding: 5px; }
  .p10-md { padding: 10px; }
  .p20-md { padding: 20px; }
  .p40-md { padding: 40px; }
  .p60-md { padding: 60px; }
  .p80-md { padding: 80px; }
  .p100-md { padding: 100px; }
}

@media only screen and (--small-screen) {
  .p0-sm { padding: 0; }
  .p5-sm { padding: 5px; }
  .p10-sm { padding: 10px; }
  .p20-sm { padding: 20px; }
  .p40-sm { padding: 40px; }
  .p60-sm { padding: 60px; }
  .p80-sm { padding: 80px; }
  .p100-sm { padding: 100px; }
}

/**
 *  Top and bottom padding. Increments by 5px up to 10px, by 10px up to 60px, by 20px up to 100px
 *
 * @example
 *  <div class='py5'></div>
 *  <div class='py10'></div>
 *  <div class='py40'></div>
 *  <div class='py100'></div>
 *  <div class='py200'></div>
 */
.py5 { padding-bottom: 5px; padding-top: 5px; }
.py10 { padding-bottom: 10px; padding-top: 10px; }
.py20 { padding-bottom: 20px; padding-top: 20px; }
.py40 { padding-bottom: 40px; padding-top: 40px; }
.py60 { padding-bottom: 60px; padding-top: 60px; }
.py80 { padding-bottom: 80px; padding-top: 80px; }
.py100 { padding-bottom: 100px; padding-top: 100px; }

@media only screen and (--large-screen) {
  .py0-lg { padding-bottom: 0; padding-top: 0; }
  .py5-lg { padding-bottom: 5px; padding-top: 5px; }
  .py10-lg { padding-bottom: 10px; padding-top: 10px; }
  .py20-lg { padding-bottom: 20px; padding-top: 20px; }
  .py40-lg { padding-bottom: 40px; padding-top: 40px; }
  .py60-lg { padding-bottom: 60px; padding-top: 60px; }
  .py80-lg { padding-bottom: 80px; padding-top: 80px; }
  .py100-lg { padding-bottom: 100px; padding-top: 100px; }
}

@media only screen and (--medium-screen) {
  .py0-md { padding-bottom: 0; padding-top: 0; }
  .py5-md { padding-bottom: 5px; padding-top: 5px; }
  .py10-md { padding-bottom: 10px; padding-top: 10px; }
  .py20-md { padding-bottom: 20px; padding-top: 20px; }
  .py40-md { padding-bottom: 40px; padding-top: 40px; }
  .py60-md { padding-bottom: 60px; padding-top: 60px; }
  .py80-md { padding-bottom: 80px; padding-top: 80px; }
  .py100-md { padding-bottom: 100px; padding-top: 100px; }
}

@media only screen and (--small-screen) {
  .py0-sm { padding-bottom: 0; padding-top: 0; }
  .py5-sm { padding-bottom: 5px; padding-top: 5px; }
  .py10-sm { padding-bottom: 10px; padding-top: 10px; }
  .py20-sm { padding-bottom: 20px; padding-top: 20px; }
  .py40-sm { padding-bottom: 40px; padding-top: 40px; }
  .py60-sm { padding-bottom: 60px; padding-top: 60px; }
  .py80-sm { padding-bottom: 80px; padding-top: 80px; }
  .py100-sm { padding-bottom: 100px; padding-top: 100px; }
}

/**
 *  Left and right padding. Increments by 5px up to 10px, by 10px up to 60px, by 20px up to 100px
 *
 * @example
 *  <div class='pt5'></div>
 *  <div class='pt10'></div>
 *  <div class='pt40'></div>
 *  <div class='pt100'></div>
 *  <div class='pt200'></div>
 */
.px5 { padding-right: 5px; padding-left: 5px; }
.px10 { padding-right: 10px; padding-left: 10px; }
.px20 { padding-right: 20px; padding-left: 20px; }
.px40 { padding-right: 40px; padding-left: 40px; }
.px60 { padding-right: 60px; padding-left: 60px; }
.px80 { padding-right: 80px; padding-left: 80px; }
.px100 { padding-right: 100px; padding-left: 100px; }

@media only screen and (--large-screen) {
  .px0-lg { padding-right: 0; padding-left: 0; }
  .px5-lg { padding-right: 5px; padding-left: 5px; }
  .px10-lg { padding-right: 10px; padding-left: 10px; }
  .px20-lg { padding-right: 20px; padding-left: 20px; }
  .px40-lg { padding-right: 40px; padding-left: 40px; }
  .px60-lg { padding-right: 60px; padding-left: 60px; }
  .px80-lg { padding-right: 80px; padding-left: 80px; }
  .px100-lg { padding-right: 100px; padding-left: 100px; }
}

@media only screen and (--medium-screen) {
  .px0-md { padding-right: 0; padding-left: 0; }
  .px5-md { padding-right: 5px; padding-left: 5px; }
  .px10-md { padding-right: 10px; padding-left: 10px; }
  .px20-md { padding-right: 20px; padding-left: 20px; }
  .px40-md { padding-right: 40px; padding-left: 40px; }
  .px60-md { padding-right: 60px; padding-left: 60px; }
  .px80-md { padding-right: 80px; padding-left: 80px; }
  .px100-md { padding-right: 100px; padding-left: 100px; }
}

@media only screen and (--small-screen) {
  .px0-sm { padding-right: 0; padding-left: 0; }
  .px5-sm { padding-right: 5px; padding-left: 5px; }
  .px10-sm { padding-right: 10px; padding-left: 10px; }
  .px20-sm { padding-right: 20px; padding-left: 20px; }
  .px40-sm { padding-right: 40px; padding-left: 40px; }
  .px60-sm { padding-right: 60px; padding-left: 60px; }
  .px80-sm { padding-right: 80px; padding-left: 80px; }
  .px100-sm { padding-right: 100px; padding-left: 100px; }
}

/**
 * Top padding. Increments by 5px up to 10px, by 10px up to 60px, by 20px up to 100px
 *
 * @example
 *  <div class='pt5'></div>
 *  <div class='pt10'></div>
 *  <div class='pt40'></div>
 *  <div class='pt100'></div>
 *  <div class='pt200'></div>
 */
.pt5 { padding-top: 5px; }
.pt10 { padding-top: 10px; }
.pt20 { padding-top: 20px; }
.pt40 { padding-top: 40px; }
.pt60 { padding-top: 60px; }
.pt80 { padding-top: 80px; }
.pt100 { padding-top: 100px; }

@media only screen and (--large-screen) {
  .pt0-lg { padding-top: 0; }
  .pt5-lg { padding-top: 5px; }
  .pt10-lg { padding-top: 10px; }
  .pt20-lg { padding-top: 20px; }
  .pt40-lg { padding-top: 40px; }
  .pt60-lg { padding-top: 60px; }
  .pt80-lg { padding-top: 80px; }
  .pt100-lg { padding-top: 100px; }
}

@media only screen and (--medium-screen) {
  .pt0-md { padding-top: 0; }
  .pt5-md { padding-top: 5px; }
  .pt10-md { padding-top: 10px; }
  .pt20-md { padding-top: 20px; }
  .pt40-md { padding-top: 40px; }
  .pt60-md { padding-top: 60px; }
  .pt80-md { padding-top: 80px; }
  .pt100-md { padding-top: 100px; }
}

@media only screen and (--small-screen) {
  .pt0-sm { padding-top: 0; }
  .pt5-sm { padding-top: 5px; }
  .pt10-sm { padding-top: 10px; }
  .pt20-sm { padding-top: 20px; }
  .pt40-sm { padding-top: 40px; }
  .pt60-sm { padding-top: 60px; }
  .pt80-sm { padding-top: 80px; }
  .pt100-sm { padding-top: 100px; }
}

/**
 * Right padding. Increments by 5px up to 10px, by 10px up to 60px, by 20px up to 100px
 *
 * @example
 *  <div class='pr5'></div>
 *  <div class='pr10'></div>
 *  <div class='pr40'></div>
 *  <div class='pr100'></div>
 *  <div class='pr200'></div>
 */
.pr5 { padding-right: 5px; }
.pr10 { padding-right: 10px; }
.pr20 { padding-right: 20px; }
.pr40 { padding-right: 40px; }
.pr60 { padding-right: 60px; }
.pr80 { padding-right: 80px; }
.pr100 { padding-right: 100px; }

@media only screen and (--large-screen) {
  .pr0-lg { padding-right: 0; }
  .pr5-lg { padding-right: 5px; }
  .pr10-lg { padding-right: 10px; }
  .pr20-lg { padding-right: 20px; }
  .pr40-lg { padding-right: 40px; }
  .pr60-lg { padding-right: 60px; }
  .pr80-lg { padding-right: 80px; }
  .pr100-lg { padding-right: 100px; }
}

@media only screen and (--medium-screen) {
  .pr0-md { padding-right: 0; }
  .pr5-md { padding-right: 5px; }
  .pr10-md { padding-right: 10px; }
  .pr20-md { padding-right: 20px; }
  .pr40-md { padding-right: 40px; }
  .pr60-md { padding-right: 60px; }
  .pr80-md { padding-right: 80px; }
  .pr100-md { padding-right: 100px; }
}

@media only screen and (--small-screen) {
  .pr0-sm { padding-right: 0; }
  .pr5-sm { padding-right: 5px; }
  .pr10-sm { padding-right: 10px; }
  .pr20-sm { padding-right: 20px; }
  .pr40-sm { padding-right: 40px; }
  .pr60-sm { padding-right: 60px; }
  .pr80-sm { padding-right: 80px; }
  .pr100-sm { padding-right: 100px; }
}

/**
 * Bottom padding. Increments by 5px up to 10px, by 10px up to 60px, by 20px up to 100px
 *
 * @example
 *  <div class='pb5'></div>
 *  <div class='pb10'></div>
 *  <div class='pb40'></div>
 *  <div class='pb100'></div>
 *  <div class='pb200'></div>
 */
.pb5 { padding-bottom: 5px; }
.pb10 { padding-bottom: 10px; }
.pb20 { padding-bottom: 20px; }
.pb40 { padding-bottom: 40px; }
.pb60 { padding-bottom: 60px; }
.pb80 { padding-bottom: 80px; }
.pb100 { padding-bottom: 100px; }

@media only screen and (--large-screen) {
  .pb0-lg { padding-bottom: 0; }
  .pb5-lg { padding-bottom: 5px; }
  .pb10-lg { padding-bottom: 10px; }
  .pb20-lg { padding-bottom: 20px; }
  .pb40-lg { padding-bottom: 40px; }
  .pb60-lg { padding-bottom: 60px; }
  .pb80-lg { padding-bottom: 80px; }
  .pb100-lg { padding-bottom: 100px; }
}

@media only screen and (--medium-screen) {
  .pb0-md { padding-bottom: 0; }
  .pb5-md { padding-bottom: 5px; }
  .pb10-md { padding-bottom: 10px; }
  .pb20-md { padding-bottom: 20px; }
  .pb40-md { padding-bottom: 40px; }
  .pb60-md { padding-bottom: 60px; }
  .pb80-md { padding-bottom: 80px; }
  .pb100-md { padding-bottom: 100px; }
}

@media only screen and (--small-screen) {
  .pb0-sm { padding-bottom: 0; }
  .pb5-sm { padding-bottom: 5px; }
  .pb10-sm { padding-bottom: 10px; }
  .pb20-sm { padding-bottom: 20px; }
  .pb40-sm { padding-bottom: 40px; }
  .pb60-sm { padding-bottom: 60px; }
  .pb80-sm { padding-bottom: 80px; }
  .pb100-sm { padding-bottom: 100px; }
}

/**
 * Left padding. Increments by 5px up to 10px, by 10px up to 60px, by 20px up to 100px
 *
 * @example
 *  <div class='pl5'></div>
 *  <div class='pl10'></div>
 *  <div class='pl40'></div>
 *  <div class='pl100'></div>
 *  <div class='pl200'></div>
 */
.pl5 { padding-left: 5px; }
.pl10 { padding-left: 10px; }
.pl20 { padding-left: 20px; }
.pl40 { padding-left: 40px; }
.pl60 { padding-left: 60px; }
.pl80 { padding-left: 80px; }
.pl100 { padding-left: 100px; }

@media only screen and (--large-screen) {
  .pl0-lg { padding-left: 0; }
  .pl5-lg { padding-left: 5px; }
  .pl10-lg { padding-left: 10px; }
  .pl20-lg { padding-left: 20px; }
  .pl40-lg { padding-left: 40px; }
  .pl60-lg { padding-left: 60px; }
  .pl80-lg { padding-left: 80px; }
  .pl100-lg { padding-left: 100px; }
}

@media only screen and (--medium-screen) {
  .pl0-md { padding-left: 0; }
  .pl5-md { padding-left: 5px; }
  .pl10-md { padding-left: 10px; }
  .pl20-md { padding-left: 20px; }
  .pl40-md { padding-left: 40px; }
  .pl60-md { padding-left: 60px; }
  .pl80-md { padding-left: 80px; }
  .pl100-md { padding-left: 100px; }
}

@media only screen and (--small-screen) {
  .pb0-sm { padding-bottom: 0; }
  .pl0-sm { padding-left: 0; }
  .pl5-sm { padding-left: 5px; }
  .pl10-sm { padding-left: 10px; }
  .pl20-sm { padding-left: 20px; }
  .pl40-sm { padding-left: 40px; }
  .pl60-sm { padding-left: 60px; }
  .pl80-sm { padding-left: 80px; }
  .pl100-sm { padding-left: 100px; }
}
