/* stylelint-disable */
/* Reset ♥ Adapted from http://meyerweb.com/eric/tools/css/reset/
------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body { line-height: 1; }

ol, ul { list-style: none;  }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

hr { margin: 0; border: 0; }

html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

button {
  background: transparent;
  border: none;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  width: auto;
  text-align: left;
  appearance: none;
  user-select: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

abbr {
  text-decoration: none;
}

svg {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

video {
  width: 100%;
  height: auto;
}

q::before,
q::after {
  content: '';
}

pre {
  display: block;
  white-space: pre-wrap;
  tab-size: 2;
}

legend {
  display: block;
  width: 100%;
}
