/**
 * Sizing
 * @section Sizing
 */

/**
 * Widths. Increments by 5px up to 10px, by 10px up to 60px, by 20px up to 200px, and by 200px up to 800px.
 *
 * @example
 *  <div class='w5'></div>
 *  <div class='w10'></div>
 *  <div class='w40'></div>
 *  <div class='w100'></div>
 *  <div class='w200'></div>
 */
.w5 { width: 5px; }
.w10 { width: 10px; }
.w20 { width: 20px; }
.w30 { width: 30px; }
.w40 { width: 40px; }
.w50 { width: 50px; }
.w60 { width: 60px; }
.w80 { width: 80px; }
.w100 { width: 100px; }
.w120 { width: 120px; }
.w140 { width: 140px; }
.w160 { width: 160px; }
.w180 { width: 180px; }
.w200 { width: 200px; }
.w400 { width: 400px; }
.w600 { width: 600px; }
.w800 { width: 800px; }

@media only screen and (max-width: 1824px) {
  /**
   * Widths. Increments by 5px up to 10px, by 10px up to 60px, by 20px up to 200px, and by 200px up to 800px.
   *
   * @example
   *  <div class='w5'></div>
   *  <div class='w10'></div>
   *  <div class='w40'></div>
   *  <div class='w100'></div>
   *  <div class='w200'></div>
   */
  .w5-lg { width: 5px; }
  .w10-lg { width: 10px; }
  .w20-lg { width: 20px; }
  .w30-lg { width: 30px; }
  .w40-lg { width: 40px; }
  .w50-lg { width: 50px; }
  .w60-lg { width: 60px; }
  .w80-lg { width: 80px; }
  .w100-lg { width: 100px; }
  .w120-lg { width: 120px; }
  .w140-lg { width: 140px; }
  .w160-lg { width: 160px; }
  .w180-lg { width: 180px; }
  .w200-lg { width: 200px; }
  .w400-lg { width: 400px; }
  .w600-lg { width: 600px; }
  .w800-lg { width: 800px; }
}

@media only screen and (max-width: 770px) {

  /**
   * Widths. Increments by 5px up to 10px, by 10px up to 60px, by 20px up to 200px, and by 200px up to 800px.
   *
   * @example
   *  <div class='w5'></div>
   *  <div class='w10'></div>
   *  <div class='w40'></div>
   *  <div class='w100'></div>
   *  <div class='w200'></div>
   */
  .w5-md { width: 5px; }
  .w10-md { width: 10px; }
  .w20-md { width: 20px; }
  .w30-md { width: 30px; }
  .w40-md { width: 40px; }
  .w50-md { width: 50px; }
  .w60-md { width: 60px; }
  .w80-md { width: 80px; }
  .w100-md { width: 100px; }
  .w120-md { width: 120px; }
  .w140-md { width: 140px; }
  .w160-md { width: 160px; }
  .w180-md { width: 180px; }
  .w200-md { width: 200px; }
  .w400-md { width: 400px; }
  .w600-md { width: 600px; }
  .w800-md { width: 800px; }
}

@media only screen and (max-width: 640px) {
  /**
   * Widths. Increments by 5px up to 10px, by 10px up to 60px, by 20px up to 200px, and by 200px up to 800px.
   *
   * @example
   *  <div class='w5'></div>
   *  <div class='w10'></div>
   *  <div class='w40'></div>
   *  <div class='w100'></div>
   *  <div class='w200'></div>
   */
  .w5-sm { width: 5px; }
  .w10-sm { width: 10px; }
  .w20-sm { width: 20px; }
  .w30-sm { width: 30px; }
  .w40-sm { width: 40px; }
  .w50-sm { width: 50px; }
  .w60-sm { width: 60px; }
  .w80-sm { width: 80px; }
  .w100-sm { width: 100px; }
  .w120-sm { width: 120px; }
  .w140-sm { width: 140px; }
  .w160-sm { width: 160px; }
  .w180-sm { width: 180px; }
  .w200-sm { width: 200px; }
  .w400-sm { width: 400px; }
  .w600-sm { width: 600px; }
  .w800-sm { width: 800px; }
}

/**
 * Max widths. Increments by 5px up to 10px, by 10px up to 60px, by 20px up to 200px, by 200px up to 800px, and by 400px up to 1600px.
 *
 * @example
 *  <div class='wmax5'></div>
 *  <div class='wmax10'></div>
 *  <div class='wmax40'></div>
 *  <div class='wmax100'></div>
 *  <div class='wmax200'></div>
 */
.wmax5 { max-width: 5px; }
.wmax10 { max-width: 10px; }
.wmax20 { max-width: 20px; }
.wmax30 { max-width: 30px; }
.wmax40 { max-width: 40px; }
.wmax50 { max-width: 50px; }
.wmax60 { max-width: 60px; }
.wmax80 { max-width: 80px; }
.wmax100 { max-width: 100px; }
.wmax120 { max-width: 120px; }
.wmax140 { max-width: 140px; }
.wmax160 { max-width: 160px; }
.wmax180 { max-width: 180px; }
.wmax200 { max-width: 200px; }
.wmax400 { max-width: 400px; }
.wmax600 { max-width: 600px; }
.wmax800 { max-width: 800px; }
.wmax1200 { max-width: 1200px; }
.wmax1600 { max-width: 1600px; }

@media only screen and (max-width: 1824px) {
  .wmax5-lg { max-width: 5px; }
  .wmax10-lg { max-width: 10px; }
  .wmax20-lg { max-width: 20px; }
  .wmax30-lg { max-width: 30px; }
  .wmax40-lg { max-width: 40px; }
  .wmax50-lg { max-width: 50px; }
  .wmax60-lg { max-width: 60px; }
  .wmax80-lg { max-width: 80px; }
  .wmax100-lg { max-width: 100px; }
  .wmax120-lg { max-width: 120px; }
  .wmax140-lg { max-width: 140px; }
  .wmax160-lg { max-width: 160px; }
  .wmax180-lg { max-width: 180px; }
  .wmax200-lg { max-width: 200px; }
  .wmax400-lg { max-width: 400px; }
  .wmax600-lg { max-width: 600px; }
  .wmax800-lg { max-width: 800px; }
  .wmax1200-lg { max-width: 1200px; }
  .wmax1600-lg { max-width: 1600px; }
}

@media only screen and (max-width: 770px) {
  .wmax5-md { max-width: 5px; }
  .wmax10-md { max-width: 10px; }
  .wmax20-md { max-width: 20px; }
  .wmax30-md { max-width: 30px; }
  .wmax40-md { max-width: 40px; }
  .wmax50-md { max-width: 50px; }
  .wmax60-md { max-width: 60px; }
  .wmax80-md { max-width: 80px; }
  .wmax100-md { max-width: 100px; }
  .wmax120-md { max-width: 120px; }
  .wmax140-md { max-width: 140px; }
  .wmax160-md { max-width: 160px; }
  .wmax180-md { max-width: 180px; }
  .wmax200-md { max-width: 200px; }
  .wmax400-md { max-width: 400px; }
  .wmax600-md { max-width: 600px; }
  .wmax800-md { max-width: 800px; }
  .wmax1200-md { max-width: 1200px; }
  .wmax1600-md { max-width: 1600px; }
}

@media only screen and (max-width: 640px) {
  .wmax5-sm { max-width: 5px; }
  .wmax10-sm { max-width: 10px; }
  .wmax20-sm { max-width: 20px; }
  .wmax30-sm { max-width: 30px; }
  .wmax40-sm { max-width: 40px; }
  .wmax50-sm { max-width: 50px; }
  .wmax60-sm { max-width: 60px; }
  .wmax80-sm { max-width: 80px; }
  .wmax100-sm { max-width: 100px; }
  .wmax120-sm { max-width: 120px; }
  .wmax140-sm { max-width: 140px; }
  .wmax160-sm { max-width: 160px; }
  .wmax180-sm { max-width: 180px; }
  .wmax200-sm { max-width: 200px; }
  .wmax400-sm { max-width: 400px; }
  .wmax600-sm { max-width: 600px; }
  .wmax800-sm { max-width: 800px; }
  .wmax1200-sm { max-width: 1200px; }
  .wmax1600-sm { max-width: 1600px; }
}

/**
 * Min widths. Increments by 5px up to 10px, by 10px up to 60px, by 20px up to 200px, by 200px up to 800px.
 *
 * @example
 *  <div class='wmin5'></div>
 *  <div class='wmin10'></div>
 *  <div class='wmin40'></div>
 *  <div class='wmin100'></div>
 *  <div class='wmin200'></div>
 */
.wmin5 { min-width: 5px; }
.wmin10 { min-width: 10px; }
.wmin20 { min-width: 20px; }
.wmin30 { min-width: 30px; }
.wmin40 { min-width: 40px; }
.wmin50 { min-width: 50px; }
.wmin60 { min-width: 60px; }
.wmin80 { min-width: 80px; }
.wmin100 { min-width: 100px; }
.wmin120 { min-width: 120px; }
.wmin140 { min-width: 140px; }
.wmin160 { min-width: 160px; }
.wmin180 { min-width: 180px; }
.wmin200 { min-width: 200px; }
.wmin400 { min-width: 400px; }
.wmin600 { min-width: 600px; }
.wmin800 { min-width: 800px; }

@media only screen and (max-width: 1824px) {
  .wmin5-lg { min-width: 5px; }
  .wmin10-lg { min-width: 10px; }
  .wmin20-lg { min-width: 20px; }
  .wmin30-lg { min-width: 30px; }
  .wmin40-lg { min-width: 40px; }
  .wmin50-lg { min-width: 50px; }
  .wmin60-lg { min-width: 60px; }
  .wmin80-lg { min-width: 80px; }
  .wmin100-lg { min-width: 100px; }
  .wmin120-lg { min-width: 120px; }
  .wmin140-lg { min-width: 140px; }
  .wmin160-lg { min-width: 160px; }
  .wmin180-lg { min-width: 180px; }
  .wmin200-lg { min-width: 200px; }
  .wmin400-lg { min-width: 400px; }
  .wmin600-lg { min-width: 600px; }
  .wmin800-lg { min-width: 800px; }
}

@media only screen and (max-width: 770px) {
  .wmin5-md { min-width: 5px; }
  .wmin10-md { min-width: 10px; }
  .wmin20-md { min-width: 20px; }
  .wmin30-md { min-width: 30px; }
  .wmin40-md { min-width: 40px; }
  .wmin50-md { min-width: 50px; }
  .wmin60-md { min-width: 60px; }
  .wmin80-md { min-width: 80px; }
  .wmin100-md { min-width: 100px; }
  .wmin120-md { min-width: 120px; }
  .wmin140-md { min-width: 140px; }
  .wmin160-md { min-width: 160px; }
  .wmin180-md { min-width: 180px; }
  .wmin200-md { min-width: 200px; }
  .wmin400-md { min-width: 400px; }
  .wmin600-md { min-width: 600px; }
  .wmin800-md { min-width: 800px; }
}

@media only screen and (max-width: 640px) {
  .wmin5-sm { min-width: 5px; }
  .wmin10-sm { min-width: 10px; }
  .wmin20-sm { min-width: 20px; }
  .wmin30-sm { min-width: 30px; }
  .wmin40-sm { min-width: 40px; }
  .wmin50-sm { min-width: 50px; }
  .wmin60-sm { min-width: 60px; }
  .wmin80-sm { min-width: 80px; }
  .wmin100-sm { min-width: 100px; }
  .wmin120-sm { min-width: 120px; }
  .wmin140-sm { min-width: 140px; }
  .wmin160-sm { min-width: 160px; }
  .wmin180-sm { min-width: 180px; }
  .wmin200-sm { min-width: 200px; }
  .wmin400-sm { min-width: 400px; }
  .wmin600-sm { min-width: 600px; }
  .wmin800-sm { min-width: 800px; }
}

/**
 * Heights. Increments by 5px up to 10px, by 10px up to 60px, by 20px up to 200px, and by 200px up to 800px.
 *
 * @example
 *  <div class='h5'></div>
 *  <div class='h10'></div>
 *  <div class='h40'></div>
 *  <div class='h100'></div>
 *  <div class='h200'></div>
 */
.h5 { height: 5px; }
.h10 { height: 10px; }
.h20 { height: 20px; }
.h30 { height: 30px; }
.h40 { height: 40px; }
.h50 { height: 50px; }
.h60 { height: 60px; }
.h80 { height: 80px; }
.h100 { height: 100px; }
.h120 { height: 120px; }
.h140 { height: 140px; }
.h160 { height: 160px; }
.h180 { height: 180px; }
.h200 { height: 200px; }
.h400 { height: 400px; }
.h600 { height: 600px; }
.h800 { height: 800px; }

@media only screen and (max-width: 1824px) {
  .h5-lg { height: 5px; }
  .h10-lg { height: 10px; }
  .h20-lg { height: 20px; }
  .h30-lg { height: 30px; }
  .h40-lg { height: 40px; }
  .h50-lg { height: 50px; }
  .h60-lg { height: 60px; }
  .h80-lg { height: 80px; }
  .h100-lg { height: 100px; }
  .h120-lg { height: 120px; }
  .h140-lg { height: 140px; }
  .h160-lg { height: 160px; }
  .h180-lg { height: 180px; }
  .h200-lg { height: 200px; }
  .h400-lg { height: 400px; }
  .h600-lg { height: 600px; }
  .h800-lg { height: 800px; }
}

@media only screen and (max-width: 770px) {
  .h5-md { height: 5px; }
  .h10-md { height: 10px; }
  .h20-md { height: 20px; }
  .h30-md { height: 30px; }
  .h40-md { height: 40px; }
  .h50-md { height: 50px; }
  .h60-md { height: 60px; }
  .h80-md { height: 80px; }
  .h100-md { height: 100px; }
  .h120-md { height: 120px; }
  .h140-md { height: 140px; }
  .h160-md { height: 160px; }
  .h180-md { height: 180px; }
  .h200-md { height: 200px; }
  .h400-md { height: 400px; }
  .h600-md { height: 600px; }
  .h800-md { height: 800px; }
}

@media only screen and (max-width: 640px) {
  .h5-sm { height: 5px; }
  .h10-sm { height: 10px; }
  .h20-sm { height: 20px; }
  .h30-sm { height: 30px; }
  .h40-sm { height: 40px; }
  .h50-sm { height: 50px; }
  .h60-sm { height: 60px; }
  .h80-sm { height: 80px; }
  .h100-sm { height: 100px; }
  .h120-sm { height: 120px; }
  .h140-sm { height: 140px; }
  .h160-sm { height: 160px; }
  .h180-sm { height: 180px; }
  .h200-sm { height: 200px; }
  .h400-sm { height: 400px; }
  .h600-sm { height: 600px; }
  .h800-sm { height: 800px; }
}

/**
 * Max heights. Increments by 5px up to 10px, by 10px up to 60px, by 20px up to 200px, by 200px up to 800px, and by 400px up to 1600px.
 *
 * @example
 *  <div class='hmax5'></div>
 *  <div class='hmax10'></div>
 *  <div class='hmax40'></div>
 *  <div class='hmax100'></div>
 *  <div class='hmax200'></div>
 */
.hmax5 { max-height: 5px; }
.hmax10 { max-height: 10px; }
.hmax20 { max-height: 20px; }
.hmax30 { max-height: 30px; }
.hmax40 { max-height: 40px; }
.hmax50 { max-height: 50px; }
.hmax60 { max-height: 60px; }
.hmax80 { max-height: 80px; }
.hmax100 { max-height: 100px; }
.hmax120 { max-height: 120px; }
.hmax140 { max-height: 140px; }
.hmax160 { max-height: 160px; }
.hmax180 { max-height: 180px; }
.hmax200 { max-height: 200px; }
.hmax400 { max-height: 400px; }
.hmax600 { max-height: 600px; }
.hmax800 { max-height: 800px; }
.hmax1200 { max-height: 1200px; }
.hmax1600 { max-height: 1600px; }

@media only screen and (max-width: 1824px) {
  .hmax5-lg { max-height: 5px; }
  .hmax10-lg { max-height: 10px; }
  .hmax20-lg { max-height: 20px; }
  .hmax30-lg { max-height: 30px; }
  .hmax40-lg { max-height: 40px; }
  .hmax50-lg { max-height: 50px; }
  .hmax60-lg { max-height: 60px; }
  .hmax80-lg { max-height: 80px; }
  .hmax100-lg { max-height: 100px; }
  .hmax120-lg { max-height: 120px; }
  .hmax140-lg { max-height: 140px; }
  .hmax160-lg { max-height: 160px; }
  .hmax180-lg { max-height: 180px; }
  .hmax200-lg { max-height: 200px; }
  .hmax400-lg { max-height: 400px; }
  .hmax600-lg { max-height: 600px; }
  .hmax800-lg { max-height: 800px; }
  .hmax1200-lg { max-height: 1200px; }
  .hmax1600-lg { max-height: 1600px; }
}

@media only screen and (max-width: 770px) {
  .hmax5-md { max-height: 5px; }
  .hmax10-md { max-height: 10px; }
  .hmax20-md { max-height: 20px; }
  .hmax30-md { max-height: 30px; }
  .hmax40-md { max-height: 40px; }
  .hmax50-md { max-height: 50px; }
  .hmax60-md { max-height: 60px; }
  .hmax80-md { max-height: 80px; }
  .hmax100-md { max-height: 100px; }
  .hmax120-md { max-height: 120px; }
  .hmax140-md { max-height: 140px; }
  .hmax160-md { max-height: 160px; }
  .hmax180-md { max-height: 180px; }
  .hmax200-md { max-height: 200px; }
  .hmax400-md { max-height: 400px; }
  .hmax600-md { max-height: 600px; }
  .hmax800-md { max-height: 800px; }
  .hmax1200-md { max-height: 1200px; }
  .hmax1600-md { max-height: 1600px; }
}

@media only screen and (max-width: 640px) {
  .hmax5-sm { max-height: 5px; }
  .hmax10-sm { max-height: 10px; }
  .hmax20-sm { max-height: 20px; }
  .hmax30-sm { max-height: 30px; }
  .hmax40-sm { max-height: 40px; }
  .hmax50-sm { max-height: 50px; }
  .hmax60-sm { max-height: 60px; }
  .hmax80-sm { max-height: 80px; }
  .hmax100-sm { max-height: 100px; }
  .hmax120-sm { max-height: 120px; }
  .hmax140-sm { max-height: 140px; }
  .hmax160-sm { max-height: 160px; }
  .hmax180-sm { max-height: 180px; }
  .hmax200-sm { max-height: 200px; }
  .hmax400-sm { max-height: 400px; }
  .hmax600-sm { max-height: 600px; }
  .hmax800-sm { max-height: 800px; }
  .hmax1200-sm { max-height: 1200px; }
  .hmax1600-sm { max-height: 1600px; }
}

/**
 * Min heights. Increments by 5px up to 10px, by 10px up to 60px, by 20px up to 200px, by 200px up to 800px.
 *
 * @example
 *  <div class='hmin5'></div>
 *  <div class='hmin10'></div>
 *  <div class='hmin40'></div>
 *  <div class='hmin100'></div>
 *  <div class='hmin200'></div>
 */
.hmin5 { min-height: 5px; }
.hmin10 { min-height: 10px; }
.hmin20 { min-height: 20px; }
.hmin30 { min-height: 30px; }
.hmin40 { min-height: 40px; }
.hmin50 { min-height: 50px; }
.hmin60 { min-height: 60px; }
.hmin80 { min-height: 80px; }
.hmin100 { min-height: 100px; }
.hmin120 { min-height: 120px; }
.hmin140 { min-height: 140px; }
.hmin160 { min-height: 160px; }
.hmin180 { min-height: 180px; }
.hmin200 { min-height: 200px; }
.hmin400 { min-height: 400px; }
.hmin600 { min-height: 600px; }
.hmin800 { min-height: 800px; }

@media only screen and (max-width: 1824px) {
  .hmin5-lg { min-height: 5px; }
  .hmin10-lg { min-height: 10px; }
  .hmin20-lg { min-height: 20px; }
  .hmin30-lg { min-height: 30px; }
  .hmin40-lg { min-height: 40px; }
  .hmin50-lg { min-height: 50px; }
  .hmin60-lg { min-height: 60px; }
  .hmin80-lg { min-height: 80px; }
  .hmin100-lg { min-height: 100px; }
  .hmin120-lg { min-height: 120px; }
  .hmin140-lg { min-height: 140px; }
  .hmin160-lg { min-height: 160px; }
  .hmin180-lg { min-height: 180px; }
  .hmin200-lg { min-height: 200px; }
  .hmin400-lg { min-height: 400px; }
  .hmin600-lg { min-height: 600px; }
  .hmin800-lg { min-height: 800px; }
}

@media only screen and (max-width: 770px) {
  .hmin5-md { min-height: 5px; }
  .hmin10-md { min-height: 10px; }
  .hmin20-md { min-height: 20px; }
  .hmin30-md { min-height: 30px; }
  .hmin40-md { min-height: 40px; }
  .hmin50-md { min-height: 50px; }
  .hmin60-md { min-height: 60px; }
  .hmin80-md { min-height: 80px; }
  .hmin100-md { min-height: 100px; }
  .hmin120-md { min-height: 120px; }
  .hmin140-md { min-height: 140px; }
  .hmin160-md { min-height: 160px; }
  .hmin180-md { min-height: 180px; }
  .hmin200-md { min-height: 200px; }
  .hmin400-md { min-height: 400px; }
  .hmin600-md { min-height: 600px; }
  .hmin800-md { min-height: 800px; }
}

@media only screen and (max-width: 640px) {
  .hmin5-sm { min-height: 5px; }
  .hmin10-sm { min-height: 10px; }
  .hmin20-sm { min-height: 20px; }
  .hmin30-sm { min-height: 30px; }
  .hmin40-sm { min-height: 40px; }
  .hmin50-sm { min-height: 50px; }
  .hmin60-sm { min-height: 60px; }
  .hmin80-sm { min-height: 80px; }
  .hmin100-sm { min-height: 100px; }
  .hmin120-sm { min-height: 120px; }
  .hmin140-sm { min-height: 140px; }
  .hmin160-sm { min-height: 160px; }
  .hmin180-sm { min-height: 180px; }
  .hmin200-sm { min-height: 200px; }
  .hmin400-sm { min-height: 400px; }
  .hmin600-sm { min-height: 600px; }
  .hmin800-sm { min-height: 800px; }
}

/**
 * Match height of browser window.
 *
 * @example
 *  <div class='viewport-third'></div>
 *  <div class='viewport-half'></div>
 *  <div class='viewport-twothirds'></div>
 *  <div class='viewport-almost'></div>
 *  <div class='viewport-full'></div>
 */
.viewport-third { height: 33.3333vh; }
.viewport-half { height: 50vh; }
.viewport-twothirds { height: 66.6666vh; }
.viewport-almost { height: 90vh; }
.viewport-full { height: 100vh; }

@media only screen and (max-width: 1824px) {
  .viewport-third-lg { height: 33.3333vh; }
  .viewport-half-lg { height: 50vh; }
  .viewport-twothirds-lg { height: 66.6666vh; }
  .viewport-almost-lg { height: 90vh; }
  .viewport-full-lg { height: 100vh; }
}

@media only screen and (max-width: 770px) {
  .viewport-third-md { height: 33.3333vh; }
  .viewport-half-md { height: 50vh; }
  .viewport-twothirds-md { height: 66.6666vh; }
  .viewport-almost-md { height: 90vh; }
  .viewport-full-md { height: 100vh; }
}

@media only screen and (max-width: 640px) {
  .viewport-third-sm { height: 33.3333vh; }
  .viewport-half-sm { height: 50vh; }
  .viewport-twothirds-sm { height: 66.6666vh; }
  .viewport-almost-sm { height: 90vh; }
  .viewport-full-sm { height: 100vh; }
}
