/**
 * Sizing
 * @namespace Sizing
 */

/**
 * Widths. Increments by 5px up to 10px, by 10px up to 60px, by 20px up to 200px, and by 200px up to 800px.
 *
 * @example
 *  <div class='wid5'></div>
 *  <div class='wid10'></div>
 *  <div class='wid40'></div>
 *  <div class='wid100'></div>
 *  <div class='wid200'></div>
 */
.wid5 { width: 5px; }
.wid10 { width: 10px; }
.wid20 { width: 20px; }
.wid30 { width: 30px; }
.wid40 { width: 40px; }
.wid50 { width: 50px; }
.wid60 { width: 60px; }
.wid80 { width: 80px; }
.wid100 { width: 100px; }
.wid120 { width: 120px; }
.wid140 { width: 140px; }
.wid160 { width: 160px; }
.wid180 { width: 180px; }
.wid200 { width: 200px; }
.wid400 { width: 400px; }
.wid600 { width: 600px; }
.wid800 { width: 800px; }

/**
 * Heights. Increments by 5px up to 10px, by 10px up to 60px, by 20px up to 200px, and by 200px up to 800px.
 *
 * @example
 *  <div class='row-5'></div>
 *  <div class='row-10'></div>
 *  <div class='row-40'></div>
 *  <div class='row-100'></div>
 *  <div class='row-200'></div>
 */
.row5 { height: 5px; }
.row10 { height: 10px; }
.row20 { height: 20px; }
.row30 { height: 30px; }
.row40 { height: 40px; }
.row50 { height: 50px; }
.row60 { height: 60px; }
.row80 { height: 80px; }
.row100 { height: 100px; }
.row120 { height: 120px; }
.row140 { height: 140px; }
.row160 { height: 160px; }
.row180 { height: 180px; }
.row200 { height: 200px; }
.row400 { height: 400px; }
.row600 { height: 600px; }
.row800 { height: 800px; }

/**
 * Match height of browser window.
 *
 * @example
 *  <div class='row-full'></div>
 */

.row-third { height: 33.3333vh; }
.row-half { height: 50vh; }
.row-twothirds { height: 66.6666vh; }
.row-almost { height: 90vh; }
.row-full { height: 100vh; }
