/* stylelint-disable selector-no-combinator, selector-no-type */

/**
 * Use tables to display tabular data.
 * @section Tables
 */

/**
 * Standard table styling.
 *
 * @memberof Tables
 * @example
 *
 * <table class='table'>
 *   <thead>
 *     <tr>
 *       <th>Malesuada Tristique Commodo</th>
 *       <th>Nibh Commodo</th>
 *     </tr>
 *   </thead>
 *   <tr>
 *     <td>item</td>
 *     <td>item</td>
 *   </tr>
 *   <tr>
 *     <td>item</td>
 *     <td>item</td>
 *   </tr>
 * </table>
 *
 */
.table,
.prose table {
  width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid var(--gray-light);
}

.prose table {
  margin-bottom: 18px;
}

.table th,
.table td,
.prose table th,
.prose table td {
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid var(--gray-light);
  padding: 6px;
}

.table th + td,
.prose th + td {
  border-left: 1px solid var(--gray-light);
}

/**
 * Invert your table so it is legible on dark backgrounds.
 *
 * @example
 * <div class='bg-darken75 p12'>
 *   <table class='table table--dark'>
 *     <thead>
 *       <tr>
 *         <th>Malesuada Tristique Commodo</th>
 *         <th>Nibh Commodo</th>
 *       </tr>
 *     </thead>
 *     <tr>
 *       <td>item</td>
 *       <td>item</td>
 *     </tr>
 *     <tr>
 *       <td>item</td>
 *       <td>item</td>
 *     </tr>
 *   </table>
 * </div>
 *
 * @memberof Tables
 *
 */
.table--dark,
.prose--dark table {
  background: transparent;
  border-color: var(--white);
  color: var(--white);
}

.table--dark th,
.table--dark td,
.prose--dark th,
.prose--dark td {
  border-bottom-color: var(--white);
}

.table--dark th + td {
  border-left-color: var(--white);
}

/**
 * Force all rows in the table to be the same width.
 *
 * @memberof Tables
 * @example
 * <table class='table table--fixed'>
 *   <thead>
 *     <tr>
 *       <th>Malesuada Tristique Commodo</th>
 *       <th>Nibh Commodo</th>
 *     </tr>
 *   </thead>
 *   <tr>
 *     <td>item</td>
 *     <td>item</td>
 *   </tr>
 *   <tr>
 *     <td>item</td>
 *     <td>item</td>
 *   </tr>
 * </table>
 */
.table--fixed {
  table-layout: fixed;
}
