/**
 * Utility classes for theming.
 * @section Theming
*/

/**
 * Round classes.
 * - Choose the size of a border radius with `*-bold` and `*-full`.
 * - Target sides with `*-t`, `*-r`, `*-b`, `*-l`.
 * - Target corners with `*-tl`, `*-tr`, `*-bl`, `*-br`.
 *
 * @group
 * @memberof Theming
 * @example
 * <div class='flex'>
 *   <div class='col col--2 bg-gray color-white p10 mr10 round'>.round</div>
 *   <div class='col col--2 bg-gray color-white p10 mr10 round-bold-r'>.round-bold-r</div>
 *   <div class='col col--2 bg-gray color-white p10 round-full'>.round-full</div>
 * </div>
 */
.round { border-radius: var(--border-radius) !important; }
.round-t { border-radius: var(--border-radius) var(--border-radius) 0 0 !important; }
.round-r { border-radius: 0 var(--border-radius) var(--border-radius) 0 !important; }
.round-b { border-radius: 0 0 var(--border-radius) var(--border-radius) !important; }
.round-l { border-radius: var(--border-radius) 0 0 var(--border-radius) !important; }
.round-tl { border-top-left-radius: var(--border-radius) !important; }
.round-tr { border-top-right-radius: var(--border-radius) !important; }
.round-br { border-bottom-right-radius: var(--border-radius) !important; }
.round-bl { border-bottom-left-radius: var(--border-radius) !important; }
/** @endgroup */

.round-bold { border-radius: var(--border-radius-bold) !important; }
.round-bold-t { border-radius: var(--border-radius-bold) var(--border-radius-bold) 0 0 !important; }
.round-bold-r { border-radius: 0 var(--border-radius-bold) var(--border-radius-bold) 0 !important; }
.round-bold-b { border-radius: 0 0 var(--border-radius-bold) var(--border-radius-bold) !important; }
.round-bold-l { border-radius: var(--border-radius-bold) 0 0 var(--border-radius-bold) !important; }
.round-bold-tl { border-top-left-radius: var(--border-radius-bold) !important; }
.round-bold-tr { border-top-right-radius: var(--border-radius-bold) !important; }
.round-bold-br { border-bottom-right-radius: var(--border-radius-bold) !important; }
.round-bold-bl { border-bottom-left-radius: var(--border-radius-bold) !important; }

.round-full { border-radius: var(--border-radius-full) !important; }
.round-full-t { border-radius: var(--border-radius-full) var(--border-radius-full) 0 0 !important; }
.round-full-r { border-radius: 0 var(--border-radius-full) var(--border-radius-full) 0 !important; }
.round-full-b { border-radius: 0 0 var(--border-radius-full) var(--border-radius-full) !important; }
.round-full-l { border-radius: var(--border-radius-full) 0 0 var(--border-radius-full) !important; }
.round-full-tl { border-top-left-radius: var(--border-radius-full) !important; }
.round-full-tr { border-top-right-radius: var(--border-radius-full) !important; }
.round-full-br { border-bottom-right-radius: var(--border-radius-full) !important; }
.round-full-bl { border-bottom-left-radius: var(--border-radius-full) !important; }

/**
 * Border classes.
 * - `.border` will add a `1px` solid border. Target sides with `*-t`, `*-r`, `*-b`, `*-l`.
 * - For a thicker border, add the modifying class `.border--2`
 * - For a dashed border, add the modifying class `.border--dash`
 * - For a colored border, add the modifying class `.border--color` where color is a [color](#Colors-&-gradients).
 *
 * @group
 * @memberof Theming
 * @example
 * <div class='flex'>
 *  <div class='col col--2 p10 mr10 border'>.border</div>
 *  <div class='col col--2 p10 mr10 border-b'>.border-b</div>
 *  <div class='col col--2 p10 border border--dash'>.border.border--dash</div>
 * </div>
 */
.border { border: 1px solid !important; }

.border-l { border-left: 1px solid !important; }
.border-t { border-top: 1px solid !important; }
.border-r { border-right: 1px solid !important; }
.border-b { border-bottom: 1px solid !important; }
/** @endgroup */

.border--2 { border-width: 2px !important; }
.border--dash { border-style: dashed !important; }

/**
 * Shadow classes.
 * - Shadows come in `5px`, `10px`, `20px`, and `30px` variants.
 * - Append `-bold` for a more opaque shadow.
 * - Add shadows to text with `txt-shadow`.
 *
 * @group
 * @memberof Theming
 * @example
 * <div class='flex'>
 *   <div class='shadow-darken25'>.shadow-darken25</div>
 *   <div class='shadow-darken25-bold'>.shadow-darken25-bold</div>
 * </div>
 */
.shadow-darken5 { box-shadow: 0 0 10px 2px var(--darken5) !important; }
.shadow-darken10 { box-shadow: 0 0 10px 2px var(--darken10) !important; }
.shadow-darken25 { box-shadow: 0 0 10px 2px var(--darken25) !important; }
.shadow-darken50 { box-shadow: 0 0 10px 2px var(--darken50) !important; }

.shadow-lighten5 { box-shadow: 0 0 10px 2px var(--lighten5) !important; }
.shadow-lighten10 { box-shadow: 0 0 10px 2px var(--lighten10) !important; }
.shadow-lighten25 { box-shadow: 0 0 10px 2px var(--lighten25) !important; }
.shadow-lighten50 { box-shadow: 0 0 10px 2px var(--lighten50) !important; }
/** @endgroup */

.shadow-darken5-bold { box-shadow: 0 0 20px 2px var(--darken5) !important; }
.shadow-darken10-bold { box-shadow: 0 0 20px 2px var(--darken10) !important; }
.shadow-darken25-bold { box-shadow: 0 0 20px 2px var(--darken25) !important; }
.shadow-darken50-bold { box-shadow: 0 0 20px 2px var(--darken50) !important; }

.shadow-lighten5-bold { box-shadow: 0 0 20px 2px var(--lighten5) !important; }
.shadow-lighten10-bold { box-shadow: 0 0 20px 2px var(--lighten10) !important; }
.shadow-lighten25-bold { box-shadow: 0 0 20px 2px var(--lighten25) !important; }
.shadow-lighten50-bold { box-shadow: 0 0 20px 2px var(--lighten50) !important; }

/**
 * Opacity classes.
 * - Alpha classes come in `0%`, `25%`, `50%`, `75%`, and `100%` opacity variants.
 *
 * @group
 * @memberof Theming
 * @example
 * <div class='flex'>
 *   <div class='w400 alpha25'>.alpha25</div>
 *   <div class='w400 alpha50'>.alpha50</div>
 *   <div class='w400 alpha100'>.alpha100</div>
 * </div>
 */
.alpha0 { opacity: 0 !important; }
.alpha25 { opacity: 0.25 !important; }
.alpha50 { opacity: 0.5 !important; }
.alpha75 { opacity: 0.75 !important; }
.alpha100 { opacity: 1 !important; }
/** @endgroup */

.clip { overflow: hidden !important; }

/**
 * Cursor classes.
 * - Cursor is one of `default`, `pointer`, `crosshair`, or `move` on hover.
 *
 * @group
 * @memberof Theming
 * @example
 * <div class='flex'>
 *   <div class='w400 cursor-pointer'>.cursor-pointer</div>
 *   <div class='w400 cursor-crosshair'>.cursor-crosshair</div>
 *   <div class='w400 cursor-move'>.cursor-move</div>
 * </div>
 */
.cursor-default { cursor: default !important; }
.cursor-pointer { cursor: pointer !important; }
.cursor-crosshair { cursor: crosshair !important; }
.cursor-move { cursor: move !important; }
/** @endgroup */

/**
 * Change styling based on element hover, focus, and active states.
 * @section State modifiers
 * @memberof Theming
 */

/**
 * Control the shadow of elements in a hover, focus, or active state.
 *
 * @memberof State modifiers
 * @example
 * <div class='w400 hover-shadow-darken25'>.hover-shadow-darken25</div>
 * <div class='w400 is-active active-shadow-darken25'>.active-shadow-darken25.is-active</div>
 */

/**
 * Control the opacity of elements in a hover, focus, or active state.
 *
 * @group
 * @memberof State modifiers
 * @example
 * <div class='w400 hover-alpha25'>.hover-alpha25</div>
 */
.hover-alpha0:hover,
.focus-alpha0:focus,
.focus-alpha0.is-active,
.active-alpha0:active { opacity: 0 !important; }
.hover-alpha25:hover,
.focus-alpha25:focus,
.focus-alpha25.is-active,
.active-alpha25:active { opacity: 0.25 !important; }
.hover-alpha50:hover,
.focus-alpha50:focus,
.focus-alpha50.is-active,
.active-alpha50:active { opacity: 0.5 !important; }
.hover-alpha75:hover,
.focus-alpha75:focus,
.focus-alpha75.is-active,
.active-alpha75:active { opacity: 0.75 !important; }
.hover-alpha100:hover,
.focus-alpha100:focus,
.focus-alpha100.is-active,
.active-alpha100:active { opacity: 1 !important; }
/** @endgroup */
