/**
 * Utility classes for theming.
 * @section Theming
*/

/**
 * Round classes.
 * - Choose the size of a border radius with `*-bold` and `*-full`.
 * - Target sides with `*-t`, `*-r`, `*-b`, `*-l`.
 * - Target corners with `*-tl`, `*-tr`, `*-bl`, `*-br`.
 *
 * @group
 * @memberof Theming
 * @example
 * <div class='flex'>
 *   <div class='col col--2 bg-gray color-white p10 mr10 round'>.round</div>
 *   <div class='col col--2 bg-gray color-white p10 mr10 round-bold-r'>.round-bold-r</div>
 *   <div class='col col--2 bg-gray color-white p10 round-full'>.round-full</div>
 * </div>
 */
.round { border-radius: var(--border-radius) !important; }
.round-t { border-radius: var(--border-radius) var(--border-radius) 0 0 !important; }
.round-r { border-radius: 0 var(--border-radius) var(--border-radius) 0 !important; }
.round-b { border-radius: 0 0 var(--border-radius) var(--border-radius) !important; }
.round-l { border-radius: var(--border-radius) 0 0 var(--border-radius) !important; }
.round-tl { border-top-left-radius: var(--border-radius) !important; }
.round-tr { border-top-right-radius: var(--border-radius) !important; }
.round-br { border-bottom-right-radius: var(--border-radius) !important; }
.round-bl { border-bottom-left-radius: var(--border-radius) !important; }
/** @endgroup */

.round-bold { border-radius: var(--border-radius-bold) !important; }
.round-bold-t { border-radius: var(--border-radius-bold) var(--border-radius-bold) 0 0 !important; }
.round-bold-r { border-radius: 0 var(--border-radius-bold) var(--border-radius-bold) 0 !important; }
.round-bold-b { border-radius: 0 0 var(--border-radius-bold) var(--border-radius-bold) !important; }
.round-bold-l { border-radius: var(--border-radius-bold) 0 0 var(--border-radius-bold) !important; }
.round-bold-tl { border-top-left-radius: var(--border-radius-bold) !important; }
.round-bold-tr { border-top-right-radius: var(--border-radius-bold) !important; }
.round-bold-br { border-bottom-right-radius: var(--border-radius-bold) !important; }
.round-bold-bl { border-bottom-left-radius: var(--border-radius-bold) !important; }

.round-full { border-radius: var(--border-radius-full) !important; }
.round-full-t { border-radius: var(--border-radius-full) var(--border-radius-full) 0 0 !important; }
.round-full-r { border-radius: 0 var(--border-radius-full) var(--border-radius-full) 0 !important; }
.round-full-b { border-radius: 0 0 var(--border-radius-full) var(--border-radius-full) !important; }
.round-full-l { border-radius: var(--border-radius-full) 0 0 var(--border-radius-full) !important; }
.round-full-tl { border-top-left-radius: var(--border-radius-full) !important; }
.round-full-tr { border-top-right-radius: var(--border-radius-full) !important; }
.round-full-br { border-bottom-right-radius: var(--border-radius-full) !important; }
.round-full-bl { border-bottom-left-radius: var(--border-radius-full) !important; }

/**
 * Border classes.
 * - `.border` will add a `1px` solid border. Target sides with `*-t`, `*-r`, `*-b`, `*-l`.
 * - For a thicker border, add the modifying class `.border--2`
 * - For a dashed border, add the modifying class `.border--dash`
 * - For a colored border, add the modifying class `.border--color` where color is a [color](#Colors-&-gradients).
 *
 * @group
 * @memberof Theming
 * @example
 * <div class='flex'>
 *  <div class='col col--2 p10 mr10 border'>.border</div>
 *  <div class='col col--2 p10 mr10 border-b'>.border-b</div>
 *  <div class='col col--2 p10 border border--dash'>.border.border--dash</div>
 * </div>
 */
.border { border: 1px solid !important; }

.border-l { border-left: 1px solid !important; }
.border-t { border-top: 1px solid !important; }
.border-r { border-right: 1px solid !important; }
.border-b { border-bottom: 1px solid !important; }
/** @endgroup */

.border--2 { border-width: 2px !important; }
.border--dash { border-style: dashed !important; }

.border--gray-dark { border-color: var(--gray-dark) !important; }
.border--gray { border-color: var(--gray) !important; }
.border--gray-light { border-color: var(--gray-light) !important; }
.border--gray-faint { border-color: var(--gray-faint) !important; }
.border--pink-dark { border-color: var(--pink-dark) !important; }
.border--pink { border-color: var(--pink) !important; }
.border--pink-light { border-color: var(--pink-light) !important; }
.border--pink-faint { border-color: var(--pink-faint) !important; }
.border--red-dark { border-color: var(--red-dark) !important; }
.border--red { border-color: var(--red) !important; }
.border--red-light { border-color: var(--red-light) !important; }
.border--red-faint { border-color: var(--red-faint) !important; }
.border--orange-dark { border-color: var(--orange-dark) !important; }
.border--orange { border-color: var(--orange) !important; }
.border--orange-light { border-color: var(--orange-light) !important; }
.border--orange-faint { border-color: var(--orange-faint) !important; }
.border--yellow-dark { border-color: var(--yellow-dark) !important; }
.border--yellow { border-color: var(--yellow) !important; }
.border--yellow-light { border-color: var(--yellow-light) !important; }
.border--yellow-faint { border-color: var(--yellow-faint) !important; }
.border--green-dark { border-color: var(--green-dark) !important; }
.border--green { border-color: var(--green) !important; }
.border--green-light { border-color: var(--green-light) !important; }
.border--green-faint { border-color: var(--green-faint) !important; }
.border--teal-dark { border-color: var(--teal-dark) !important; }
.border--teal { border-color: var(--teal) !important; }
.border--teal-light { border-color: var(--teal-light) !important; }
.border--teal-faint { border-color: var(--teal-faint) !important; }
.border--blue-dark { border-color: var(--blue-dark) !important; }
.border--blue { border-color: var(--blue) !important; }
.border--blue-light { border-color: var(--blue-light) !important; }
.border--blue-faint { border-color: var(--blue-faint) !important; }
.border--purple-dark { border-color: var(--purple-dark) !important; }
.border--purple { border-color: var(--purple) !important; }
.border--purple-light { border-color: var(--purple-light) !important; }
.border--purple-faint { border-color: var(--purple-faint) !important; }
.border--darken5 { border-color: var(--darken5) !important; }
.border--darken10 { border-color: var(--darken10) !important; }
.border--darken25 { border-color: var(--darken25) !important; }
.border--darken50 { border-color: var(--darken50) !important; }
.border--darken75 { border-color: var(--darken75) !important; }
.border--lighten5 { border-color: var(--lighten5) !important; }
.border--lighten10 { border-color: var(--lighten10) !important; }
.border--lighten25 { border-color: var(--lighten25) !important; }
.border--lighten50 { border-color: var(--lighten50) !important; }
.border--lighten75 { border-color: var(--lighten75) !important; }
.border--black { border-color: var(--black) !important; }
.border--white { border-color: var(--white) !important; }

/**
 * Shadow classes.
 * - Shadows come in `5px`, `10px`, `20px`, and `30px` variants.
 * - Append `-bold` for a more opaque shadow.
 * - Add shadows to text with `txt-shadow`.
 *
 * @group
 * @memberof Theming
 * @example
 * <div class='flex'>
 *   <div class='shadow-darken25'>.shadow-darken25</div>
 *   <div class='shadow-darken25-bold'>.shadow-darken25-bold</div>
 * </div>
 */
.shadow-darken5 { box-shadow: 0 0 10px 2px var(--darken5) !important; }
.shadow-darken10 { box-shadow: 0 0 10px 2px var(--darken10) !important; }
.shadow-darken25 { box-shadow: 0 0 10px 2px var(--darken25) !important; }
.shadow-darken50 { box-shadow: 0 0 10px 2px var(--darken50) !important; }

.shadow-lighten5 { box-shadow: 0 0 10px 2px var(--lighten5) !important; }
.shadow-lighten10 { box-shadow: 0 0 10px 2px var(--lighten10) !important; }
.shadow-lighten25 { box-shadow: 0 0 10px 2px var(--lighten25) !important; }
.shadow-lighten50 { box-shadow: 0 0 10px 2px var(--lighten50) !important; }
/** @endgroup */

.shadow-darken5-bold { box-shadow: 0 0 20px 2px var(--darken5) !important; }
.shadow-darken10-bold { box-shadow: 0 0 20px 2px var(--darken10) !important; }
.shadow-darken25-bold { box-shadow: 0 0 20px 2px var(--darken25) !important; }
.shadow-darken50-bold { box-shadow: 0 0 20px 2px var(--darken50) !important; }

.shadow-lighten5-bold { box-shadow: 0 0 20px 2px var(--lighten5) !important; }
.shadow-lighten10-bold { box-shadow: 0 0 20px 2px var(--lighten10) !important; }
.shadow-lighten25-bold { box-shadow: 0 0 20px 2px var(--lighten25) !important; }
.shadow-lighten50-bold { box-shadow: 0 0 20px 2px var(--lighten50) !important; }

/**
 * Opacity classes.
 * - Alpha classes come in `0%`, `25%`, `50%`, `75%`, and `100%` opacity variants.
 *
 * @group
 * @memberof Theming
 * @example
 * <div class='flex'>
 *   <div class='w400 alpha25'>.alpha25</div>
 *   <div class='w400 alpha50'>.alpha50</div>
 *   <div class='w400 alpha100'>.alpha100</div>
 * </div>
 */
.alpha0 { opacity: 0 !important; }
.alpha25 { opacity: 0.25 !important; }
.alpha50 { opacity: 0.5 !important; }
.alpha75 { opacity: 0.75 !important; }
.alpha100 { opacity: 1 !important; }
/** @endgroup */

.clip { overflow: hidden !important; }

/**
 * Cursor classes.
 * - Cursor is one of `default`, `pointer`, `crosshair`, or `move` on hover.
 *
 * @group
 * @memberof Theming
 * @example
 * <div class='flex'>
 *   <div class='w400 cursor-pointer'>.cursor-pointer</div>
 *   <div class='w400 cursor-crosshair'>.cursor-crosshair</div>
 *   <div class='w400 cursor-move'>.cursor-move</div>
 * </div>
 */
.cursor-default { cursor: default !important; }
.cursor-pointer { cursor: pointer !important; }
.cursor-crosshair { cursor: crosshair !important; }
.cursor-move { cursor: move !important; }
/** @endgroup */

/**
 * Change styling based on element hover, focus, and active states.
 * @section State modifiers
 * @memberof Theming
 */

/**
 * Control the shadow of elements in a hover, focus, or active state.
 *
 * @group
 * @memberof State modifiers
 * @example
 * <div class='w400 hover-shadow-darken25'>.hover-shadow-darken25</div>
 * <div class='w400 is-active active-shadow-darken25'>.active-shadow-darken25.is-active</div>
 */
.hover-shadow-darken5:hover,
.focus-shadow-darken5:focus,
.active-shadow-darken5:active,
.active-shadow-darken5.is-active { box-shadow: 0 0 10px 2px var(--darken5) !important; }
.hover-shadow-darken10:hover,
.focus-shadow-darken10:focus,
.active-shadow-darken10:active,
.active-shadow-darken10.is-active { box-shadow: 0 0 10px 2px var(--darken10) !important; }
.hover-shadow-darken25:hover,
.focus-shadow-darken25:focus,
.active-shadow-darken25:active,
.active-shadow-darken25.is-active { box-shadow: 0 0 10px 2px var(--darken25) !important; }
.hover-shadow-darken50:hover,
.focus-shadow-darken50:focus,
.active-shadow-darken50:active,
.active-shadow-darken50.is-active { box-shadow: 0 0 10px 2px var(--darken50) !important; }

.hover-shadow-lighten5:hover,
.focus-shadow-lighten5:focus,
.active-shadow-lighten5:active,
.active-shadow-lighten5.is-active { box-shadow: 0 0 10px 2px var(--lighten5) !important; }
.hover-shadow-lighten10:hover,
.focus-shadow-lighten10:focus,
.active-shadow-lighten10:active,
.active-shadow-lighten10.is-active { box-shadow: 0 0 10px 2px var(--lighten10) !important; }
.hover-shadow-lighten25:hover,
.focus-shadow-lighten25:focus,
.active-shadow-lighten25:active,
.active-shadow-lighten25.is-active { box-shadow: 0 0 10px 2px var(--lighten25) !important; }
.hover-shadow-lighten50:hover,
.focus-shadow-lighten50:focus,
.active-shadow-lighten50:active,
.active-shadow-lighten50.is-active { box-shadow: 0 0 10px 2px var(--lighten50) !important; }
/** @endgroup */

.hover-shadow-darken5-bold:hover,
.focus-shadow-darken5-bold:focus,
.active-shadow-darken5-bold.is-active,
.active-shadow-darken5-bold:active { box-shadow: 0 0 20px 2px var(--darken5) !important; }
.hover-shadow-darken10-bold:hover,
.focus-shadow-darken10-bold:focus,
.active-shadow-darken10-bold.is-active,
.active-shadow-darken10-bold:active { box-shadow: 0 0 20px 2px var(--darken10) !important; }
.hover-shadow-darken25-bold:hover,
.focus-shadow-darken25-bold:focus,
.active-shadow-darken25-bold.is-active,
.active-shadow-darken25-bold:active { box-shadow: 0 0 20px 2px var(--darken25) !important; }
.hover-shadow-darken50-bold:hover,
.focus-shadow-darken50-bold:focus,
.active-shadow-darken50-bold.is-active,
.active-shadow-darken50-bold:active { box-shadow: 0 0 20px 2px var(--darken50) !important; }

.hover-shadow-lighten5-bold:hover,
.focus-shadow-lighten5-bold:focus,
.active-shadow-lighten5-bold:active { box-shadow: 0 0 20px 2px var(--lighten5) !important; }
.hover-shadow-lighten10-bold:hover,
.focus-shadow-lighten10-bold:focus,
.active-shadow-lighten10-bold:active { box-shadow: 0 0 20px 2px var(--lighten10) !important; }
.hover-shadow-lighten25-bold:hover,
.focus-shadow-lighten25-bold:focus,
.active-shadow-lighten25-bold.is-active,
.active-shadow-lighten25-bold:active { box-shadow: 0 0 20px 2px var(--lighten25) !important; }
.hover-shadow-lighten50-bold:hover,
.focus-shadow-lighten50-bold:focus,
.active-shadow-lighten50-bold.is-active,
.active-shadow-lighten50-bold:active { box-shadow: 0 0 20px 2px var(--lighten50) !important; }

/**
 * Control the opacity of elements in a hover, focus, or active state.
 *
 * @group
 * @memberof State modifiers
 * @example
 * <div class='w400 hover-alpha25'>.hover-alpha25</div>
 */
.hover-alpha0:hover,
.focus-alpha0:focus,
.focus-alpha0.is-active,
.active-alpha0:active { opacity: 0 !important; }
.hover-alpha25:hover,
.focus-alpha25:focus,
.focus-alpha25.is-active,
.active-alpha25:active { opacity: 0.25 !important; }
.hover-alpha50:hover,
.focus-alpha50:focus,
.focus-alpha50.is-active,
.active-alpha50:active { opacity: 0.5 !important; }
.hover-alpha75:hover,
.focus-alpha75:focus,
.focus-alpha75.is-active,
.active-alpha75:active { opacity: 0.75 !important; }
.hover-alpha100:hover,
.focus-alpha100:focus,
.focus-alpha100.is-active,
.active-alpha100:active { opacity: 1 !important; }
/** @endgroup */
