/**
 * Theming
 * @section Theming
*/

/**
 * Round classes.
 */
.round { border-radius: var(--border-radius); }
.round-t { border-radius: 4px 4px 0 0; }
.round-r { border-radius: 0 4px 4px 0; }
.round-b { border-radius: 0 0 4px 4px; }
.round-l { border-radius: 4px 0 0 4px; }
.round-tl { border-top-left-radius: 4px; }
.round-tr { border-top-right-radius: 4px; }
.round-br { border-bottom-right-radius: 4px; }
.round-bl { border-bottom-left-radius: 4px; }

.round-bold { border-radius: var(--border-radius-bold); }
.round-bold-t { border-radius: 8px 8px 0 0; }
.round-bold-r { border-radius: 0 8px 8px 0; }
.round-bold-b { border-radius: 0 0 8px 8px; }
.round-bold-l { border-radius: 8px 0 0 8px; }
.round-bold-tl { border-top-left-radius: 8px; }
.round-bold-tr { border-top-right-radius: 8px; }
.round-bold-br { border-bottom-right-radius: 8px; }
.round-bold-bl { border-bottom-left-radius: 8px; }

.round-full { border-radius: 50%; }
.round-full-t { border-radius: 50% 50% 0 0; }
.round-full-r { border-radius: 0 50% 50% 0; }
.round-full-b { border-radius: 0 0 50% 50%; }
.round-full-l { border-radius: 50% 0 0 50%; }
.round-full-tl { border-top-left-radius: 50%; }
.round-full-tr { border-top-right-radius: 50%; }
.round-full-br { border-bottom-right-radius: 50%; }
.round-full-bl { border-bottom-left-radius: 50%; }

/**
 * Border classes.
 */
.border { border: 1px solid; }
.border--2 { border-width: 2px; }
.border--dash { border-style: dashed; }

.border-l { border-left: 1px solid; }
.border-t { border-top: 1px solid; }
.border-r { border-right: 1px solid; }
.border-b { border-bottom: 1px solid; }

.border--gray { border-color: #acb4b9; }
.border--blue { border-color: #0077cc; }
.border--purple { border-color: #5500cc; }
.border--pink { border-color: #cc0077; }
.border--red { border-color: #cc0011; }
.border--orange { border-color: #cc5500; }
.border--mustard { border-color: #ffbf16; }
.border--yellow { border-color: #ffeb3b; }
.border--green { border-color: #11cc00; }
.border--teal { border-color: #3fbfbc; }
.border--cyan { border-color: #00ccbb; }
.border--denim { border-color: #34607f; }
.border--navy { border-color: #0a3a5c; }
.border--white { border-color: #fff; }
.border--light { border-color: #f2f2f2; }
.border--transparent { border-color: rgba(0, 0, 0, 0); }
.border--darken5 { border-color: var(--darken5); }
.border--darken10 { border-color: rgba(0, 0, 0, 0.1); }
.border--darken25 { border-color: var(--darken25); }
.border--darken50 { border-color: var(--darken50); }
.border--darken75 { border-color: var(--darken75); }
.border--lighten5 { border-color: rgba(255, 255, 255, 0.05); }
.border--lighten10 { border-color: var(--lighten10); }
.border--lighten25 { border-color: var(--lighten25); }
.border--lighten50 { border-color: var(--lighten50); }
.border--lighten75 { border-color: var(--lighten75); }

/**
 * Shadow classes.
 */
.shadow5 { box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3); }
.shadow10 { box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); }
.shadow20 { box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); }
.shadow30 { box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3); }
.shadow-bold5 { box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.9); }
.shadow-bold10 { box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9); }
.shadow-bold20 { box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.9); }
.shadow-bold30 { box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.9); }

/**
 * Visibility classes.
 */
.alpha0 { opacity: 0; }
.alpha25 { opacity: 0.25; }
.alpha50 { opacity: 0.5; }
.alpha75 { opacity: 0.75; }
.clip { overflow: hidden; }
