/**
 * Decorate elements with borders, shadows, opacity adjustments, and more.
 *
 * @section Theming
*/

/**
 * Add borders to an element.
 *
 * @section Borders
 * @memberof Theming
 */

/**
 * Add a `1px` border that is the same color as the element's text. Target sides with `*-t`, `*-r`, `*-b`, and `*-l`. Class set includes `*-mm`, `*-ml`, and `*-mxl` variations to target screen sizes.
 *
 * @group
 * @memberof Borders
 * @example
 * <div class='border'>border</div>
 * <div class='mt12 border-b'>border-b</div>
 */
.border { border: 1px solid !important; }
.border-t { border-top: 1px solid !important; }
.border-r { border-right: 1px solid !important; }
.border-b { border-bottom: 1px solid !important; }
.border-l { border-left: 1px solid !important; }
/** @endgroup */

@media (--m-screen) {
  .border-mm { border: 1px solid !important; }
  .border-t-mm { border-top: 1px solid !important; }
  .border-r-mm { border-right: 1px solid !important; }
  .border-b-mm { border-bottom: 1px solid !important; }
  .border-l-mm { border-left: 1px solid !important; }
}

@media (--l-screen) {
  .border-ml { border: 1px solid !important; }
  .border-t-ml { border-top: 1px solid !important; }
  .border-r-ml { border-right: 1px solid !important; }
  .border-b-ml { border-bottom: 1px solid !important; }
  .border-l-ml { border-left: 1px solid !important; }
}

@media (--xl-screen) {
  .border-mxl { border: 1px solid !important; }
  .border-t-mxl { border-top: 1px solid !important; }
  .border-r-mxl { border-right: 1px solid !important; }
  .border-b-mxl { border-bottom: 1px solid !important; }
  .border-l-mxl { border-left: 1px solid !important; }
}

/**
 *Make a border zero pixels wide. Class set includes `*-mm`, `*-ml`, and `*-mxl` variations to target screen sizes.
 *
 * @group
 * @memberof Borders
 * @example
 * <div class='border border-r--0'>border-r--0</div>
 */
.border--0 { border-width: 0 !important; }
.border-t--0 { border-top-width: 0 !important; }
.border-r--0 { border-right-width: 0 !important; }
.border-b--0 { border-bottom-width: 0 !important; }
.border-l--0 { border-left-width: 0 !important; }
/** @endgroup */

@media (--m-screen) {
  .border--0-mm { border-width: 0 !important; }
  .border-t--0-mm { border-top-width: 0 !important; }
  .border-r--0-mm { border-right-width: 0 !important; }
  .border-b--0-mm { border-bottom-width: 0 !important; }
  .border-l--0-mm { border-left-width: 0 !important; }
}

@media (--l-screen) {
  .border--0-ml { border-width: 0 !important; }
  .border-t--0-ml { border-top-width: 0 !important; }
  .border-r--0-ml { border-right-width: 0 !important; }
  .border-b--0-ml { border-bottom-width: 0 !important; }
  .border-l--0-ml { border-left-width: 0 !important; }
}

@media (--xl-screen) {
  .border--0-mxl { border-width: 0 !important; }
  .border-t--0-mxl { border-top-width: 0 !important; }
  .border-r--0-mxl { border-right-width: 0 !important; }
  .border-b--0-mxl { border-bottom-width: 0 !important; }
  .border-l--0-mxl { border-left-width: 0 !important; }
}

/**
 *Make a border two pixels wide.
 *
 * @memberof Borders
 * @example
 * <div class='border border--2'>border--2</div>
 */
.border--2 { border-width: 2px !important; }

/**
 *Make a border dashed instead of solid.
 *
 * @memberof Borders
 * @example
 * <div class='border border--dash'>border--dash</div>
 */
.border--dash { border-style: dashed !important; }

/**
 * Adjust the curve of an element's corners.
 *
 * @memberof Theming
 * @section Border radius
 */

/**
 * Round the corners of elements. Target sides with `*-t`, `*-r`, `*-b`, `*-l`. Target corners with `*-tl`, `*-tr`, `*-bl`, `*-br`.
 *
 * @group
 * @memberof Border radius
 * @example
 * <div class='bg-teal inline-block round'>round</div>
 * <div class='bg-teal inline-block ml6 round-tr'>round-tr</div>
 */
.round { border-radius: var(--border-radius) !important; }
.round-t { border-radius: var(--border-radius) var(--border-radius) 0 0 !important; }
.round-r { border-radius: 0 var(--border-radius) var(--border-radius) 0 !important; }
.round-b { border-radius: 0 0 var(--border-radius) var(--border-radius) !important; }
.round-l { border-radius: var(--border-radius) 0 0 var(--border-radius) !important; }
.round-tl { border-top-left-radius: var(--border-radius) !important; }
.round-tr { border-top-right-radius: var(--border-radius) !important; }
.round-br { border-bottom-right-radius: var(--border-radius) !important; }
.round-bl { border-bottom-left-radius: var(--border-radius) !important; }
/** @endgroup */

/**
 * Like `round`, but with twice the border radius.
 *
 * @group
 * @memberof Border radius
 * @example
 * <div class='bg-teal inline-block round-bold'>round-bold</div>
 * <div class='bg-teal inline-block ml6 round-tr-bold'>round-tr-bold</div>
 */
.round-bold { border-radius: var(--border-radius-bold) !important; }
.round-t-bold { border-radius: var(--border-radius-bold) var(--border-radius-bold) 0 0 !important; }
.round-r-bold { border-radius: 0 var(--border-radius-bold) var(--border-radius-bold) 0 !important; }
.round-b-bold { border-radius: 0 0 var(--border-radius-bold) var(--border-radius-bold) !important; }
.round-l-bold { border-radius: var(--border-radius-bold) 0 0 var(--border-radius-bold) !important; }
.round-tl-bold { border-top-left-radius: var(--border-radius-bold) !important; }
.round-tr-bold { border-top-right-radius: var(--border-radius-bold) !important; }
.round-br-bold { border-bottom-right-radius: var(--border-radius-bold) !important; }
.round-bl-bold { border-bottom-left-radius: var(--border-radius-bold) !important; }
/** @endgroup */

/**
 * Like `round`, but with fully round corners.
 *
 * @group
 * @memberof Border radius
 * @example
 * <div class='bg-teal inline-block round-full'>round-full</div>
 * <div class='bg-teal inline-block ml6 round-tr-full'>round-tr-full</div>
 */
.round-full { border-radius: var(--border-radius-full) !important; }
.round-t-full { border-radius: var(--border-radius-full) var(--border-radius-full) 0 0 !important; }
.round-r-full { border-radius: 0 var(--border-radius-full) var(--border-radius-full) 0 !important; }
.round-b-full { border-radius: 0 0 var(--border-radius-full) var(--border-radius-full) !important; }
.round-l-full { border-radius: var(--border-radius-full) 0 0 var(--border-radius-full) !important; }
.round-tl-full { border-top-left-radius: var(--border-radius-full) !important; }
.round-tr-full { border-top-right-radius: var(--border-radius-full) !important; }
.round-br-full { border-bottom-right-radius: var(--border-radius-full) !important; }
.round-bl-full { border-bottom-left-radius: var(--border-radius-full) !important; }
/** @endgroup */

/**
 * Unround the corners of elements. Target sides with `*-t`, `*-r`, `*-b`, `*-l`. Target corners with `*-tl`, `*-tr`, `*-bl`, `*-br`.
 *
 * @group
 * @memberof Border radius
 * @example
 * <input type='text' class='input unround' placeholder='.unround' />
 */
.unround { border-radius: 0 !important; }
.unround-t { border-top-left-radius: 0 !important; border-top-right-radius: 0 !important; }
.unround-r { border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important; }
.unround-b { border-bottom-left-radius: 0 !important; border-bottom-right-radius: 0 !important; }
.unround-l { border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important; }
.unround-tl { border-top-left-radius: 0 !important; }
.unround-tr { border-top-right-radius: 0 !important; }
.unround-br { border-bottom-right-radius: 0 !important; }
.unround-bl { border-bottom-left-radius: 0 !important; }
/** @endgroup */

/**
 * Apply outer shadows that add emphasis to elements or structure to layouts. Class naming follows the pattern `shadow-<lighten|darken><alpha>`.
 *
 * @section Shadows
 * @memberof Theming
 */

/**
 * Apply a box shadow.
 *
 * @group
 * @memberof Shadows
 * @example
 * <div class='shadow-darken25'>shadow-darken25</div>
 */
.shadow-darken5 { box-shadow: 0 0 10px 2px var(--darken5) !important; }
.shadow-darken10 { box-shadow: 0 0 10px 2px var(--darken10) !important; }
.shadow-darken25 { box-shadow: 0 0 10px 2px var(--darken25) !important; }
.shadow-darken50 { box-shadow: 0 0 10px 2px var(--darken50) !important; }

.shadow-lighten5 { box-shadow: 0 0 10px 2px var(--lighten5) !important; }
.shadow-lighten10 { box-shadow: 0 0 10px 2px var(--lighten10) !important; }
.shadow-lighten25 { box-shadow: 0 0 10px 2px var(--lighten25) !important; }
.shadow-lighten50 { box-shadow: 0 0 10px 2px var(--lighten50) !important; }
/** @endgroup */

/**
 * Apply a larger box shadow.
 *
 * @group
 * @memberof Shadows
 * @example
 * <div class='mt6 shadow-darken25-bold'>shadow-darken25-bold</div> */
.shadow-darken5-bold { box-shadow: 0 0 30px 6px var(--darken5) !important; }
.shadow-darken10-bold { box-shadow: 0 0 30px 6px var(--darken10) !important; }
.shadow-darken25-bold { box-shadow: 0 0 30px 6px var(--darken25) !important; }
.shadow-darken50-bold { box-shadow: 0 0 30px 6px var(--darken50) !important; }

.shadow-lighten5-bold { box-shadow: 0 0 30px 6px var(--lighten5) !important; }
.shadow-lighten10-bold { box-shadow: 0 0 30px 6px var(--lighten10) !important; }
.shadow-lighten25-bold { box-shadow: 0 0 30px 6px var(--lighten25) !important; }
.shadow-lighten50-bold { box-shadow: 0 0 30px 6px var(--lighten50) !important; }
/** @endgroup */

/**
 * Set the style of the cursor when hovering over an element.
 *
 * @section Cursors
 * @memberof Theming
 */

/**
 * Set the `cursor` property value of an element.
 *
 * @group
 * @memberof Cursors
 * @example
 * <div class='cursor-pointer'>cursor-pointer</div>
 * <div class='cursor-crosshair'>cursor-crosshair</div>
 * <div class='cursor-move'>cursor-move</div>
 * <div class='cursor-notallowed'>cursor-notallowed</div>
 */
.cursor-default { cursor: default !important; }
.cursor-pointer { cursor: pointer !important; }
.cursor-crosshair { cursor: crosshair !important; }
.cursor-move { cursor: move !important; }
.cursor-notallowed { cursor: not-allowed !important; }
/** @endgroup */

/**
 * Dim elements, or hide them from the document flow  without removing them.
 *
 * @section Opacity
 * @memberof Theming
 */

/**
 * Apply an opacity.
 *
 * @group
 * @memberof Opacity
 * @example
 * <div class='alpha25'>alpha25</div>
 * <div class='alpha50'>alpha50</div>
 * <div class='alpha100'>alpha100</div>
 */
.alpha0 { opacity: 0 !important; }
.alpha25 { opacity: 0.25 !important; }
.alpha50 { opacity: 0.5 !important; }
.alpha75 { opacity: 0.75 !important; }
.alpha100 { opacity: 1 !important; }
/** @endgroup */

/**
 * Apply an opacity on hover and active states.
 *
 * `.alpha100-on-focus` is also available to make an otherwise transparent element opaque on focus.
 *
 * @group
 * @memberof Opacity
 * @example
 * <div class='alpha25-on-hover'>alpha25-on-hover</div>
 * <div class='alpha25-on-active'>alpha25-on-active (inactive)</div>
 * <div class='alpha25-on-active is-active'>alpha25-on-active (active)</div>
 * <button class='alpha0 alpha100-on-focus'>alpha100-on-focus</button>
 */
.alpha0-on-hover:hover,
.alpha0-on-active.is-active { opacity: 0 !important; }
.alpha25-on-hover:hover,
.alpha25-on-active.is-active { opacity: 0.25 !important; }
.alpha50-on-hover:hover,
.alpha50-on-active.is-active { opacity: 0.5 !important; }
.alpha75-on-hover:hover,
.alpha75-on-active.is-active { opacity: 0.75 !important; }
.alpha100-on-hover:hover,
.alpha100-on-active.is-active,
.alpha100-on-focus:focus { opacity: 1 !important; }
/** @endgroup */
