/* stylelint-disable selector-no-combinator, selector-no-type */
/**
 * Inline elements
*/

body,
input,
textarea {
  color: rgba(0, 0, 0, 0.75);
  font: 16px/1.25 'Open Sans', sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

/**
 * Type utilities
 * @memberof Typography
*/
.txt-strong {
  font-weight: bold;
}

.txt-strong.txt-em {
  font-weight: bold;
  font-style: italic;
}

.txt-em {
  font-style: italic;
}

.txt-small {
  font-size: 14px;
  line-height: 20px;
}

.txt-micro {
  font-size: 12px;
  line-height: 20px;
}

/**
 * Text/prose classes
 * @namespace txt
 * @memberof Typography
*/

/**
 *  txt-styled headlines and paragraph.
 *
 * @example
 *  <div class="txt">
 *    <h1>Headline 1</h1>
 *    <h2>Headline 2</h2>
 *    <h3>Headline 3</h3>
 *    <h4>Headline 4</h4>
 *    <h5>Headline 5</h5>
 *    <h6>Headline 6</h6>
 *    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <strong>Incidunt magnam</strong>, cum consectetur maiores corrupti nulla iste saepe <em>porro repellat</em> beatae modi laudantium laborum magni voluptate impedit sint pariatur?</p>
 *  </div>
*/
.txt p,
.txt-p {
  margin-bottom: 25px;
}

.txt-h1,
.txt h1,
.txt-h2,
.txt h2,
.txt-h3,
.txt h3,
.txt-h4,
.txt h4,
.txt-h5,
.txt h5,
.txt-h6,
.txt h6 {
  font-weight: bold;
  margin-bottom: 25px;
}

.txt-h1,
.txt h1 {
  margin-top: 12.1216px;
  font-size: 33px;
  line-height: 1.5152;
}

.txt-h2,
.txt h2 {
  margin-top: 14.8144px;
  font-size: 27px;
  line-height: 1.8519;
}

.txt-h3,
.txt h3 {
  margin-top: 17.392px;
  font-size: 23px;
  line-height: 1.087;
}

.txt-h4,
.txt h4 {
  margin-top: 21.0528px;
  font-size: 19px;
  line-height: 1.3158;
}

.txt-h5,
.txt-h6,
.txt h5,
.txt h6 {
  margin-top: 25px;
  font-size: 16px;
  line-height: 1.5625;
}

.txt h1:first-child,
.txt h2:first-child,
.txt h3:first-child,
.txt h4:first-child,
.txt h5:first-child,
.txt h6:first-child {
  margin-top: 0;
}

.txt-p,
.txt p {
  line-height: 25px;
}

.txt p:last-child {
  margin-bottom: 0;
}

.txt em h1,
.txt h1 em,
.txt em h2,
.txt h2 em,
.txt em h3,
.txt h3 em,
.txt em h4,
.txt h4 em,
.txt em h5,
.txt h5 em,
.txt em h6,
.txt h6 em {
  font-weight: bold;
  font-style: italic;
}

/* stylelint-disable selector-no-universal */
.txt *:target {
  padding-top: 20px;
}
/* stylelint-enable selector-no-universal */

/**
 * Type classes
 * @namespace typ
 * @memberof Typography
*/
/**
 *  txt-styled headlines and paragraph.
 *
 * @example
 *  <div class="txt">
 *    <h1 class='typ-light'>Light</h1>
 *    <h1 class='typ-regular'>Regular</h1>
 *    <h1 class='typ-headine'>Headline</h1>
 *  </div>
*/
.typ-light,
.txt .typ-light {
  font-weight: lighter;
}

.typ-regular,
.txt .typ-regular {
  font-weight: normal;
}

.typ-headline {
  font-family: 'Headline', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}
